
ALTER proc [dbo].[constraint_Save]
@id_constraint bigint,
@des nvarchar(80),
@pdate datetime,
@total float,
-----------------------------------------------
@debt float,
@credit float,

@debt_name nvarchar(80),
@credit_name nvarchar(80) ,
@CostCenter nvarchar(100) ,
@user_name nvarchar(50) ,
@counter int,
@id_CashCome bigint,
@id_CashOut bigint ,
@idBill nvarchar(20), 
@CurrencyPrice float,
@Action_Type int,
@delegateSal nvarchar(250) 
as
              
DECLARE @id_debt bigint=0
SELECT  @id_debt= id from tree where aname=@debt_name
 --------------------------------------      
DECLARE @id_credit bigint=0  
SELECT  @id_credit= id from tree where aname=@credit_name
-------------------
if @counter =0
delete from constraint_details where id_constraint=@id_constraint


DECLARE @Count_ID bigint
SELECT  @Count_ID= COUNT(*) from constraint_invoice where id_constraint=@id_constraint

IF @Count_ID <=0
BEGIN
DECLARE @id_shift bigint
SELECT  @id_shift= isnull(Current_shift,0) from ZZproperties
insert into constraint_invoice (des,pdate,total,id_CashCome,id_CashOut,CostCenter,user_name ,idBill,CurrencyPrice ,Action_Type,delegateSal,id_shift) values (@des,@pdate,@Total,@id_CashCome,@id_CashOut,@CostCenter,@user_name,@idBill,@CurrencyPrice,@Action_Type,@delegateSal,@id_shift)
 set @id_constraint=@@IDENTITY 
 END
 ELSE          
                 BEGIN
                 UPDATE  constraint_invoice SET CurrencyPrice=@CurrencyPrice, idBill=@idBill, des=@des,pdate=@pdate, total=@Total ,CostCenter=@CostCenter,user_name=@user_name,Action_Type=@Action_Type ,delegateSal=@delegateSal where id_constraint=@id_constraint             
 END
 -----------------------------------------------
 INSERT INTO  constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name,Action_Type ) values (@id_constraint,@debt,@credit,@id_debt,@id_credit,@debt_name,@credit_name,@Action_Type)

