
ALTER PROC [dbo].[FixBalance]
@id_Account bigint
AS
BEGIN

 DECLARE @id bigint
 DECLARE @balance decimal(18, 2)
 DECLARE @pdate date
 DECLARE @new_balance decimal(18, 2)
DECLARE Cursor1 CURSOR LOCAL FOR 
SELECT isnull(debt,0)-isnull(credit,0),pdate,id from Tree_Account where id_Account=@id_Account order by pdate

OPEN Cursor1
FETCH NEXT FROM Cursor1 into @balance,@pdate,@id
WHILE @@FETCH_STATUS = 0
    BEGIN
     SELECT @new_balance=isnull(@new_balance,0)+isnull(@balance,0)
         update Tree_Account set balance =isnull(@new_balance,0) where  id=@id
         FETCH NEXT FROM Cursor1 into @balance,@pdate,@id
    END
  CLOSE Cursor1
  DEALLOCATE Cursor1
  END
