
create proc [dbo].[SetBeginAccount]
as

Delete from constraint_invoice
dbcc checkident(constraint_invoice,reseed,0)
Delete from constraint_details
Dbcc checkident(constraint_details,reseed,0)


Declare @StopPaperConstraint BIT=1
SELECT @StopPaperConstraint= StopPaperConstraint FROM ZZproperties
IF @StopPaperConstraint<>1 
BEGIN
delete from dbo.PaperCome
dbcc checkident(PaperCome,reseed,0)
delete from dbo.PaperOut
dbcc checkident(PaperOut,reseed,0)
End


delete from dbo.Tree_Account
dbcc checkident(Tree_Account,reseed,0)
