

create proc [dbo].[SetBeginTree]

as


Delete from dbo.MyProduct 
dbcc checkident(MyProduct,reseed,0)
delete from  dbo.Delivery_box
dbcc checkident(Delivery_box,reseed,0)
delete from dbo.JopTime
dbcc checkident(JopTime,reseed,0)
delete from dbo.serial
dbcc checkident(serial,reseed,0)
delete from dbo.Sizee
dbcc checkident(Sizee,reseed,0)

delete from PurTransfer
dbcc checkident([PurTransfer],reseed,0)

delete from Pur_Details 
dbcc checkident(Pur_Details,reseed,0)
delete from Pur_Invoice
delete from RPur_Details
dbcc checkident(RPur_Details,reseed,0)
delete from RPur_Invoice
delete from Sal_Details
dbcc checkident(sal_Details,reseed,0)
delete from Sal_Deleted
dbcc checkident(Sal_Deleted,reseed,0)
delete from Sal_Invoice
delete from RSal_Details
dbcc checkident(Rsal_Details,reseed,0)
delete from RSal_Invoice

delete from  item_Request
dbcc checkident(item_Request,reseed,0)
delete from  dbo.item_Requ
dbcc checkident(item_Requ,reseed,0)

delete from dbo.ItemAmortization_details
dbcc checkident(ItemAmortization_details,reseed,0)
delete from dbo.ItemAmortization_invoice

delete from dbo.ItemBarcode
dbcc checkident(ItemBarcode,reseed,0)


delete from dbo.ItemMaking_Details
dbcc checkident(ItemMaking_Details,reseed,0)
delete from dbo.ItemMaking_Invoice 
delete from dbo.Store_details
dbcc checkident(Store_details,reseed,0)
delete from dbo.store_Invoice
delete from Item_store 
dbcc checkident(Item_store,reseed,0)