
CREATE trigger [dbo].[UpdateDelegate]
on [dbo].[Z_delegate]
for update
AS
BEGIN
DECLARE @delegateNameNow nvarchar(100)
DECLARE @delegateNameOld nvarchar(100)

select @delegateNameOld=aname  from deleted 
select @delegateNameNow=aname  from inserted
UPDATE Sal_Invoice SET delegateName=@delegateNameNow WHERE delegateName=@delegateNameOld
UPDATE RSal_Invoice SET delegateName=@delegateNameNow WHERE delegateName=@delegateNameOld

END


