
create trigger [dbo].[UpdateCostCenter]
on [dbo].[z_CostCenter]
for update
AS
BEGIN
DECLARE @CostCenterNameNow nvarchar(100)
DECLARE @CostCenterNameOld nvarchar(100)

select @CostCenterNameOld=aname  from deleted 
select @CostCenterNameNow=aname  from inserted
UPDATE Sal_Invoice SET CostCenter=@CostCenterNameNow WHERE CostCenter=@CostCenterNameOld
UPDATE RSal_Invoice SET CostCenter=@CostCenterNameNow WHERE CostCenter=@CostCenterNameOld
UPDATE RPUR_Invoice SET CostCenter=@CostCenterNameNow WHERE CostCenter=@CostCenterNameOld
UPDATE PUR_Invoice SET CostCenter=@CostCenterNameNow WHERE CostCenter=@CostCenterNameOld
UPDATE constraint_invoice SET CostCenter=@CostCenterNameNow WHERE CostCenter=@CostCenterNameOld
UPDATE Tree_Account SET CostCenter=@CostCenterNameNow WHERE CostCenter=@CostCenterNameOld
UPDATE ItemAmortization_invoice SET CostCenter=@CostCenterNameNow WHERE CostCenter=@CostCenterNameOld
UPDATE Item_store  SET CostCenter=@CostCenterNameNow WHERE CostCenter=@CostCenterNameOld

END


