

create trigger [dbo].[insert_constraint]
on [dbo].[Tree]
for insert
AS
BEGIN
declare @id_account bigint
select @id_account=id from inserted
declare @pdate date
select @pdate=pdate from inserted

declare @id_Capital bigint
select @id_Capital=id from Tree where aname = 'رأس المال'

declare @Begin_balance float
select @Begin_balance=isnull(Begin_balance,0) from inserted

declare @CurrencyPrice float
select @CurrencyPrice=isnull(CurrencyPrice,0) from inserted

declare @aname nvarchar(80)
select @aname=aname  from inserted

declare @id_constraint bigint
IF @id_account<>@id_Capital 
BEGIN
if @Begin_balance <>0
BEGIN
           INSERT INTO constraint_invoice
                        (des,pdate,total,id_account,CurrencyPrice)
            values
                        ('الرصيــد  الافتتــاحى'+' '+@aname ,@pdate ,ABS(@Begin_balance),@id_account,@CurrencyPrice)
 
     set @id_constraint =@@IDENTITY 
     IF @Begin_balance>0
     BEGIN
		 INSERT INTO  constraint_details
						  (id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )
		  values
						  (@id_constraint,@Begin_balance,@Begin_balance,@id_account,@id_Capital,@aname,'رأس المال')
		  END
	ELSE
	     BEGIN
		 INSERT INTO  constraint_details
						  (id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )
		  values
						  (@id_constraint,abs(@Begin_balance),abs(@Begin_balance),@id_Capital,@id_account,'رأس المال',@aname)
		  END
	END	
		 DECLARE @b float
     SELECT @b =SUM(isnull(Begin_balance,0)) from Tree where id<>@id_Capital
     IF isnull(@b,0)>0 update Tree set Begin_balance=@b*-1 where id=@id_Capital 
     IF isnull(@b,0)<0 update Tree set Begin_balance=ABS(@b) where id=@id_Capital 
  
END
END