
CREATE  trigger [dbo].[DeleteBalance]
on [dbo].[Item_store]
for delete
AS
BEGIN
declare @id_item bigint
select @id_item =id_item  from deleted  
EXECUTE ItemClacBalance @id_item
declare @id_store bigint
select @id_store =id_store  from deleted
DECLARE @ViisbleExpire BIT=1 
SELECT @ViisbleExpire= ViisbleExpire FROM ZZproperties
IF @ViisbleExpire=1 EXECUTE ItemClacExpire  @id_item , @id_store


END