
create  trigger [dbo].[UpdateBalance]
on [dbo].[Item_store]
for update
AS
BEGIN
declare @id_item bigint
select  @id_item =id_item  from inserted 
declare @id_store bigint
select @id_store =id_store  from inserted
 EXECUTE ItemClacBalance @id_item
DECLARE @ViisbleExpire BIT=1 
SELECT @ViisbleExpire= ViisbleExpire FROM ZZproperties
IF @ViisbleExpire=1 EXECUTE ItemClacExpire @id_item , @id_store
END