

create trigger [dbo].[UpdateStoreName]
on [dbo].[Z_Stores]
for update
AS
BEGIN
DECLARE @StoreNameNow nvarchar(100)
DECLARE @StoreNameOld nvarchar(100)

select @StoreNameOld=aname  from deleted 
select @StoreNameNow=aname  from inserted
UPDATE item SET StoreName=@StoreNameNow WHERE StoreName=@StoreNameOld
UPDATE Store_details SET storeFrom =@StoreNameNow WHERE storeFrom=@StoreNameOld
UPDATE Store_details SET storeTo =@StoreNameNow WHERE storeTo=@StoreNameOld

END


