
CREATE trigger [dbo].[update_constraint]
on [dbo].[Tree]
for update
AS
BEGIN

     DECLARE @id_account bigint
     DECLARE @Begin_balance float
     DECLARE @Aname nvarchar(200) 
     SELECT @id_account=id,@Begin_balance=isnull(Begin_balance,0),@Aname=aname  from inserted
       
     DECLARE @id_Capital bigint
     SELECT @id_Capital=id from Tree where aname = 'رأس المال'
     
     declare @CurrencyPrice float
   select @CurrencyPrice=isnull(CurrencyPrice,0) from inserted
       
  update constraint_details  set debt_name=@Aname where isnull(id_debt,0) =@id_account and isnull(id_debt,0) >0
  update constraint_details  set credit_name =@Aname where isnull(id_credit ,0) =@id_account and isnull(id_credit,0) >0
   
     delete from  constraint_invoice where id_account=@id_account
     IF isnull(@Begin_balance,0) <>0 and isnull(@id_account,0) <>0 and isnull(@id_account,0)<>isnull(@id_Capital,0)
     BEGIN
          DECLARE @pdate date
            SELECT @pdate=pdate from inserted 
            DECLARE @BeginDate Date
           SELECT @BeginDate=min(pdate) from Tree_Account where id_Account =@id_account 
           if @pdate>@BeginDate set @pdate=dateadd(DAY ,-1,@BeginDate ) 

            INSERT INTO constraint_invoice (des,pdate,total,id_account,CurrencyPrice) values   ('الرصيــد  الافتتــاحى'+' '+@Aname,@pdate ,ABS(@Begin_balance),@id_account,@CurrencyPrice)
            DECLARE @id_constraint bigint =@@IDENTITY 
              IF isnull(@Begin_balance,0)>0 INSERT INTO  constraint_details (id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name ) values (@id_constraint,@Begin_balance,@Begin_balance,@id_account,@id_Capital,@Aname,'رأس المال')
	          IF isnull(@Begin_balance,0)<0	 INSERT INTO  constraint_details (id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name ) values (@id_constraint,abs(@Begin_balance),abs(@Begin_balance),@id_Capital,@id_account,'رأس المال',@Aname)	    
	 DECLARE @b float
     SELECT @b =SUM(isnull(Begin_balance,0)) from Tree where id<>@id_Capital
     IF isnull(@b,0)>0 update Tree set Begin_balance=@b*-1 where id=@id_Capital 
     IF isnull(@b,0)<0 update Tree set Begin_balance=ABS(@b) where id=@id_Capital 
 END
 END