

create PROCEDURE [dbo].[ItemsFill]
@parmter_name nvarchar(80)

as 
DECLARE @VisbleThreeUnit BIT=1 
SELECT @VisbleThreeUnit= VisbleThreeUnit FROM ZZproperties

IF @parmter_name ='BalanceOnly'
     BEGIN
           IF @VisbleThreeUnit=1
              BEGIN
SELECT     TOP (100) PERCENT case when isnull(Item.cost,0)=0 then 0 else ROUND(CONVERT(FLOAT,(Item.BigPr0 - Item.cost) / (Item.cost) * 100), 2) end as PercentProfit ,dbo.Item.id_item, dbo.Item.ARname,dbo.Item.Ticket, dbo.Item.InternationalCode, dbo.Item.ShortName, dbo.Item.ENname, dbo.Item.IdTypeItem1, 
                      dbo.Item.IdTypeItem2, dbo.Item.IdTypeItem3,dbo.Item.MaxSalDiscount, dbo.Item.IdBigUnit, dbo.Item.IdMiddellUnit, dbo.Item.IdSmallUnit, dbo.Item.PurchasePrice ,Item.keep
                      , ROUND(CONVERT(FLOAT, dbo.Item.Dioscount_main),10) AS Dioscount_main, ROUND(CONVERT(FLOAT,Item.Dioscount_over),10) as Dioscount_over, dbo.Item.Day_Recession, 
                      dbo.Item.Minimum, ROUND(CONVERT(FLOAT, dbo.Item.Discount0),10) as Discount0, ROUND(CONVERT(FLOAT, dbo.Item.Discount1),10) as Discount1, ROUND(CONVERT(FLOAT,dbo.Item.Discount2),10) as Discount2, ROUND(CONVERT(FLOAT, dbo.Item.Tax),10) as Tax, dbo.Item.CountMiddel, dbo.Item.CountSmall, ROUND(CONVERT(FLOAT, 
                      dbo.Item.BigPr0),10) AS BigPr0,ROUND(CONVERT(FLOAT, dbo.Item.PublicPr),10) AS PublicPr, ROUND(CONVERT(FLOAT,dbo.Item.BigPr1),2) AS BigPr1, ROUND(CONVERT(FLOAT,dbo.Item.BigPr2),2)AS BigPr2,ROUND(CONVERT(FLOAT,dbo.Item.BigPr3),2) AS BigPr3,ROUND(CONVERT(FLOAT,dbo.Item.BigPr4),2) AS BigPr4, ROUND(CONVERT(FLOAT,dbo.Item.MIDPr0),2)AS MIDPr0, ROUND(CONVERT(FLOAT,dbo.Item.MIDPr1),2) AS MIDPr1, ROUND(CONVERT(FLOAT,dbo.Item.MIDPr2),2) AS MIDPr2, ROUND(CONVERT(FLOAT,dbo.Item.SmallPr0),2) AS SmallPr0, ROUND(CONVERT(FLOAT,dbo.Item.SmallPr1),2) AS SmallPr1, 
                      dbo.Item.SmallPr2, dbo.Item.BeginBalance0, dbo.Item.BeginBalance1, dbo.Item.BeginBalance2, dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, 
                      dbo.Item.CurrentBalance2, dbo.Item.TYPE, dbo.Item.Deleted, dbo.Item.cost, LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance0, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance1, 0)))) + ' ' + LTRIM(RTRIM(STR(dbo.Item.BeginBalance2))) AS BeginBalance,ROUND(CONVERT(float, (net_balance * BigPr0)), 2) AS TotalSal,
                      LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance0, 0)))) + ' ' +  LTRIM(RTRIM(CONVERT(nvarchar(8),(ISNULL(dbo.Item.CurrentBalance1, 0))))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance2, 0)))) AS Balance, dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, 
                      dbo.Z_TypeItem3.aname AS TypeItem3, dbo.Z_TypeItem4.aname AS TypeItem4, dbo.Z_TypeItem5.aname AS TypeItem5, dbo.Z_TypeItem6.aname AS TypeItem6, 
                      dbo.Z_TypeItem7.aname AS TypeItem7, dbo.Z_BigUnit.aname AS BigUnit, dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, 
                      dbo.Item.net_balance, dbo.Item.IsExpire, dbo.Item.MoreCheck, dbo.Item.CountMetr,ROUND(CONVERT(FLOAT,dbo.Item.commission),2) AS commission,Item.locationn,Item.StoreName,
                      CASE WHEN [TYPE] = 1 THEN 'محظور' WHEN [TYPE] = 2 THEN 'ممنوع من العرض' WHEN [TYPE] = 3 THEN 'انتاج تام' WHEN [TYPE] = 4 THEN 'خدمه' WHEN [TYPE] = 5 THEN 'عهده' WHEN [TYPE] = 6 THEN 'نواقص' ELSE 'عادى' END AS TypeName,IsImported
FROM         dbo.Item LEFT OUTER JOIN
                      dbo.Z_TypeItem4 ON dbo.Item.IdTypeItem4 = dbo.Z_TypeItem4.id LEFT OUTER JOIN
                      dbo.Z_TypeItem5 ON dbo.Item.IdTypeItem5 = dbo.Z_TypeItem5.id LEFT OUTER JOIN
                      dbo.Z_TypeItem6 ON dbo.Item.IdTypeItem6 = dbo.Z_TypeItem6.id LEFT OUTER JOIN
                      dbo.Z_TypeItem7 ON dbo.Item.IdTypeItem7 = dbo.Z_TypeItem7.id LEFT OUTER JOIN
                      dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                      dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                      dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN
                      dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                      dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                      dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id

WHERE     (dbo.Item.net_balance > 0) AND (ISNULL(dbo.Item.TYPE, 0) <> 2)
ORDER BY dbo.Item.ARname
                       END
                      ELSE
                        BEGIN 
SELECT     TOP (100) PERCENT case when isnull(Item.cost,0)=0 then 0 else ROUND(CONVERT(FLOAT,(Item.BigPr0 - Item.cost) / (Item.cost) * 100), 2) end as PercentProfit,dbo.Item.id_item, dbo.Item.ARname,dbo.Item.Ticket, dbo.Item.InternationalCode, dbo.Item.ShortName, dbo.Item.ENname, dbo.Item.IdTypeItem1, 
                      dbo.Item.IdTypeItem2, dbo.Item.IdTypeItem3,dbo.Item.MaxSalDiscount, dbo.Item.IdBigUnit, dbo.Item.IdMiddellUnit, dbo.Item.IdSmallUnit, dbo.Item.PurchasePrice ,Item.keep
                      , ROUND(CONVERT(FLOAT, dbo.Item.Dioscount_main),10) AS Dioscount_main, ROUND(CONVERT(FLOAT,Item.Dioscount_over),10) as Dioscount_over, dbo.Item.Day_Recession, 
                      dbo.Item.Minimum, dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.Tax, dbo.Item.CountMiddel, dbo.Item.CountSmall, ROUND(CONVERT(FLOAT, 
                      dbo.Item.BigPr0),10) AS BigPr0,ROUND(CONVERT(FLOAT, dbo.Item.PublicPr),10) AS PublicPr, ROUND(CONVERT(FLOAT,dbo.Item.BigPr1),10) AS BigPr1, ROUND(CONVERT(FLOAT,dbo.Item.BigPr2),10) AS BigPr2,ROUND(CONVERT(FLOAT,dbo.Item.BigPr3),2) AS BigPr3,ROUND(CONVERT(FLOAT,dbo.Item.BigPr4),2) AS BigPr4, ROUND(CONVERT(FLOAT,dbo.Item.MIDPr0),10) AS MIDPr0, ROUND(CONVERT(FLOAT,dbo.Item.MIDPr1),10) AS MIDPr1, ROUND(CONVERT(FLOAT,dbo.Item.MIDPr2),10) AS MIDPr2, ROUND(CONVERT(FLOAT,dbo.Item.SmallPr0),10) AS SmallPr0, ROUND(CONVERT(FLOAT,dbo.Item.SmallPr1),10) AS SmallPr1, 
                      dbo.Item.SmallPr2, dbo.Item.BeginBalance0, dbo.Item.BeginBalance1, dbo.Item.BeginBalance2, dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, 
                      dbo.Item.CurrentBalance2, dbo.Item.TYPE, dbo.Item.Deleted, dbo.Item.cost, LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance0, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance1, 0)))) + ' ' + LTRIM(RTRIM(STR(dbo.Item.BeginBalance2))) AS BeginBalance,ROUND(CONVERT(float, (net_balance * BigPr0)), 2) AS TotalSal, 
                      ROUND(dbo.Item.net_balance,10) AS Balance, dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, dbo.Z_TypeItem3.aname AS TypeItem3,
                       dbo.Z_TypeItem4.aname AS TypeItem4, dbo.Z_TypeItem5.aname AS TypeItem5, dbo.Z_TypeItem6.aname AS TypeItem6, dbo.Z_TypeItem7.aname AS TypeItem7, 
                      dbo.Z_BigUnit.aname AS BigUnit, dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, dbo.Item.net_balance, dbo.Item.IsExpire, 
                      dbo.Item.MoreCheck, dbo.Item.CountMetr,ROUND(CONVERT(FLOAT,dbo.Item.commission),2) AS commission,Item.locationn,Item.StoreName,
                      CASE WHEN [TYPE] = 1 THEN 'محظور' WHEN [TYPE] = 2 THEN 'ممنوع من العرض' WHEN [TYPE] = 3 THEN 'انتاج تام' WHEN [TYPE] = 4 THEN 'خدمه'WHEN [TYPE] = 5 THEN 'عهدة'WHEN [TYPE] = 6 THEN 'نواقص' ELSE 'عادى' END AS TypeName,IsImported
FROM         dbo.Item LEFT OUTER JOIN
                      dbo.Z_TypeItem4 ON dbo.Item.IdTypeItem4 = dbo.Z_TypeItem4.id LEFT OUTER JOIN
                      dbo.Z_TypeItem5 ON dbo.Item.IdTypeItem5 = dbo.Z_TypeItem5.id LEFT OUTER JOIN
                      dbo.Z_TypeItem6 ON dbo.Item.IdTypeItem6 = dbo.Z_TypeItem6.id LEFT OUTER JOIN
                      dbo.Z_TypeItem7 ON dbo.Item.IdTypeItem7 = dbo.Z_TypeItem7.id LEFT OUTER JOIN
                      dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                      dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                      dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN
                      dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                      dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                      dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id
WHERE     (dbo.Item.net_balance > 0) AND (ISNULL(dbo.Item.TYPE, 0) <> 2)
ORDER BY dbo.Item.ARname
                      END
				RETURN '0'
END
------------------------------------------------------
IF @parmter_name ='NoBarcode'
     BEGIN
SELECT     TOP (100) PERCENT case when isnull(Item.cost,0)=0 then 0 else ROUND(CONVERT(FLOAT,(Item.BigPr0 - Item.cost) / (Item.cost) * 100), 2) end as PercentProfit,dbo.Item.id_item, dbo.Item.ARname,dbo.Item.Ticket, dbo.Item.InternationalCode, dbo.Item.ShortName, dbo.Item.ENname, dbo.Item.IdTypeItem1, 
                      dbo.Item.IdTypeItem2, dbo.Item.IdTypeItem3,Item.MaxSalDiscount, dbo.Item.IdBigUnit, dbo.Item.IdMiddellUnit, dbo.Item.IdSmallUnit, dbo.Item.PurchasePrice ,Item.keep
                      , ROUND(CONVERT(FLOAT, dbo.Item.Dioscount_main),10) AS Dioscount_main, ROUND(CONVERT(FLOAT,Item.Dioscount_over),10) as Dioscount_over, dbo.Item.Day_Recession, 
                      dbo.Item.Minimum, dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.Tax, dbo.Item.CountMiddel, dbo.Item.CountSmall, ROUND(CONVERT(FLOAT, 
                      dbo.Item.BigPr0),10) AS BigPr0,ROUND(CONVERT(FLOAT, dbo.Item.PublicPr),10) AS PublicPr, ROUND(CONVERT(FLOAT,dbo.Item.BigPr1),2) AS BigPr1, ROUND(CONVERT(FLOAT,dbo.Item.BigPr2),2) AS BigPr2,ROUND(CONVERT(FLOAT,dbo.Item.BigPr3),2) AS BigPr3,ROUND(CONVERT(FLOAT,dbo.Item.BigPr4),2) AS BigPr4, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, dbo.Item.SmallPr0, dbo.Item.SmallPr1, 
                      dbo.Item.SmallPr2, dbo.Item.BeginBalance0, dbo.Item.BeginBalance1, dbo.Item.BeginBalance2, dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, 
                      dbo.Item.CurrentBalance2, dbo.Item.TYPE, dbo.Item.Deleted, dbo.Item.cost, LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance0, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance1, 0)))) + ' ' + LTRIM(RTRIM(STR(dbo.Item.BeginBalance2))) AS BeginBalance, ROUND(CONVERT(float, (net_balance * BigPr0)), 2) AS TotalSal,
                      LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance0, 0)))) + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance1, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance2, 0)))) AS Balance, dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, 
                      dbo.Z_TypeItem3.aname AS TypeItem3, dbo.Z_TypeItem4.aname AS TypeItem4, dbo.Z_TypeItem5.aname AS TypeItem5, dbo.Z_TypeItem6.aname AS TypeItem6, 
                      dbo.Z_TypeItem7.aname AS TypeItem7, dbo.Z_BigUnit.aname AS BigUnit, dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, 
                      dbo.Item.net_balance, dbo.Item.IsExpire, dbo.Item.MoreCheck, dbo.Item.CountMetr,ROUND(CONVERT(FLOAT,dbo.Item.commission),2) AS commission,Item.locationn,Item.StoreName,
                      CASE WHEN [TYPE] = 1 THEN 'محظور' WHEN [TYPE] = 2 THEN 'ممنوع من العرض' WHEN [TYPE] = 3 THEN 'انتاج تام' WHEN [TYPE] = 4 THEN 'خدمه'WHEN [TYPE] = 5 THEN 'عهدة'WHEN [TYPE] = 6 THEN 'نواقص' ELSE 'عادى' END AS TypeName,IsImported
FROM         dbo.Item LEFT OUTER JOIN
                      dbo.Z_TypeItem4 ON dbo.Item.IdTypeItem4 = dbo.Z_TypeItem4.id LEFT OUTER JOIN
                      dbo.Z_TypeItem5 ON dbo.Item.IdTypeItem5 = dbo.Z_TypeItem5.id LEFT OUTER JOIN
                      dbo.Z_TypeItem6 ON dbo.Item.IdTypeItem6 = dbo.Z_TypeItem6.id LEFT OUTER JOIN
                      dbo.Z_TypeItem7 ON dbo.Item.IdTypeItem7 = dbo.Z_TypeItem7.id LEFT OUTER JOIN
                      dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                      dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                      dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN
                      dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                      dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                      dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id
WHERE     (LEN(dbo.Item.InternationalCode) < 11) AND (ISNULL(dbo.Item.TYPE, 0) <> 2)
ORDER BY dbo.Item.ARname
 END
 ----------------------------------------
IF @parmter_name ='All_ITEM'
     BEGIN
            IF @VisbleThreeUnit=1
              BEGIN
SELECT     TOP (100) PERCENT case when isnull(Item.cost,0)=0 then 0 else ROUND(CONVERT(FLOAT,(Item.BigPr0 - Item.cost) / (Item.cost) * 100), 2) end as PercentProfit ,dbo.Item.id_item, dbo.Item.ARname,dbo.Item.Ticket, dbo.Item.InternationalCode, dbo.Item.ShortName, dbo.Item.ENname, dbo.Item.IdTypeItem1, 
                      dbo.Item.IdTypeItem2, dbo.Item.IdTypeItem3,MaxSalDiscount,  dbo.Item.IdBigUnit, dbo.Item.IdMiddellUnit, dbo.Item.IdSmallUnit, Item.PurchasePrice,Item.keep
                   , ROUND(CONVERT(FLOAT, dbo.Item.Dioscount_main),10) AS Dioscount_main, ROUND(CONVERT(FLOAT,Item.Dioscount_over),10) as Dioscount_over, dbo.Item.Day_Recession, 
                      dbo.Item.Minimum, dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.Tax, dbo.Item.CountMiddel, dbo.Item.CountSmall, ROUND(CONVERT(FLOAT, 
                      dbo.Item.BigPr0),10) AS BigPr0,ROUND(CONVERT(FLOAT, dbo.Item.PublicPr),10) AS PublicPr, ROUND(CONVERT(FLOAT,dbo.Item.BigPr1),10) AS BigPr1, ROUND(CONVERT(FLOAT,dbo.Item.BigPr2),10) AS BigPr2, ROUND(CONVERT(FLOAT,dbo.Item.BigPr3),2) AS BigPr3,ROUND(CONVERT(FLOAT,dbo.Item.BigPr4),2) AS BigPr4,ROUND(CONVERT(FLOAT,dbo.Item.MIDPr0),10) AS MIDPr0, ROUND(CONVERT(FLOAT,dbo.Item.MIDPr1),10) AS MIDPr1, ROUND(CONVERT(FLOAT,dbo.Item.MIDPr2),10) AS MIDPr2, ROUND(CONVERT(FLOAT,dbo.Item.SmallPr0),10) AS SmallPr0, ROUND(CONVERT(FLOAT,dbo.Item.SmallPr1),10) AS SmallPr1, 
                      dbo.Item.SmallPr2, dbo.Item.BeginBalance0, dbo.Item.BeginBalance1, dbo.Item.BeginBalance2, dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, 
                      dbo.Item.CurrentBalance2, dbo.Item.TYPE, dbo.Item.Deleted, dbo.Item.cost, LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance0, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance1, 0)))) + ' ' + LTRIM(RTRIM(STR(dbo.Item.BeginBalance2))) AS BeginBalance, 
                      replace(LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance0, 0)))),'-0','0') + ' ' + LTRIM(RTRIM(CONVERT(nvarchar(8),(ISNULL(dbo.Item.CurrentBalance1, 0))))) 
                      + ' ' + replace(LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance2, 0)))),'-0','0') AS Balance, dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, 
                      dbo.Z_TypeItem3.aname AS TypeItem3, dbo.Z_TypeItem4.aname AS TypeItem4, dbo.Z_TypeItem5.aname AS TypeItem5, dbo.Z_TypeItem6.aname AS TypeItem6, 
                      dbo.Z_TypeItem7.aname AS TypeItem7, dbo.Z_BigUnit.aname AS BigUnit, dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, 
                      dbo.Item.net_balance, dbo.Item.IsExpire, dbo.Item.MoreCheck, dbo.Item.CountMetr,ROUND(CONVERT(FLOAT,dbo.Item.commission),2) AS commission,Item.locationn,Item.StoreName,
                      CASE WHEN [TYPE] = 1 THEN 'محظور' WHEN [TYPE] = 2 THEN 'ممنوع من العرض' WHEN [TYPE] = 3 THEN 'انتاج تام' WHEN [TYPE] = 4 THEN 'خدمه'WHEN [TYPE] = 5 THEN 'عهدة'WHEN [TYPE] = 6 THEN 'نواقص' ELSE 'عادى' END AS TypeName,IsImported
FROM         dbo.Item LEFT OUTER JOIN
                      dbo.Z_TypeItem4 ON dbo.Item.IdTypeItem4 = dbo.Z_TypeItem4.id LEFT OUTER JOIN
                      dbo.Z_TypeItem5 ON dbo.Item.IdTypeItem5 = dbo.Z_TypeItem5.id LEFT OUTER JOIN
                      dbo.Z_TypeItem6 ON dbo.Item.IdTypeItem6 = dbo.Z_TypeItem6.id LEFT OUTER JOIN
                      dbo.Z_TypeItem7 ON dbo.Item.IdTypeItem7 = dbo.Z_TypeItem7.id LEFT OUTER JOIN
                      dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                      dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                      dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN
                      dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                      dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                      dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id
WHERE     (ISNULL(dbo.Item.TYPE, 0) <> 2)
ORDER BY dbo.Item.ARname
                      END
              ELSE
                  BEGIN
SELECT     TOP (100) PERCENT case when isnull(Item.cost,0)=0 then 0 else ROUND(CONVERT(FLOAT,(Item.BigPr0 - Item.cost) / (Item.cost) * 100), 2) end as PercentProfit,dbo.Item.id_item, dbo.Item.ARname,dbo.Item.Ticket, dbo.Item.InternationalCode, dbo.Item.ShortName, dbo.Item.ENname, dbo.Item.IdTypeItem1, 
                      dbo.Item.IdTypeItem2, dbo.Item.IdTypeItem3, Item.MaxSalDiscount, dbo.Item.IdBigUnit, dbo.Item.IdMiddellUnit, dbo.Item.IdSmallUnit,  dbo.Item.PurchasePrice,Item.keep
                     , ROUND(CONVERT(FLOAT, dbo.Item.Dioscount_main),10) AS Dioscount_main, ROUND(CONVERT(FLOAT,Item.Dioscount_over),10) as Dioscount_over, dbo.Item.Day_Recession, 
                      dbo.Item.Minimum, dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.Tax, dbo.Item.CountMiddel, dbo.Item.CountSmall, ROUND(CONVERT(FLOAT, 
                      dbo.Item.BigPr0),10) AS BigPr0,ROUND(CONVERT(FLOAT, dbo.Item.PublicPr),10) AS PublicPr, ROUND(CONVERT(FLOAT,dbo.Item.BigPr1),2) AS BigPr1, ROUND(CONVERT(FLOAT,dbo.Item.BigPr2),2) AS BigPr2,ROUND(CONVERT(FLOAT,dbo.Item.BigPr3),2) AS BigPr3,ROUND(CONVERT(FLOAT,dbo.Item.BigPr4),2) AS BigPr4, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, dbo.Item.SmallPr0, dbo.Item.SmallPr1, 
                      dbo.Item.SmallPr2, dbo.Item.BeginBalance0, dbo.Item.BeginBalance1, dbo.Item.BeginBalance2, dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, 
                      dbo.Item.CurrentBalance2, dbo.Item.TYPE, dbo.Item.Deleted, dbo.Item.cost, LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance0, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance1, 0)))) + ' ' + LTRIM(RTRIM(STR(dbo.Item.BeginBalance2))) AS BeginBalance,
                      ROUND(dbo.Item.net_balance,10) AS Balance, dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, dbo.Z_TypeItem3.aname AS TypeItem3,
                       dbo.Z_TypeItem4.aname AS TypeItem4, dbo.Z_TypeItem5.aname AS TypeItem5, dbo.Z_TypeItem6.aname AS TypeItem6, dbo.Z_TypeItem7.aname AS TypeItem7, 
                      dbo.Z_BigUnit.aname AS BigUnit, dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, dbo.Item.net_balance, dbo.Item.IsExpire, 
                      dbo.Item.MoreCheck, dbo.Item.CountMetr,ROUND(CONVERT(FLOAT,dbo.Item.commission),2) AS commission,Item.locationn,Item.StoreName,
                      CASE WHEN [TYPE] = 1 THEN 'محظور' WHEN [TYPE] = 2 THEN 'ممنوع من العرض' WHEN [TYPE] = 3 THEN 'انتاج تام' WHEN [TYPE] = 4 THEN 'خدمه'WHEN [TYPE] = 5 THEN 'عهدة'WHEN [TYPE] = 6 THEN 'نواقص' ELSE 'عادى' END AS TypeName,IsImported
FROM         dbo.Item LEFT OUTER JOIN
                      dbo.Z_TypeItem4 ON dbo.Item.IdTypeItem4 = dbo.Z_TypeItem4.id LEFT OUTER JOIN
                      dbo.Z_TypeItem5 ON dbo.Item.IdTypeItem5 = dbo.Z_TypeItem5.id LEFT OUTER JOIN
                      dbo.Z_TypeItem6 ON dbo.Item.IdTypeItem6 = dbo.Z_TypeItem6.id LEFT OUTER JOIN
                      dbo.Z_TypeItem7 ON dbo.Item.IdTypeItem7 = dbo.Z_TypeItem7.id LEFT OUTER JOIN
                      dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                      dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                      dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN
                      dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                      dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                      dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id
WHERE     (ISNULL(dbo.Item.TYPE, 0) <> 2)
ORDER BY dbo.Item.ARname
                  END
				RETURN '0'
END
----------------------------------------
  IF @parmter_name ='mum'
     BEGIN
          IF @VisbleThreeUnit=1
           BEGIN
SELECT     TOP (100) PERCENT id_item, IsExpire, MAX(InternationalCode) AS InternationalCode, MAX(ShortName) AS ShortName, MAX(ENname) AS ENname, MAX(TypeItem1) 
                      AS TypeItem1, MAX(TypeItem2) AS TypeItem2, MAX(TypeItem3) AS TypeItem3, MAX(Minimum) AS Minimum, MAX(CountMiddel) AS CountMiddel, MAX(CountSmall) 
                      AS CountSmall, MAX(BigPr0) AS BigPr0, MAX(MIDPr0) AS MIDPr0, MAX(SmallPr0) AS SmallPr0, MAX(BigUnit) AS BigUnit, MAX(MiddellUnit) AS MiddellUnit, 
                      MAX(SmallUnit) AS SmallUnit, MAX(CurrentBalance0) AS CurrentBalance0, MAX(CurrentBalance1) AS CurrentBalance1, MAX(CurrentBalance2) AS CurrentBalance2, 
                      MAX(cost) AS cost, MAX(discount) AS Dioscount_main, MAX(PurchasePrice) , MAX(Tax) AS Tax, MAX(ARname) AS ARname, 
                      LTRIM(RTRIM(STR(ISNULL(CurrentBalance0, 0)))) + ' ' + LTRIM(RTRIM(STR(ISNULL(CurrentBalance1, 0)))) + ' ' + LTRIM(RTRIM(STR(ISNULL(CurrentBalance2, 0)))) 
                      AS Balance, 
                      CASE WHEN [TYPE] = 1 THEN 'محظور' WHEN [TYPE] = 2 THEN 'ممنوع من العرض' WHEN [TYPE] = 3 THEN 'انتاج تام' WHEN [TYPE] = 4 THEN 'خدمه'WHEN [TYPE] = 5 THEN 'عهدة'WHEN [TYPE] = 6 THEN 'نواقص' ELSE 'عادى' END AS TypeName
FROM         dbo.View_store
WHERE     (Minimum > net_balance)
GROUP BY id_item, LTRIM(RTRIM(STR(ISNULL(CurrentBalance0, 0)))) + ' ' + LTRIM(RTRIM(STR(ISNULL(CurrentBalance1, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(CurrentBalance2, 0)))), IsExpire, 
                      CASE WHEN [TYPE] = 1 THEN 'محظور' WHEN [TYPE] = 2 THEN 'ممنوع من العرض' WHEN [TYPE] = 3 THEN 'انتاج تام' WHEN [TYPE] = 4 THEN 'خدمه'WHEN [TYPE] = 5 THEN 'عهدة'WHEN [TYPE] = 6 THEN 'نواقص' ELSE 'عادى' END
ORDER BY ARname
	END
ELSE         
   BEGIN
SELECT     TOP (100) PERCENT id_item, IsExpire, MAX(InternationalCode) AS InternationalCode, MAX(ShortName) AS ShortName, MAX(ENname) AS ENname, MAX(TypeItem1) 
                      AS TypeItem1, MAX(TypeItem2) AS TypeItem2, MAX(TypeItem3) AS TypeItem3, MAX(TypeItem4) AS TypeItem4, MAX(TypeItem5) AS TypeItem5, MAX(TypeItem6) 
                      AS TypeItem6, MAX(TypeItem7) AS TypeItem7, MAX(Minimum) AS Minimum, MAX(CountMiddel) AS CountMiddel, MAX(CountSmall) AS CountSmall, MAX(BigPr0) 
                      AS BigPr0, MAX(MIDPr0) AS MIDPr0, MAX(SmallPr0) AS SmallPr0, MAX(BigUnit) AS BigUnit, MAX(MiddellUnit) AS MiddellUnit, MAX(SmallUnit) AS SmallUnit, 
                      MAX(CurrentBalance0) AS CurrentBalance0, MAX(CurrentBalance1) AS CurrentBalance1, MAX(CurrentBalance2) AS CurrentBalance2, MAX(cost) AS cost, 
                      MAX(discount) AS Dioscount_main, MAX(PurchasePrice) , MAX(Tax) AS Tax, MAX(ARname) AS ARname, ROUND(net_balance,10) AS Balance,
                      CASE WHEN [TYPE] = 1 THEN 'محظور' WHEN [TYPE] = 2 THEN 'ممنوع من العرض' WHEN [TYPE] = 3 THEN 'انتاج تام' WHEN [TYPE] = 4 THEN 'خدمه'WHEN [TYPE] = 5 THEN 'عهدة'WHEN [TYPE] = 6 THEN 'نواقص' ELSE 'عادى' END AS TypeName
FROM         dbo.View_store
WHERE     (Minimum > net_balance)
GROUP BY id_item, ROUND(net_balance,10), IsExpire, 
                      CASE WHEN [TYPE] = 1 THEN 'محظور' WHEN [TYPE] = 2 THEN 'ممنوع من العرض' WHEN [TYPE] = 3 THEN 'انتاج تام' WHEN [TYPE] = 4 THEN 'خدمه' WHEN [TYPE] = 5 THEN 'عهدة'WHEN [TYPE] = 6 THEN 'نواقص' ELSE 'عادى' END
ORDER BY ARname
                               END
									RETURN '0'
				
END 
----------------------------------------
IF @parmter_name ='none'
     BEGIN
						SELECT     TOP (100) PERCENT dbo.Item.id_item, dbo.Item.ARname,dbo.Item.Ticket, dbo.Item.InternationalCode, dbo.Item.ShortName, dbo.Item.ENname, dbo.Item.IdTypeItem1, 
                      dbo.Item.IdTypeItem2, dbo.Item.IdTypeItem3, dbo.Item.IdBigUnit, dbo.Item.IdMiddellUnit, dbo.Item.IdSmallUnit, ROUND(CONVERT(FLOAT,dbo.Item.PurchasePrice),2),Item.keep , ROUND(CONVERT(FLOAT,dbo.Item.Dioscount_main),2) AS Dioscount_main, 
                      ROUND(CONVERT(FLOAT,Item.Dioscount_over),10) as Dioscount_over, dbo.Item.Day_Recession, dbo.Item.Minimum, dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.Tax, 
                      dbo.Item.CountMiddel, dbo.Item.CountSmall, ROUND(CONVERT(FLOAT,dbo.Item.BigPr0),2) AS BigPr0, ROUND(CONVERT(FLOAT,dbo.Item.BigPr1),2) AS BigPr1,ROUND(CONVERT(FLOAT,dbo.Item.BigPr2),2) AS BigPr2,ROUND(CONVERT(FLOAT,dbo.Item.BigPr3),2) AS BigPr3,ROUND(CONVERT(FLOAT,dbo.Item.BigPr4),2) AS BigPr4, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, 
                      dbo.Item.SmallPr0, dbo.Item.SmallPr1, dbo.Item.SmallPr2, dbo.Item.BeginBalance0, dbo.Item.BeginBalance1, dbo.Item.BeginBalance2, dbo.Item.CurrentBalance0,ROUND(CONVERT(float, (net_balance * BigPr0)), 2) AS TotalSal, 
                      dbo.Item.CurrentBalance1, dbo.Item.CurrentBalance2, dbo.Item.TYPE, dbo.Item.Deleted, dbo.Item.cost, LTRIM(RTRIM(STR(isnull( dbo.Item.BeginBalance0,0)))) 
                      + ' ' + LTRIM(RTRIM(STR(isnull(dbo.Item.BeginBalance1,0)))) + ' ' + LTRIM(RTRIM(STR(dbo.Item.BeginBalance2))) AS BeginBalance, LTRIM(RTRIM(STR(isnull(dbo.Item.CurrentBalance0,0)))) + ' ' + LTRIM(RTRIM(STR(isnull(dbo.Item.CurrentBalance1,0)))) 
                      + ' ' + LTRIM(RTRIM(STR(isnull(dbo.Item.CurrentBalance2,0)))) AS Balance, dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, 
                      dbo.Z_TypeItem3.aname AS TypeItem3, dbo.Z_BigUnit.aname AS BigUnit, dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, 
                      dbo.Item.net_balance
FROM         dbo.Item LEFT OUTER JOIN
                      dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                      dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                      dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN
                      dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                      dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                      dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id
           WHERE    (dbo.Item.arname ='')
                      ORDER BY dbo.Item.ARname
				RETURN '0'
END
----------------------------------------
IF @parmter_name ='stop'
     BEGIN
					SELECT     TOP (100) PERCENT dbo.Item.id_item, dbo.Item.ARname,dbo.Item.Ticket, dbo.Item.InternationalCode, dbo.Item.ShortName, dbo.Item.ENname, dbo.Item.IdTypeItem1, 
                      dbo.Item.IdTypeItem2, dbo.Item.IdTypeItem3, dbo.Item.IdBigUnit, dbo.Item.IdMiddellUnit, dbo.Item.IdSmallUnit, ROUND(CONVERT(FLOAT,dbo.Item.PurchasePrice),2) ,Item.keep, ROUND(CONVERT(FLOAT,dbo.Item.Dioscount_main),2) AS Dioscount_main, 
                      ROUND(CONVERT(FLOAT,Item.Dioscount_over),10) as Dioscount_over, dbo.Item.Day_Recession, dbo.Item.Minimum, dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.Tax, 
                      dbo.Item.CountMiddel, dbo.Item.CountSmall, ROUND(CONVERT(FLOAT,dbo.Item.BigPr0),2) AS BigPr0, ROUND(CONVERT(FLOAT,dbo.Item.BigPr1),2) AS BigPr1,ROUND(CONVERT(FLOAT,dbo.Item.BigPr2),2) AS BigPr2,ROUND(CONVERT(FLOAT,dbo.Item.BigPr3),2) AS BigPr3,ROUND(CONVERT(FLOAT,dbo.Item.BigPr4),2) AS BigPr4, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, 
                      dbo.Item.SmallPr0, dbo.Item.SmallPr1, dbo.Item.SmallPr2, dbo.Item.BeginBalance0, dbo.Item.BeginBalance1, dbo.Item.BeginBalance2, dbo.Item.CurrentBalance0,ROUND(CONVERT(float, (net_balance * BigPr0)), 2) AS TotalSal, 
                      dbo.Item.CurrentBalance1, dbo.Item.CurrentBalance2, dbo.Item.TYPE, dbo.Item.Deleted, dbo.Item.cost, LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance0, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance1, 0)))) + ' ' + LTRIM(RTRIM(STR(dbo.Item.BeginBalance2))) AS BeginBalance, 
                      LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance0, 0)))) + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance1, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance2, 0)))) AS Balance, dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, 
                      dbo.Z_TypeItem3.aname AS TypeItem3, dbo.Z_BigUnit.aname AS BigUnit, dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, 
                      dbo.Item.net_balance, 
                      CASE WHEN [TYPE] = 1 THEN 'محظور' WHEN [TYPE] = 2 THEN 'ممنوع من العرض' WHEN [TYPE] = 3 THEN 'انتاج تام' WHEN [TYPE] = 4 THEN 'خدمه' WHEN [TYPE] = 5 THEN 'عهدة'WHEN [TYPE] = 6 THEN 'نواقص'ELSE 'عادى' END AS TypeName
FROM         dbo.Item LEFT OUTER JOIN
                      dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                      dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                      dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN
                      dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                      dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                      dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id
WHERE     (ISNULL(dbo.Item.TYPE, 0) = 2)
ORDER BY dbo.Item.ARname
				RETURN '0'
END
IF @parmter_name ='complete'
     BEGIN
     SELECT     TOP (100) PERCENT dbo.Item.id_item, dbo.Item.ARname,dbo.Item.Ticket, dbo.Item.InternationalCode, dbo.Item.ShortName, dbo.Item.ENname, dbo.Item.IdTypeItem1, 
                      dbo.Item.IdTypeItem2, dbo.Item.IdTypeItem3, dbo.Item.IdBigUnit, dbo.Item.IdMiddellUnit, dbo.Item.IdSmallUnit, ROUND(CONVERT(FLOAT,dbo.Item.PurchasePrice),2) ,Item.keep, ROUND(CONVERT(FLOAT,dbo.Item.Dioscount_main),2) AS Dioscount_main, 
                      ROUND(CONVERT(FLOAT,Item.Dioscount_over),10) as Dioscount_over, dbo.Item.Day_Recession, dbo.Item.Minimum, dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.Tax, 
                      dbo.Item.CountMiddel, dbo.Item.CountSmall, ROUND(CONVERT(FLOAT,dbo.Item.BigPr0),2) AS BigPr0, dbo.Item.BigPr1, dbo.Item.BigPr2, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, 
                      dbo.Item.SmallPr0, dbo.Item.SmallPr1, dbo.Item.SmallPr2, dbo.Item.BeginBalance0, dbo.Item.BeginBalance1, dbo.Item.BeginBalance2, dbo.Item.CurrentBalance0, 
                      dbo.Item.CurrentBalance1, dbo.Item.CurrentBalance2, dbo.Item.TYPE, dbo.Item.Deleted, dbo.Item.cost, LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance0, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance1, 0)))) + ' ' + LTRIM(RTRIM(STR(dbo.Item.BeginBalance2))) AS BeginBalance,ROUND(CONVERT(float, (net_balance * BigPr0)), 2) AS TotalSal, 
                      LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance0, 0)))) + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance1, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance2, 0)))) AS Balance, dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, 
                      dbo.Z_TypeItem3.aname AS TypeItem3, dbo.Z_BigUnit.aname AS BigUnit, dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, 
                      dbo.Item.net_balance
FROM         dbo.Item LEFT OUTER JOIN
                      dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                      dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                      dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN
                      dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                      dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                      dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id
WHERE     (ISNULL(dbo.Item.TYPE, 0) = 3)
ORDER BY dbo.Item.ARname
     				RETURN '0'
END
IF @parmter_name ='keep'
     BEGIN
     SELECT     TOP (100) PERCENT dbo.Item.id_item, dbo.Item.ARname,dbo.Item.Ticket, dbo.Item.InternationalCode, dbo.Item.ShortName, dbo.Item.ENname, dbo.Item.IdTypeItem1, 
                      dbo.Item.IdTypeItem2, dbo.Item.IdTypeItem3, dbo.Item.IdBigUnit, dbo.Item.IdMiddellUnit, dbo.Item.IdSmallUnit, ROUND(CONVERT(FLOAT,dbo.Item.PurchasePrice),2),Item.keep , ROUND(CONVERT(FLOAT,dbo.Item.Dioscount_main),2) AS Dioscount_main, 
                      ROUND(CONVERT(FLOAT,Item.Dioscount_over),10) as Dioscount_over, dbo.Item.Day_Recession, dbo.Item.Minimum, dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.Tax, 
                      dbo.Item.CountMiddel, dbo.Item.CountSmall, ROUND(CONVERT(FLOAT,dbo.Item.BigPr0),2) AS BigPr0, dbo.Item.BigPr1, dbo.Item.BigPr2, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, 
                      dbo.Item.SmallPr0, dbo.Item.SmallPr1, dbo.Item.SmallPr2, dbo.Item.BeginBalance0, dbo.Item.BeginBalance1, dbo.Item.BeginBalance2, dbo.Item.CurrentBalance0, 
                      dbo.Item.CurrentBalance1, dbo.Item.CurrentBalance2, dbo.Item.TYPE, dbo.Item.Deleted, dbo.Item.cost, LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance0, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance1, 0)))) + ' ' + LTRIM(RTRIM(STR(dbo.Item.BeginBalance2))) AS BeginBalance, ROUND(CONVERT(float, (net_balance * BigPr0)), 2) AS TotalSal,
                      LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance0, 0)))) + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance1, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance2, 0)))) AS Balance, dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, 
                      dbo.Z_TypeItem3.aname AS TypeItem3, dbo.Z_BigUnit.aname AS BigUnit, dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, 
                      dbo.Item.net_balance
FROM         dbo.Item LEFT OUTER JOIN
                      dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                      dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                      dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN
                      dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                      dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                      dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id
WHERE     (ISNULL(dbo.Item.keep, 0) > 0)
ORDER BY dbo.Item.ARname
     				RETURN '0'
END
IF @parmter_name ='NotBalance'
     BEGIN
           IF @VisbleThreeUnit=1
              BEGIN
SELECT     TOP (100) PERCENT case when isnull(Item.cost,0)=0 then 0 else ROUND(CONVERT(FLOAT,(Item.BigPr0 - Item.cost) / (Item.cost) * 100), 2) end as PercentProfit,dbo.Item.id_item, dbo.Item.ARname,dbo.Item.Ticket, dbo.Item.InternationalCode, dbo.Item.ShortName, dbo.Item.ENname, dbo.Item.IdTypeItem1, 
                      dbo.Item.IdTypeItem2, dbo.Item.IdTypeItem3, dbo.Item.IdBigUnit, dbo.Item.IdMiddellUnit, dbo.Item.IdSmallUnit, dbo.Item.PurchasePrice ,Item.keep
                      , ROUND(CONVERT(FLOAT, dbo.Item.Dioscount_main),10) AS Dioscount_main, ROUND(CONVERT(FLOAT,Item.Dioscount_over),10) as Dioscount_over, dbo.Item.Day_Recession, 
                      dbo.Item.Minimum, dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.Tax, dbo.Item.CountMiddel, dbo.Item.CountSmall, ROUND(CONVERT(FLOAT, 
                      dbo.Item.BigPr0),10) AS BigPr0, ROUND(CONVERT(FLOAT,dbo.Item.BigPr1),2) AS BigPr1,ROUND(CONVERT(FLOAT,dbo.Item.BigPr2),2) AS BigPr2,ROUND(CONVERT(FLOAT,dbo.Item.BigPr3),2) AS BigPr3,ROUND(CONVERT(FLOAT,dbo.Item.BigPr4),2) AS BigPr4, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, dbo.Item.SmallPr0, dbo.Item.SmallPr1, 
                      dbo.Item.SmallPr2, dbo.Item.BeginBalance0, dbo.Item.BeginBalance1, dbo.Item.BeginBalance2, dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, 
                      dbo.Item.CurrentBalance2, dbo.Item.TYPE, dbo.Item.Deleted, dbo.Item.cost, LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance0, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance1, 0)))) + ' ' + LTRIM(RTRIM(STR(dbo.Item.BeginBalance2))) AS BeginBalance, ROUND(CONVERT(float, (net_balance * BigPr0)), 2) AS TotalSal,
                      LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance0, 0)))) + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance1, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance2, 0)))) AS Balance, dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, 
                      dbo.Z_TypeItem3.aname AS TypeItem3, dbo.Z_TypeItem4.aname AS TypeItem4, dbo.Z_TypeItem5.aname AS TypeItem5, dbo.Z_TypeItem6.aname AS TypeItem6, 
                      dbo.Z_TypeItem7.aname AS TypeItem7, dbo.Z_BigUnit.aname AS BigUnit, dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, 
                      dbo.Item.net_balance, dbo.Item.IsExpire, dbo.Item.MoreCheck, dbo.Item.CountMetr,ROUND(CONVERT(FLOAT,dbo.Item.commission),2) AS commission,Item.locationn,Item.StoreName,
                      CASE WHEN [TYPE] = 1 THEN 'محظور' WHEN [TYPE] = 2 THEN 'ممنوع من العرض' WHEN [TYPE] = 3 THEN 'انتاج تام' WHEN [TYPE] = 4 THEN 'خدمه'WHEN [TYPE] = 5 THEN 'عهدة'WHEN [TYPE] = 6 THEN 'نواقص' ELSE 'عادى' END AS TypeName
FROM         dbo.Item LEFT OUTER JOIN
                      dbo.Z_TypeItem4 ON dbo.Item.IdTypeItem4 = dbo.Z_TypeItem4.id LEFT OUTER JOIN
                      dbo.Z_TypeItem5 ON dbo.Item.IdTypeItem5 = dbo.Z_TypeItem5.id LEFT OUTER JOIN
                      dbo.Z_TypeItem6 ON dbo.Item.IdTypeItem6 = dbo.Z_TypeItem6.id LEFT OUTER JOIN
                      dbo.Z_TypeItem7 ON dbo.Item.IdTypeItem7 = dbo.Z_TypeItem7.id LEFT OUTER JOIN
                      dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                      dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                      dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN
                      dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                      dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                      dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id
               WHERE     (dbo.Item.net_balance <= 0) AND (ISNULL(dbo.Item.TYPE, 0) <> 2)       
ORDER BY dbo.Item.ARname
                       END
                      ELSE
                        BEGIN 
SELECT     TOP (100) PERCENT dbo.Item.id_item, dbo.Item.ARname,dbo.Item.Ticket, dbo.Item.InternationalCode, dbo.Item.ShortName, dbo.Item.ENname, dbo.Item.IdTypeItem1, 
                      dbo.Item.IdTypeItem2, dbo.Item.IdTypeItem3, dbo.Item.IdBigUnit, dbo.Item.IdMiddellUnit, dbo.Item.IdSmallUnit, dbo.Item.PurchasePrice ,Item.keep
                      , ROUND(CONVERT(FLOAT, dbo.Item.Dioscount_main),10) AS Dioscount_main, ROUND(CONVERT(FLOAT,Item.Dioscount_over),10) as Dioscount_over, dbo.Item.Day_Recession, 
                      dbo.Item.Minimum, dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.Tax, dbo.Item.CountMiddel, dbo.Item.CountSmall, ROUND(CONVERT(FLOAT, 
                      dbo.Item.BigPr0),10) AS BigPr0, ROUND(CONVERT(FLOAT,dbo.Item.BigPr1),2) AS BigPr1,ROUND(CONVERT(FLOAT,dbo.Item.BigPr2),2) AS BigPr2,ROUND(CONVERT(FLOAT,dbo.Item.BigPr3),2) AS BigPr3,ROUND(CONVERT(FLOAT,dbo.Item.BigPr4),2) AS BigPr4, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, dbo.Item.SmallPr0, dbo.Item.SmallPr1, 
                      dbo.Item.SmallPr2, dbo.Item.BeginBalance0, dbo.Item.BeginBalance1, dbo.Item.BeginBalance2, dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, 
                      dbo.Item.CurrentBalance2, dbo.Item.TYPE, dbo.Item.Deleted, dbo.Item.cost, LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance0, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.BeginBalance1, 0)))) + ' ' + LTRIM(RTRIM(STR(dbo.Item.BeginBalance2))) AS BeginBalance,  ROUND(CONVERT(float, (net_balance * BigPr0)), 2) AS TotalSal,
                      ROUND(dbo.Item.net_balance,10) AS Balance, dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, dbo.Z_TypeItem3.aname AS TypeItem3,
                       dbo.Z_TypeItem4.aname AS TypeItem4, dbo.Z_TypeItem5.aname AS TypeItem5, dbo.Z_TypeItem6.aname AS TypeItem6, dbo.Z_TypeItem7.aname AS TypeItem7, 
                      dbo.Z_BigUnit.aname AS BigUnit, dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, dbo.Item.net_balance, dbo.Item.IsExpire, 
                      dbo.Item.MoreCheck, dbo.Item.CountMetr,ROUND(CONVERT(FLOAT,dbo.Item.commission),2) AS commission,Item.locationn,Item.StoreName,
                      CASE WHEN [TYPE] = 1 THEN 'محظور' WHEN [TYPE] = 2 THEN 'ممنوع من العرض' WHEN [TYPE] = 3 THEN 'انتاج تام' WHEN [TYPE] = 4 THEN 'خدمه'WHEN [TYPE] = 5 THEN 'عهدة'WHEN [TYPE] = 6 THEN 'نواقص' ELSE 'عادى' END AS TypeName
FROM         dbo.Item LEFT OUTER JOIN
                      dbo.Z_TypeItem4 ON dbo.Item.IdTypeItem4 = dbo.Z_TypeItem4.id LEFT OUTER JOIN
                      dbo.Z_TypeItem5 ON dbo.Item.IdTypeItem5 = dbo.Z_TypeItem5.id LEFT OUTER JOIN
                      dbo.Z_TypeItem6 ON dbo.Item.IdTypeItem6 = dbo.Z_TypeItem6.id LEFT OUTER JOIN
                      dbo.Z_TypeItem7 ON dbo.Item.IdTypeItem7 = dbo.Z_TypeItem7.id LEFT OUTER JOIN
                      dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                      dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                      dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN
                      dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                      dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                      dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id
WHERE     (dbo.Item.net_balance <= 0) AND (ISNULL(dbo.Item.TYPE, 0) <> 2)
ORDER BY dbo.Item.ARname
                      END
				RETURN '0'
END