

Create proc [dbo].[FindENname]
@variable nvarchar(80)
as
if @variable ='' or @variable ='0'	RETURN '0'
DECLARE @VisbleThreeUnit BIT=1 
SELECT @VisbleThreeUnit= VisbleThreeUnit FROM ZZproperties
IF @VisbleThreeUnit=1
BEGIN
             
           declare @id_item bigint
           select @id_item=id_item from Item WHERE 
                     ENname = @variable OR
                     InternationalCode = @variable OR
                     ShortName = @variable
EXECUTE ItemClacBalance @id_item
          
SELECT     TOP (100) PERCENT dbo.Item.ARname, dbo.Item.id_item, dbo.Item.ENname, Item.locationn,Item.cost,dbo.Item.CountMetr, dbo.Item.InternationalCode, dbo.Item.ShortName, dbo.ItemCode.code, 
                      Item.PurchasePrice,Item.keep, ROUND(CONVERT(FLOAT,dbo.Item.Dioscount_main),5) as Dioscount_main, dbo.Item.TYPE, ROUND(CONVERT(FLOAT,dbo.Item.Tax),5) as Tax, dbo.Item.Minimum, ROUND(CONVERT(FLOAT,dbo.Item.BigPr0),5)as BigPr0,ROUND(CONVERT(FLOAT,dbo.Item.PublicPr),5)as PublicPr, ROUND(CONVERT(FLOAT,dbo.Item.PublicPr),5)as PublicPr, ROUND(CONVERT(FLOAT,dbo.Item.BigPr1),5) as BigPr1, ROUND(CONVERT(FLOAT,dbo.Item.BigPr2),5) as BigPr2, ROUND(CONVERT(FLOAT,dbo.Item.BigPr3),5) as BigPr3,ROUND(CONVERT(FLOAT,dbo.Item.BigPr4),5) as BigPr4,
                      dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.CountMiddel, dbo.Item.CountSmall, dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, 
                      dbo.Item.MoreCheck, dbo.Item.CurrentBalance2, ROUND(CONVERT(FLOAT,dbo.Item.Dioscount_over),5) as Dioscount_over, LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance0, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance1, 0)))) + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance2, 0)))) AS Balance, 
                      dbo.Item.Day_Recession, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, dbo.Item.SmallPr0, dbo.Item.SmallPr1, LTRIM(RTRIM(Convert(Nvarchar(50),dbo.Item.SmallPr2))) as SmallPr2, dbo.Item.IsExpire, dbo.Item.IsImported, 
                      dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, dbo.Z_TypeItem3.aname AS TypeItem3,dbo.Z_TypeItem4.aname AS TypeItem4,dbo.Z_TypeItem5.aname AS TypeItem5,dbo.Z_TypeItem6.aname AS TypeItem6,dbo.Z_TypeItem7.aname AS TypeItem7, dbo.Z_BigUnit.aname AS BigUnit, 
                      dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, 0.00 AS LastDiscount, 0.00 AS LastPrice, dbo.Item.MaxSalDiscount, dbo.Item.MinSalPr, 
                      dbo.Item.net_balance, dbo.Item.Deleted, dbo.Item.FindBadil, ISNULL(dbo.Item.default_sal, 0) AS default_sal,Item.MaxQu , dbo.Item.Ticket, dbo.Item.PathItemPic
                       , CASE WHEN Item.TYPE = 1 THEN 'محظور' WHEN Item.TYPE = 2 THEN 'ممنوع من العرض' WHEN Item.TYPE = 3 THEN 'انتاج تام' WHEN Item.TYPE = 4 THEN 'خدمه' WHEN Item.TYPE = 5 THEN 'عهده' WHEN Item.TYPE = 6 THEN 'نواقص' ELSE 'عادى' END AS TYPEName
FROM         dbo.Item LEFT OUTER JOIN
                      dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                      dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                      dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN
                      dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                      dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                      dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id LEFT OUTER JOIN
					  dbo.Z_TypeItem4 ON dbo.Item.IdTypeItem4 = dbo.Z_TypeItem4.id LEFT OUTER JOIN
					  dbo.Z_TypeItem5 ON dbo.Item.IdTypeItem5 = dbo.Z_TypeItem5.id LEFT OUTER JOIN
				      dbo.Z_TypeItem6 ON dbo.Item.IdTypeItem6 = dbo.Z_TypeItem6.id LEFT OUTER JOIN
					  dbo.Z_TypeItem7 ON dbo.Item.IdTypeItem7 = dbo.Z_TypeItem7.id LEFT OUTER JOIN

                      dbo.ItemCode ON dbo.Item.id_item = dbo.ItemCode.id_item
WHERE     (dbo.ItemCode.code = @variable) OR
                      (dbo.Item.ENname = @variable) OR
                      (dbo.Item.InternationalCode = @variable) OR
                      (dbo.Item.ShortName = @variable)
GROUP BY dbo.Item.id_item, dbo.Item.ARname, dbo.Item.PurchasePrice,Item.keep, dbo.Item.Dioscount_main, dbo.Item.TYPE, dbo.Item.Tax, dbo.Item.Minimum, dbo.Item.BigPr0, dbo.Item.PublicPr,
                      dbo.Item.BigPr1, dbo.Item.BigPr2, dbo.Item.BigPr3,dbo.Item.BigPr4,dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.CountMiddel, dbo.Item.CountSmall, dbo.ItemCode.code, 
                      dbo.Item.ShortName, dbo.Item.InternationalCode, dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, dbo.Item.CurrentBalance2, dbo.Item.ENname,Item.locationn, dbo.Item.cost,dbo.Item.CountMetr, 
                      dbo.Item.Dioscount_over, LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance0, 0)))) + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance1, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance2, 0)))), dbo.Item.Day_Recession, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, dbo.Item.SmallPr0, 
                      dbo.Item.SmallPr1, dbo.Item.SmallPr2, dbo.Z_TypeItem1.aname, dbo.Z_TypeItem2.aname, dbo.Z_TypeItem3.aname,dbo.Z_TypeItem4.aname,dbo.Z_TypeItem5.aname,dbo.Z_TypeItem6.aname,dbo.Z_TypeItem7.aname, dbo.Z_BigUnit.aname, dbo.Z_MiddellUnit.aname,
                       dbo.Z_SmallUnit.aname, dbo.Item.MaxSalDiscount, dbo.Item.MinSalPr, dbo.Item.net_balance, dbo.Item.MoreCheck, dbo.Item.IsExpire, dbo.Item.IsImported, dbo.Item.FindBadil, 
                      dbo.Item.Deleted, ISNULL(dbo.Item.default_sal, 0) ,Item.MaxQu, dbo.Item.Ticket, dbo.Item.PathItemPic
ORDER BY dbo.Item.ARname
END
ELSE
BEGIN
SELECT     TOP (100) PERCENT dbo.Item.ARname, dbo.Item.MoreCheck, dbo.Item.id_item, dbo.Item.IsExpire, dbo.Item.IsImported, dbo.Item.ENname,Item.locationn, dbo.Item.cost,dbo.Item.CountMetr, dbo.Item.InternationalCode, 
                      dbo.Item.ShortName, dbo.ItemCode.code, Item.PurchasePrice,Item.keep, ROUND(CONVERT(FLOAT,dbo.Item.Dioscount_main),5)as Dioscount_main, dbo.Item.TYPE, ROUND(CONVERT(FLOAT,dbo.Item.Tax),5)as Tax, dbo.Item.Minimum, ROUND(CONVERT(FLOAT,dbo.Item.BigPr0),5) as BigPr0,ROUND(CONVERT(FLOAT,dbo.Item.PublicPr),5)as PublicPr, 
                      ROUND(CONVERT(FLOAT,dbo.Item.BigPr1),5) as BigPr1, ROUND(CONVERT(FLOAT,dbo.Item.BigPr2),5) as BigPr2,ROUND(CONVERT(FLOAT,dbo.Item.BigPr3),5) AS BigPr3,ROUND(CONVERT(FLOAT,dbo.Item.BigPr4),5) AS BigPr4, ROUND(CONVERT(FLOAT,dbo.Item.Discount0),5) as Discount0, ROUND(CONVERT(FLOAT,dbo.Item.Discount1),5) as Discount1, ROUND(CONVERT(FLOAT,dbo.Item.Discount2),5) as Discount2, dbo.Item.CountMiddel, dbo.Item.CountSmall, 
                      dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, dbo.Item.CurrentBalance2, ROUND(CONVERT(FLOAT,dbo.Item.Dioscount_over),5) as Dioscount_over, ROUND(dbo.Item.net_balance, 4) AS Balance, 
                      dbo.Item.Day_Recession, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, dbo.Item.SmallPr0, dbo.Item.SmallPr1, LTRIM(RTRIM(Convert(Nvarchar(50),dbo.Item.SmallPr2)))as SmallPr2, dbo.Item.net_balance, 
                      dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, dbo.Z_TypeItem3.aname AS TypeItem3,dbo.Z_TypeItem4.aname AS TypeItem4,dbo.Z_TypeItem5.aname AS TypeItem5,dbo.Z_TypeItem6.aname AS TypeItem6,dbo.Z_TypeItem7.aname AS TypeItem7, dbo.Z_BigUnit.aname AS BigUnit, 
                      dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, 0.00 AS LastDiscount, 0.00 AS LastPrice, dbo.Item.MaxSalDiscount, dbo.Item.MinSalPr, 
                      dbo.Item.FindBadil, dbo.Item.Deleted, ISNULL(dbo.Item.default_sal, 0) AS default_sal, Item.MaxQu, dbo.Item.Ticket, dbo.Item.PathItemPic
                       , CASE WHEN Item.TYPE = 1 THEN 'محظور' WHEN Item.TYPE = 2 THEN 'ممنوع من العرض' WHEN Item.TYPE = 3 THEN 'انتاج تام' WHEN Item.TYPE = 4 THEN 'خدمه' WHEN Item.TYPE = 5 THEN 'عهده' WHEN Item.TYPE = 6 THEN 'نواقص' ELSE 'عادى' END AS TYPEName

FROM         dbo.Item LEFT OUTER JOIN
                      dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                      dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                      dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN
                      dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                      dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                      dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id LEFT OUTER JOIN
					  dbo.Z_TypeItem4 ON dbo.Item.IdTypeItem4 = dbo.Z_TypeItem4.id LEFT OUTER JOIN
					  dbo.Z_TypeItem5 ON dbo.Item.IdTypeItem5 = dbo.Z_TypeItem5.id LEFT OUTER JOIN
					  dbo.Z_TypeItem6 ON dbo.Item.IdTypeItem6 = dbo.Z_TypeItem6.id LEFT OUTER JOIN
					  dbo.Z_TypeItem7 ON dbo.Item.IdTypeItem7 = dbo.Z_TypeItem7.id LEFT OUTER JOIN

                      dbo.ItemCode ON dbo.Item.id_item = dbo.ItemCode.id_item
WHERE     (dbo.ItemCode.code = @variable) OR
                      (dbo.Item.ENname = @variable) OR
                      (dbo.Item.InternationalCode = @variable) OR
                      (dbo.Item.ShortName = @variable)
GROUP BY dbo.Item.id_item, dbo.Item.ARname, dbo.Item.PurchasePrice,Item.keep, dbo.Item.Dioscount_main, dbo.Item.TYPE, dbo.Item.Tax, dbo.Item.Minimum, dbo.Item.BigPr0,dbo.Item.PublicPr, 
                      dbo.Item.BigPr1, dbo.Item.BigPr2, dbo.Item.BigPr3,dbo.Item.BigPr4,dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.CountMiddel, dbo.Item.CountSmall, dbo.ItemCode.code, 
                      dbo.Item.ShortName, dbo.Item.InternationalCode, dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, dbo.Item.CurrentBalance2, dbo.Item.ENname,Item.locationn, dbo.Item.cost,dbo.Item.CountMetr, 
                      dbo.Item.Dioscount_over, dbo.Item.Day_Recession, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, dbo.Item.SmallPr0, dbo.Item.SmallPr1, dbo.Item.SmallPr2, 
                      dbo.Z_TypeItem1.aname, dbo.Z_TypeItem2.aname, dbo.Z_TypeItem3.aname,dbo.Z_TypeItem4.aname, dbo.Z_TypeItem5.aname, dbo.Z_TypeItem6.aname,dbo.Z_TypeItem7.aname,  dbo.Z_BigUnit.aname,
					   dbo.Z_MiddellUnit.aname, dbo.Z_SmallUnit.aname, 
                      dbo.Item.net_balance, dbo.Item.MaxSalDiscount, dbo.Item.MinSalPr, dbo.Item.MoreCheck, dbo.Item.IsExpire, dbo.Item.IsImported, ROUND(dbo.Item.net_balance, 4), dbo.Item.FindBadil, 
                      dbo.Item.Deleted,ISNULL(dbo.Item.default_sal, 0) ,Item.MaxQu,  dbo.Item.Ticket, dbo.Item.PathItemPic
ORDER BY dbo.Item.ARname
END