
ALTER proc [dbo].[Day_Recession]
@variable date
as
  
BEGIN
DECLARE @VisbleThreeUnit BIT=1 
SELECT @VisbleThreeUnit= VisbleThreeUnit FROM ZZproperties
IF @VisbleThreeUnit=1 SELECT     MAX(pdate) AS Day_Recession, id_item, ARname, InternationalCode, ShortName, BigPr0, ROUND(CONVERT(FLOAT,cost),2) AS cost,ROUND(CONVERT(FLOAT,Dioscount_over),2) AS Dioscount_over,ROUND(CONVERT(FLOAT,PurchasePrice),2) AS PurchasePrice,ROUND(CONVERT(FLOAT, Cost * net_balance),2)  AS total_cost, Round(convert(float,PurchasePrice*net_balance ),2) AS total_pur, RTRIM(LTRIM(STR(CurrentBalance0))) + ' ' + RTRIM(LTRIM(STR(CurrentBalance1))) + ' ' + RTRIM(LTRIM(STR(CurrentBalance2))) AS balance, TypeItem1, TypeItem2, TypeItem3, TypeItem4, TypeItem5, TypeItem6, TypeItem7, Minimum,net_balance FROM         View_store WHERE     (id_sal > 0) GROUP BY id_item, ARname, InternationalCode, ShortName, BigPr0, cost,Dioscount_over,PurchasePrice, RTRIM(LTRIM(STR(CurrentBalance0))) + ' ' + RTRIM(LTRIM(STR(CurrentBalance1))) + ' ' + RTRIM(LTRIM(STR(CurrentBalance2))), TypeItem1, TypeItem2, TypeItem3, TypeItem4, TypeItem5, TypeItem6, TypeItem7, Minimum,net_balance HAVING      (net_balance > 0) AND (MAX(pdate) <= CONVERT(DATETIME, @variable)) ORDER BY ARname
IF @VisbleThreeUnit=0  SELECT    MAX(pdate) AS Day_Recession, id_item, ARname, InternationalCode, ShortName, BigPr0, ROUND(CONVERT(FLOAT,cost),2) AS cost,ROUND(CONVERT(FLOAT,Dioscount_over),2) AS Dioscount_over,ROUND(CONVERT(FLOAT,PurchasePrice),2) AS PurchasePrice, ROUND(CONVERT(FLOAT, Cost * net_balance),2) AS total_cost, Round(convert(float,PurchasePrice*net_balance ),2) AS total_pur,ROUND(CONVERT(FLOAT,net_balance),2) AS balance, TypeItem1, TypeItem2, TypeItem3, TypeItem4, TypeItem5, TypeItem6, TypeItem7, Minimum FROM         View_store WHERE     (id_sal > 0) GROUP BY id_item, ARname, InternationalCode, ShortName, BigPr0, cost,Dioscount_over,PurchasePrice, net_balance, TypeItem1, TypeItem2, TypeItem3, TypeItem4, TypeItem5, TypeItem6, TypeItem7, Minimum HAVING      (net_balance > 0) AND (MAX(pdate) <= CONVERT(DATETIME, @variable)) ORDER BY ARname
END