
create PROCEDURE [dbo].[GetExpire]
@pdate date,
@STORE_ID BIGINT 
as 
IF @STORE_ID = 0
BEGIN
SELECT     TOP (100) PERCENT
Round(Convert(float,((dbo.ItemExpire.comee - dbo.ItemExpire.outt)) *dbo.Item.BigPr0 ),3)
as TotalSal,
Round(Convert(float,((dbo.ItemExpire.comee - dbo.ItemExpire.outt)) *dbo.Item.cost),3)
as TotalCost,
dbo.ItemExpire.id_item, dbo.ItemExpire.date_expire, dbo.ItemExpire.comee - dbo.ItemExpire.outt AS qu, RTRIM(LTRIM(STR(ItemExpire.NetQuBig))) + ' ' + RTRIM(LTRIM(STR(ItemExpire.NetMidell))) + ' ' + RTRIM(LTRIM(STR(ItemExpire.NetSmall )))AS  qu_expire, dbo.Item.ARname, 
                      dbo.Item.InternationalCode, dbo.Item.ShortName, dbo.Item.ENname, Round(Convert(float,dbo.Item.PurchasePrice),3) as PurchasePrice, dbo.Item.Dioscount_main, dbo.Item.Dioscount_over, 
                      dbo.Item.Day_Recession, dbo.Item.Minimum, Round(Convert(float,dbo.Item.Discount0),3) as Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.Tax, dbo.Item.CountMiddel, dbo.Item.CountSmall, 
                      Round(Convert(float,dbo.Item.BigPr0),3) as BigPr0, Round(Convert(float,dbo.Item.BigPr1),3)as BigPr1, Round(Convert(float,dbo.Item.BigPr2),3) as BigPr2,Round(Convert(float, dbo.Item.MIDPr0),3) as MIDPr0, Round(Convert(float,dbo.Item.MIDPr1),3) as MIDPr1, Round(Convert(float,dbo.Item.MIDPr2),3) as MIDPr2, Round(Convert(float,dbo.Item.SmallPr0),3) as SmallPr0, Round(Convert(float,dbo.Item.SmallPr1),3) as SmallPr1, Round(Convert(float,dbo.Item.SmallPr2),3) as SmallPr2, 
                      dbo.Item.BeginBalance0, dbo.Item.BeginBalance1, dbo.Item.BeginBalance2, dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, dbo.Item.CurrentBalance2, 
                      dbo.Item.TYPE, dbo.Item.Deleted, dbo.Item.cost, dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, 
                      dbo.Z_TypeItem3.aname AS TypeItem3, dbo.Z_TypeItem4.aname AS TypeItem4, dbo.Z_TypeItem5.aname AS TypeItem5, dbo.Z_TypeItem6.aname AS TypeItem6, 
                      dbo.Z_TypeItem7.aname AS TypeItem7, dbo.Z_BigUnit.aname AS BigUnit, dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, 
                      dbo.Item.net_balance, dbo.ItemExpire.id
FROM         dbo.Item INNER JOIN
                      dbo.ItemExpire ON dbo.Item.id_item = dbo.ItemExpire.id_item LEFT OUTER JOIN
                      dbo.Z_TypeItem4 ON dbo.Item.IdTypeItem4 = dbo.Z_TypeItem4.id LEFT OUTER JOIN
                      dbo.Z_TypeItem5 ON dbo.Item.IdTypeItem5 = dbo.Z_TypeItem5.id LEFT OUTER JOIN
                      dbo.Z_TypeItem6 ON dbo.Item.IdTypeItem6 = dbo.Z_TypeItem6.id LEFT OUTER JOIN
                      dbo.Z_TypeItem7 ON dbo.Item.IdTypeItem7 = dbo.Z_TypeItem7.id LEFT OUTER JOIN
                      dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                      dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                      dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN
                      dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                      dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                      dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id
    WHERE     (dbo.ItemExpire.comee - dbo.ItemExpire.outt > 0) AND (dbo.ItemExpire.date_expire <= @pdate) AND (dbo.Item.net_balance > 0)
    ORDER BY dbo.ItemExpire.date_expire
    END
ELSE
  BEGIN
   IF @STORE_ID = -2
   BEGIN
            SELECT     TOP (100) PERCENT ItemExpire.id_item, ItemExpire.date_expire, ItemExpire.comee - ItemExpire.outt AS qu, RTRIM(LTRIM(STR(CONVERT(int, 
            ItemExpire.comee - ItemExpire.outt)))) + ' ' + RTRIM(LTRIM(STR(CONVERT(int, (ItemExpire.comee - ItemExpire.outt - CONVERT(int, 
            ItemExpire.comee - ItemExpire.outt)) * Item.CountMiddel + .001)))) + ' ' + RTRIM(LTRIM(STR(ROUND(((ItemExpire.comee - ItemExpire.outt) 
            - (CONVERT(int, ItemExpire.comee - ItemExpire.outt) + CONVERT(int, (ItemExpire.comee - ItemExpire.outt - CONVERT(int,  ItemExpire.comee - ItemExpire.outt)) * Item.CountMiddel) / Item.CountMiddel)) * Item.CountSmall + .01, 0)))) AS qu_expire, Item.ARname,  Item.InternationalCode, Item.ShortName, Item.ENname, Item.PurchasePrice, Item.Dioscount_main, Item.Dioscount_over,  Item.Day_Recession, Item.Minimum, Item.Discount0, Item.Discount1, Item.Discount2, Item.Tax, Item.CountMiddel, Item.CountSmall,  Item.BigPr0, Item.BigPr1, Item.BigPr2, Item.MIDPr0, Item.MIDPr1, Item.MIDPr2, Item.SmallPr0, Item.SmallPr1, Item.SmallPr2,  Item.BeginBalance0, Item.BeginBalance1, Item.BeginBalance2, Item.CurrentBalance0, Item.CurrentBalance1, Item.CurrentBalance2,  Item.TYPE, Item.Deleted, Item.cost, Z_TypeItem1.aname AS TypeItem1, Z_TypeItem2.aname AS TypeItem2,  Z_TypeItem3.aname AS TypeItem3, Z_TypeItem4.aname AS TypeItem4, Z_TypeItem5.aname AS TypeItem5, Z_TypeItem6.aname AS TypeItem6,  Z_TypeItem7.aname AS TypeItem7, Z_BigUnit.aname AS BigUnit, Z_MiddellUnit.aname AS MiddellUnit, Z_SmallUnit.aname AS SmallUnit,  Item.net_balance, ItemExpire.id FROM         Item INNER JOIN ItemExpire ON Item.id_item = ItemExpire.id_item LEFT OUTER JOIN Z_TypeItem4 ON Item.IdTypeItem4 = Z_TypeItem4.id LEFT OUTER JOIN Z_TypeItem5 ON Item.IdTypeItem5 = Z_TypeItem5.id LEFT OUTER JOIN Z_TypeItem6 ON Item.IdTypeItem6 = Z_TypeItem6.id LEFT OUTER JOIN Z_TypeItem7 ON Item.IdTypeItem7 = Z_TypeItem7.id LEFT OUTER JOIN Z_BigUnit ON Item.IdBigUnit = Z_BigUnit.id LEFT OUTER JOIN Z_MiddellUnit ON Item.IdMiddellUnit = Z_MiddellUnit.id LEFT OUTER JOIN Z_SmallUnit ON Item.IdSmallUnit = Z_SmallUnit.id LEFT OUTER JOIN Z_TypeItem1 ON Item.IdTypeItem1 = Z_TypeItem1.id LEFT OUTER JOIN Z_TypeItem2 ON Item.IdTypeItem2 = Z_TypeItem2.id LEFT OUTER JOIN Z_TypeItem3 ON Item.IdTypeItem3 = Z_TypeItem3.id WHERE     (ItemExpire.comee - ItemExpire.outt > 0) AND ItemExpire.date_expire is null AND (Item.net_balance > 0)
    END
  ELSE  
   BEGIN
    
SELECT     TOP (100) PERCENT
Round(Convert(float,((dbo.ItemExpire.comee - dbo.ItemExpire.outt)) *dbo.Item.BigPr0 ),3)
as TotalSal,
Round(Convert(float,((dbo.ItemExpire.comee - dbo.ItemExpire.outt)) *dbo.Item.cost),3)
as TotalCost,
dbo.ItemExpire.id_item, dbo.ItemExpire.date_expire, dbo.ItemExpire.comee - dbo.ItemExpire.outt AS qu,
RTRIM(LTRIM(STR(ItemExpire.NetQuBig))) + ' ' + RTRIM(LTRIM(STR(ItemExpire.NetMidell))) + ' ' + RTRIM(LTRIM(STR(ItemExpire.NetSmall )))AS qu_expire, dbo.Item.ARname, 
                      dbo.Item.InternationalCode, dbo.Item.ShortName, dbo.Item.ENname, Round(Convert(float,dbo.Item.PurchasePrice),3), dbo.Item.Dioscount_main, dbo.Item.Dioscount_over, 
                      dbo.Item.Day_Recession, dbo.Item.Minimum, Round(Convert(float,dbo.Item.Discount0),3) as Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.Tax, dbo.Item.CountMiddel, dbo.Item.CountSmall, 
                      Round(Convert(float,dbo.Item.BigPr0),3) as BigPr0, Round(Convert(float,dbo.Item.BigPr1),3)as BigPr1, Round(Convert(float,dbo.Item.BigPr2),3) as BigPr2,Round(Convert(float, dbo.Item.MIDPr0),3) as MIDPr0, Round(Convert(float,dbo.Item.MIDPr1),3) as MIDPr1, Round(Convert(float,dbo.Item.MIDPr2),3) as MIDPr2, Round(Convert(float,dbo.Item.SmallPr0),3) as SmallPr0, Round(Convert(float,dbo.Item.SmallPr1),3) as SmallPr1, Round(Convert(float,dbo.Item.SmallPr2),3) as SmallPr2, 
                      dbo.Item.BeginBalance0, dbo.Item.BeginBalance1, dbo.Item.BeginBalance2, dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, dbo.Item.CurrentBalance2, 
                      dbo.Item.TYPE, dbo.Item.Deleted, dbo.Item.cost, dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, 
                      dbo.Z_TypeItem3.aname AS TypeItem3, dbo.Z_TypeItem4.aname AS TypeItem4, dbo.Z_TypeItem5.aname AS TypeItem5, dbo.Z_TypeItem6.aname AS TypeItem6, 
                      dbo.Z_TypeItem7.aname AS TypeItem7, dbo.Z_BigUnit.aname AS BigUnit, dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, 
                      dbo.Item.net_balance, dbo.ItemExpire.id
FROM         dbo.Item INNER JOIN
                      dbo.ItemExpire ON dbo.Item.id_item = dbo.ItemExpire.id_item LEFT OUTER JOIN
                      dbo.Z_TypeItem4 ON dbo.Item.IdTypeItem4 = dbo.Z_TypeItem4.id LEFT OUTER JOIN
                      dbo.Z_TypeItem5 ON dbo.Item.IdTypeItem5 = dbo.Z_TypeItem5.id LEFT OUTER JOIN
                      dbo.Z_TypeItem6 ON dbo.Item.IdTypeItem6 = dbo.Z_TypeItem6.id LEFT OUTER JOIN
                      dbo.Z_TypeItem7 ON dbo.Item.IdTypeItem7 = dbo.Z_TypeItem7.id LEFT OUTER JOIN
                      dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                      dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                      dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN
                      dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                      dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                      dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id
WHERE     (dbo.ItemExpire.comee - dbo.ItemExpire.outt > 0) AND (dbo.ItemExpire.date_expire <= @pdate) AND (dbo.Item.net_balance > 0) AND (dbo.ItemExpire.id_store =@STORE_ID )
ORDER BY dbo.ItemExpire.date_expire
END
END