

 create proc [dbo].[MakingSave]
        @id_order bigint,
        @id_StoreComplete bigint,
        @id_itemComplete bigint,
        @QuComplete float,
        @CostComplete float,
        @CostTrans float,
        @Pdate datetime,
		@notes nVARCHAR (200),
    	@CostCenter nVARCHAR (550),	
	    @user_name nVARCHAR (50),
		@WorkNum nVARCHAR (550) ,	
        @Type_Making AS Type_Making readonly 
       

 
        
as
 begin
       delete from ItemMaking_details where id_order=@id_order
       delete from ItemMaking_invoice where id_order=@id_order
       delete from item_store where id_Making=@id_order
       Declare @total decimal(18,4)=0
       if @QuComplete >0 and @CostComplete >0 set @total= @QuComplete * @CostComplete
  ---------------------------------     
insert into ItemMaking_invoice (id_order,id_StoreComplete,id_itemComplete,QuComplete,CostComplete,Pdate,notes,user_name,CostTrans,CostCenter,WorkNum )
values (@id_order,@id_storeComplete,@id_itemComplete,@QuComplete,@CostComplete,@Pdate,@notes,@user_name,@CostTrans,@CostCenter,@WorkNum)

insert into item_store(id_Making,id_item,id_Store,come_big,pdate,pr,total_item,NetCost,CostCenter)
values( @id_order,@id_itemComplete,@id_StoreComplete,@QuComplete ,@pdate,@CostComplete,@total,@total,@CostCenter)
 
-----details------------------------------------------------------------	        
declare @id_itemMatrial bigint
declare @id_StoreMatrial bigint
declare @unit tinyint
declare @cost float
declare @QU float
declare @QU_big float
declare @QU_Middel float
declare @QU_Small float      
declare @DateOut date 

declare Making_cursor cursor for
 select id_itemMatrial,id_StoreMatrial,unit,cost,qu,QU_big,QU_Middel,QU_Small,DateOut from @Type_Making

open Making_cursor
     fetch next from Making_cursor into
           @id_itemMatrial,@id_StoreMatrial,@unit,@cost,@qu,@QU_big,@QU_Middel,@QU_Small,@DateOut 
 while @@FETCH_STATUS =0
begin   
----------insert ItemMaking_details----------------------------------------
     insert into ItemMaking_details  (id_Order,id_itemMatrial,id_StoreMatrial,unit,cost,qu,DateOut) values (@id_order,@id_itemMatrial,@id_StoreMatrial,@unit,@cost,@qu,@DateOut)
----------insert item_store----------------------------------------
 insert into item_store(id_Making,id_item,id_Store,OUT_big,OUT_Middel,OUT_Small,pdate,pr,total_item,NetCost,CostCenter  )values ( @id_order,@id_itemMatrial,@id_StoreMatrial,@QU_big,@QU_Middel,@QU_Small ,@DateOut,@cost,@cost*@qu,abs(@cost*@qu)*-1,@CostCenter)
 
      fetch next from Making_cursor into
           @id_itemMatrial,@id_StoreMatrial,@unit,@cost,@qu,@QU_big,@QU_Middel,@QU_Small ,@DateOut

END
close Making_cursor
deallocate Making_cursor

END