
create proc [dbo].[PrompetDiscount] 
@money decimal(18,2),
@pdate datetime,
@aname nvarchar(100),
@IsCustomer INT,
@DES nvarchar(100),
@CostCenter nvarchar(100)
as
 
	Declare @idProfit BIGINT
	 select @idProfit=ID from tree where aname='الارباح والخسائر'
	   If @idProfit <= 0 
	    begin
	          SELECT'عفوا حساب الارباح والخسائر غير مسجل فى شجرة الحسابات'
	         RETURN '0'
	     end
	Declare @idCust BIGINT
	 select @idCust=ID from tree where aname=@aname
	   If @idCust <= 0
	     begin
	           SELECT'عفوا اسم الحساب غير مسجل فى شجرة الحسابات'
	           RETURN '0'   
         END
 insert into constraint_invoice (des,Total,pdate,CostCenter,Action_Type)values(@DES ,@money,@pdate,@CostCenter,@IsCustomer)
 IF @IsCustomer <=1 
     BEGIN
          insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,Action_Type ) values(@@IDENTITY, @money ,@money  , @idCust , @idProfit ,@aname,'الارباح والخسائر',@IsCustomer )
     END
ELSE
   BEGIN
      
        insert into constraint_details(id_constraint,credit,debt,id_debt,id_credit,debt_name,credit_name,Action_Type ) values(@@IDENTITY, @money ,@money  , @idCust , @idProfit ,@aname,'الارباح والخسائر',@IsCustomer )
END