
 create proc [dbo].[StoresBalanceCustom]
@variable BIGINT,
@pdate1 date,
@pdate2 date,
@CostCenter NVARCHAR(100)
as
if @variable =0
 
     BEGIN
				select'عفوا لا يمكن البحث عن الصفر '   
				RETURN '0'
     END
ELSE   
     BEGIN
DECLARE @VisbleThreeUnit BIT=1 
SELECT @VisbleThreeUnit= VisbleThreeUnit FROM ZZproperties
IF @VisbleThreeUnit=1
 BEGIN       
   IF @CostCenter='' SELECT BigUnit, MiddellUnit, SmallUnit,SUM(ROUND(CONVERT(float,(isnull(comee,0) - isnull(outt,0))) , 2)) AS BalanceInStore,ROUND(SUM(Convert(float,Profit )), 3) AS Profit , LTRIM(RTRIM(Convert(NVARCHAR(50),SUM(Convert(float,comee - outt)))))  AS BalanceStore,id_item, InternationalCode,net_balance,ShortName, ARname, ENname, ROUND(CONVERT(FLOAT,BigPr0),2) AS BigPr0,ROUND(CONVERT(FLOAT,PurchasePrice),2) AS PurchasePrice,ROUND(CONVERT(FLOAT,Dioscount_over),3) as Dioscount_over, TypeItem1, TypeItem2, TypeItem3,TypeItem4,TypeItem5,TypeItem6,TypeItem7, id_store, CountMiddel, CountSmall, SUM(comee) AS comee,SUM(outt) AS outt, SUM(comee - outt) AS Expr1, LTRIM(RTRIM(STR(SUM(CONVERT(Bigint, comee))))) + ' ' + LTRIM(RTRIM(STR(SUM(CONVERT(Bigint, (comee - CONVERT(Bigint, comee)) * CountMiddel + .001))))) + ' ' + LTRIM(RTRIM(STR(SUM(ROUND((comee - (CONVERT(Bigint, comee) + CONVERT(Bigint, (comee - CONVERT(Bigint, comee)) * CountMiddel) / CountMiddel)) * CountSmall, 0))))) AS come_, LTRIM(RTRIM(STR(SUM(CONVERT(Bigint, outt))))) + ' ' + LTRIM(RTRIM(STR(SUM(CONVERT(Bigint, (outt - CONVERT(Bigint, outt)) * CountMiddel + .001))))) + ' ' + LTRIM(RTRIM(STR(SUM(ROUND((outt - (CONVERT(Bigint, outt) + CONVERT(Bigint, (outt - CONVERT(Bigint, outt)) * CountMiddel) / CountMiddel)) * CountSmall + .01, 0))))) AS out_, ROUND(Convert(FLOAT,Dioscount_main),2) AS Dioscount_main, Minimum ,TYPE,(select LTRIM(RTRIM(STR(SUM(CONVERT (Bigint, comee-outt))))) + ' ' + LTRIM(RTRIM(STR(SUM(CONVERT (Bigint, (comee-outt - CONVERT (Bigint, comee-outt)) * CountMiddel + .001))))) + ' ' + LTRIM(RTRIM(STR(SUM(ROUND((comee-outt - (CONVERT (Bigint, comee-outt) + CONVERT (Bigint, (comee-outt - CONVERT (Bigint, comee-outt)) * CountMiddel) / CountMiddel)) * CountSmall, 0))))) from View_store where id_item =TableName.id_item and id_store =@variable and Convert(date,pdate) < Convert(date,@pdate1))as BeginBalance, (select convert(decimal(18,2),round(convert(decimal(18,2),SUM(total_item)),2)/SUM(comee)+.00000000001) from View_store where id_item =TableName.id_item and id_store =@variable AND ISNULL(comee,0) >0 and Convert(date,pdate) < Convert(date,@pdate2))as cost,(select round(convert(float,SUM(comee-outt)),2) from View_store where id_item =TableName.id_item and id_store =@variable and Convert(date,pdate) <= Convert(date,@pdate2))as balance ,(select round(convert(float,SUM(comee-outt)),2) from View_store   where id_item =TableName.id_item and id_store =@variable and Convert(date,pdate) <= Convert(date,@pdate2)) *  (select convert(decimal(18,2),round(convert(decimal(18,2),SUM(total_item)),0)/SUM(comee)+.00000000001) from View_store where id_item =TableName.id_item and id_store =@variable AND ISNULL(comee,0) >0 and Convert(date,pdate) < Convert(date,@pdate2))as total_cost FROM         dbo.View_store as  TableName  WHERE     (id_store = @variable) AND Convert(date,pdate) between @pdate1 and @pdate2 GROUP BY id_item, InternationalCode,net_balance,InternationalCode, ShortName, ARname, ENname, BigPr0,PurchasePrice,Dioscount_over, TypeItem1, TypeItem2, TypeItem3,TypeItem4,TypeItem5,TypeItem6,TypeItem7, id_store, CountMiddel, CountSmall, CurrentBalance0, CurrentBalance1, CurrentBalance2, LTRIM(RTRIM(STR(CurrentBalance0))) + ' ' + LTRIM(RTRIM(STR(CurrentBalance1))) + ' ' + LTRIM(RTRIM(STR(CurrentBalance2))),  Dioscount_main, Minimum, net_balance,BigUnit, MiddellUnit, SmallUnit,TYPE HAVING (ISNULL(TYPE, 0) <> 2 and ISNULL(TYPE, 0) <> 4 )
   IF @CostCenter<>'' SELECT BigUnit, MiddellUnit, SmallUnit,SUM(ROUND(CONVERT(float,(isnull(comee,0) - isnull(outt,0))) , 2)) AS BalanceInStore,ROUND(SUM(Convert(float,Profit )), 3) AS Profit ,LTRIM(RTRIM(Convert(NVARCHAR(50),SUM(Convert(float,comee - outt))))) AS BalanceStore,id_item, InternationalCode,net_balance,ShortName, ARname, ENname, ROUND(CONVERT(FLOAT,BigPr0),2) AS BigPr0,ROUND(CONVERT(FLOAT,PurchasePrice),2) AS PurchasePrice,ROUND(CONVERT(FLOAT,Dioscount_over),3) as Dioscount_over, TypeItem1, TypeItem2, TypeItem3,TypeItem4,TypeItem5,TypeItem6,TypeItem7, id_store, CountMiddel, CountSmall, SUM(comee) AS comee,SUM(outt) AS outt, SUM(comee - outt) AS Expr1, LTRIM(RTRIM(STR(SUM(CONVERT(Bigint, comee))))) + ' ' + LTRIM(RTRIM(STR(SUM(CONVERT(Bigint, (comee - CONVERT(Bigint, comee)) * CountMiddel + .001))))) + ' ' + LTRIM(RTRIM(STR(SUM(ROUND((comee - (CONVERT(Bigint, comee) + CONVERT(Bigint, (comee - CONVERT(Bigint, comee)) * CountMiddel) / CountMiddel)) * CountSmall, 0))))) AS come_, LTRIM(RTRIM(STR(SUM(CONVERT(Bigint, outt))))) + ' ' + LTRIM(RTRIM(STR(SUM(CONVERT(Bigint, (outt - CONVERT(Bigint, outt)) * CountMiddel + .001))))) + ' ' + LTRIM(RTRIM(STR(SUM(ROUND((outt - (CONVERT(Bigint, outt) + CONVERT(Bigint, (outt - CONVERT(Bigint, outt)) * CountMiddel) / CountMiddel)) * CountSmall + .01, 0))))) AS out_, ROUND(Convert(FLOAT,Dioscount_main),2) AS Dioscount_main, Minimum ,TYPE,(select LTRIM(RTRIM(STR(SUM(CONVERT (Bigint, comee-outt))))) + ' ' + LTRIM(RTRIM(STR(SUM(CONVERT (Bigint, (comee-outt - CONVERT (Bigint, comee-outt)) * CountMiddel + .001))))) + ' ' + LTRIM(RTRIM(STR(SUM(ROUND((comee-outt - (CONVERT (Bigint, comee-outt) + CONVERT (Bigint, (comee-outt - CONVERT (Bigint, comee-outt)) * CountMiddel) / CountMiddel)) * CountSmall, 0))))) from View_store where id_item =TableName.id_item and id_store =@variable and Convert(date,pdate) < Convert(date,@pdate1))as BeginBalance, (select convert(decimal(18,2),round(convert(decimal(18,2),SUM(total_item)),2)/SUM(comee)+.00000000001) from View_store where id_item =TableName.id_item and id_store =@variable AND ISNULL(comee,0) >0 and Convert(date,pdate) < Convert(date,@pdate2))as cost,(select round(convert(float,SUM(comee-outt)),2) from View_store where id_item =TableName.id_item and id_store =@variable and Convert(date,pdate) <= Convert(date,@pdate2))as balance ,(select round(convert(float,SUM(comee-outt)),2) from View_store   where id_item =TableName.id_item and id_store =@variable and Convert(date,pdate) <= Convert(date,@pdate2)) *  (select convert(decimal(18,2),round(convert(decimal(18,2),SUM(total_item)),0)/SUM(comee)+.00000000001) from View_store where id_item =TableName.id_item and id_store =@variable AND ISNULL(comee,0) >0 and Convert(date,pdate) < Convert(date,@pdate2))as total_cost FROM         dbo.View_store as  TableName  WHERE  CostCenter=@CostCenter AND (id_store = @variable) AND Convert(date,pdate) between @pdate1 and @pdate2 GROUP BY id_item, InternationalCode, net_balance, ShortName, ARname, ENname, BigPr0,PurchasePrice,Dioscount_over, TypeItem1, TypeItem2, TypeItem3,TypeItem4,TypeItem5,TypeItem6,TypeItem7, id_store, CountMiddel, CountSmall, CurrentBalance0, CurrentBalance1, CurrentBalance2, LTRIM(RTRIM(STR(CurrentBalance0))) + ' ' + LTRIM(RTRIM(STR(CurrentBalance1))) + ' ' + LTRIM(RTRIM(STR(CurrentBalance2))),  Dioscount_main, Minimum, net_balance,BigUnit, MiddellUnit, SmallUnit,TYPE HAVING (ISNULL(TYPE, 0) <> 2 and ISNULL(TYPE, 0) <> 4 )

END
ELSE
          IF @CostCenter=''   SELECT  BigUnit, MiddellUnit, SmallUnit,SUM(ROUND(CONVERT(float,(isnull(comee,0) - isnull(outt,0))) , 2)) AS BalanceInStore, ROUND(SUM(Convert(float,Profit )), 3) AS Profit , ROUND(SUM(Convert(float,comee - outt)), 2) AS BalanceStore, id_item, InternationalCode, ShortName, ARname, ENname, ROUND(SUM(Convert(float,BigPr0)), 3) AS BigPr0,ROUND(CONVERT(FLOAT,PurchasePrice),2) AS PurchasePrice,ROUND(CONVERT(FLOAT,Dioscount_over),3) as Dioscount_over,  TypeItem1,   TypeItem2, TypeItem3, TypeItem4, TypeItem5, TypeItem6, TypeItem7, id_store, CountMiddel, CountSmall, ROUND(SUM(Convert(float,comee)), 2) AS come_, ROUND(SUM(Convert(float,outt)), 2)  AS out_, ROUND(Convert(FLOAT,Dioscount_main),2) AS Dioscount_main, Minimum, TYPE,(select round(convert(float,SUM(comee-outt)),2) from View_store where id_item =TableName.id_item and id_store =@variable and Convert(date,pdate) < Convert(date,@pdate1))as BeginBalance, (select convert(decimal(18,2),round(convert(decimal(18,2),SUM(total_item)),2)/SUM(comee)+.00000000001) from View_store where id_item =TableName.id_item and id_store =@variable AND ISNULL(comee,0) >0 and Convert(date,pdate) < Convert(date,@pdate2))as cost,(select round(convert(float,SUM(comee-outt)),2) from View_store   where id_item =TableName.id_item and id_store =@variable and Convert(date,pdate) <= Convert(date,@pdate2))as balance ,(select round(convert(float,SUM(comee-outt)),2) from View_store   where id_item =TableName.id_item and id_store =@variable and Convert(date,pdate) <= Convert(date,@pdate2)) *  (select convert(decimal(18,2),round(convert(decimal(18,2),SUM(total_item)),0)/SUM(comee)+.00000000001) from View_store where id_item =TableName.id_item and id_store =@variable AND ISNULL(comee,0) >0 and Convert(date,pdate) < Convert(date,@pdate2))as total_cost FROM   View_store as  TableName WHERE   id_item =TableName.id_item and   (id_store = @variable) AND Convert(date,pdate) between @pdate1 and @pdate2 GROUP BY id_item, InternationalCode, ShortName, ARname, ENname, BigPr0,PurchasePrice, Dioscount_over,TypeItem1, TypeItem2, TypeItem3, TypeItem4, TypeItem5, TypeItem6, TypeItem7, id_store,  CountMiddel, CountSmall, CurrentBalance0, CurrentBalance1, CurrentBalance2, Dioscount_main, Minimum, TYPE, BigUnit, MiddellUnit, SmallUnit,net_balance HAVING     (ISNULL(TYPE, 0) <> 2 and ISNULL(TYPE, 0) <> 4 )
          IF @CostCenter<>''  SELECT   BigUnit, MiddellUnit, SmallUnit,SUM(ROUND(CONVERT(float,(isnull(comee,0) - isnull(outt,0))) , 2)) AS BalanceInStore, ROUND(SUM(Convert(float,Profit )), 3) AS Profit , ROUND(SUM(Convert(float,comee - outt)), 2) AS BalanceStore , id_item, InternationalCode, ShortName, ARname, ENname, ROUND(SUM(Convert(float,BigPr0)), 3) AS BigPr0,ROUND(CONVERT(FLOAT,PurchasePrice),2) AS PurchasePrice,ROUND(CONVERT(FLOAT,Dioscount_over),3) as Dioscount_over,  TypeItem1,   TypeItem2, TypeItem3, TypeItem4, TypeItem5, TypeItem6, TypeItem7, id_store, CountMiddel, CountSmall, ROUND(SUM(Convert(float,comee)), 2) AS come_, ROUND(SUM(Convert(float,outt)), 2)  AS out_, ROUND(Convert(FLOAT,Dioscount_main),2) AS Dioscount_main, Minimum TYPE,(select round(convert(float,SUM(comee-outt)),2) from View_store where id_item =TableName.id_item and id_store =@variable and Convert(date,pdate) < Convert(date,@pdate1))as BeginBalance, (select convert(decimal(18,2),round(convert(decimal(18,2),SUM(total_item)),2)/SUM(comee)+.00000000001) from View_store where id_item =TableName.id_item and id_store =@variable AND ISNULL(comee,0) >0 and Convert(date,pdate) < Convert(date,@pdate2))as cost,(select round(convert(float,SUM(comee-outt)),2) from View_store where id_item =TableName.id_item and id_store =@variable and Convert(date,pdate) <= Convert(date,@pdate2))as balance,(select round(convert(float,SUM(comee-outt)),2) from View_store   where id_item =TableName.id_item and id_store =@variable and Convert(date,pdate) <= Convert(date,@pdate2)) *  (select convert(decimal(18,2),round(convert(decimal(18,2),SUM(total_item)),0)/SUM(comee)+.00000000001) from View_store where id_item =TableName.id_item and id_store =@variable AND ISNULL(comee,0) >0 and Convert(date,pdate) < Convert(date,@pdate2))as total_cost FROM   View_store as  TableName WHERE     (id_store = @variable) AND (CostCenter = @CostCenter)AND Convert(date,pdate) between @pdate1 and @pdate2 GROUP BY id_item, InternationalCode, ShortName, ARname, ENname, BigPr0,PurchasePrice,Dioscount_over, TypeItem1, TypeItem2, TypeItem3, TypeItem4, TypeItem5, TypeItem6, TypeItem7, id_store,  CountMiddel, CountSmall, CurrentBalance0, CurrentBalance1, CurrentBalance2, Dioscount_main, Minimum, TYPE, BigUnit, MiddellUnit, SmallUnit,net_balance HAVING      (ISNULL(TYPE, 0) <> 2 and ISNULL(TYPE, 0) <> 4 )

END