
create proc [dbo].[ClearData]
@Type BIGINT
as
Delete from dbo.Citation
insert into Citation(ARname )values('   سبحان الله وبحمدة سبحان الله العظيم           ولا حول ولا قوةالا بالله          ولا اله الا الله')
insert into Citation(ARname )values('رَبَّنَا آتِنَا فِي الدُّنْيَا حَسَنَةً وَفِي الآخِرَةِ حَسَنَةً وَقِنَا عَذَابَ النَّارِ')
insert into Citation(ARname )values('رَبَّنَا أَفْرِغْ عَلَيْنَا صَبْرًا وَثَبِّتْ أَقْدَامَنَا وَانصُرْنَا عَلَى الْقَوْمِ الْكَافِرِينَ')
insert into Citation(ARname )values('رَبَّنَا لاَ تُزِغْ قُلُوبَنَا بَعْدَ إِذْ هَدَيْتَنَا وَهَبْ لَنَا مِن لَّدُنكَ رَحْمَةً إِنَّكَ أَنتَ الْوَهَّابُ')
insert into Citation(ARname )values('رَبَّنَا إِنَّنَا آمَنَّا فَاغْفِرْ لَنَا ذُنُوبَنَا وَقِنَا عَذَابَ النَّارِ')
insert into Citation(ARname )values('رَبِّ هَبْ لِي مِن لَّدُنْكَ ذُرِّيَّةً طَيِّبَةً إِنَّكَ سَمِيعُ الدُّعَاء')
insert into Citation(ARname )values('رَبَّنَا آمَنَّا بِمَا أَنزَلْتَ وَاتَّبَعْنَا الرَّسُولَ فَاكْتُبْنَا مَعَ الشَّاهِدِينَ')
insert into Citation(ARname )values('ربَّنَا اغْفِرْ لَنَا ذُنُوبَنَا وَإِسْرَافَنَا فِي أَمْرِنَا وَثَبِّتْ أَقْدَامَنَا وانصُرْنَا عَلَى الْقَوْمِ الْكَافِرِينَ')
insert into Citation(ARname )values('رَبَّنَا مَا خَلَقْتَ هَذا بَاطِلاً سُبْحَانَكَ فَقِنَا عَذَابَ النَّارِ رَبَّنَا إِنَّكَ مَن تُدْخِلِ النَّارَ فَقَدْ أَخْزَيْتَهُ وَمَا لِلظَّالِمِينَ مِنْ أَنصَارٍ')
insert into Citation(ARname )values('رَّبَّنَا إِنَّنَا سَمِعْنَا مُنَادِيًا يُنَادِي لِلإِيمَانِ أَنْ آمِنُواْ بِرَبِّكُمْ فَآمَنَّا رَبَّنَا فَاغْفِرْ لَنَا ذُنُوبَنَا وَكَفِّرْ عَنَّا سَيِّئَاتِنَا وَتَوَفَّنَا مَعَ الأبْرَارِ')
insert into Citation(ARname )values('رَبَّنَا وَآتِنَا مَا وَعَدتَّنَا عَلَى رُسُلِكَ وَلاَ تُخْزِنَا يَوْمَ الْقِيَامَةِ إِنَّكَ لاَ تُخْلِفُ الْمِيعَاد ِ')
insert into Citation(ARname )values('سبحان الله وبحمده عدد خلقه ورضا نفسه وزنة عرشه ومداد كلماته')
insert into Citation(ARname )values('ربنا تقبل منا انك انت السميع العليم     وتب علينا انك انت التواب الرحيم ')
insert into Citation(ARname )values('رب هب لي من لدنك ذرية طيبة انك سميع الدعاء')
insert into Citation(ARname )values('انت وليي في الدنيا والاخرة توفني مسلما والحقني بالصالحين')
insert into Citation(ARname )values('ربنا انك تعلم ما نخفي وما نعلن وما يخفى على الله من شيء في الارض ولا في السماء')
insert into Citation(ARname )values('رب اجعلني مقيم الصلاة ومن ذريتي ربنا وتقبل دعاء        ربنا اغفر لي ولوالدي وللمؤمنين يوم يقوم الحساب')
insert into Citation(ARname )values('لا اله الا انت سبحانك انى كنت من الظالمين      رب لا تذرنى فردا وانت خير الوارثين')
insert into Citation(ARname )values('ربنا اصرف عنا عذاب جهنم ان عذابها كان غراما انها ساءت مستقرا ومقاما ')
insert into Citation(ARname )values('رب هب لى حكما والحقنى بالصالحين واجعل لى لسان صدق فى الاخرين واجعلنى من ورثة جنة النعيم ')
insert into Citation(ARname )values('ربنا اكشف عنا العذاب انا مؤمنون      ربنا عليك توكلنا واليك انبنا واليك المصير ')
delete from dbo.z_tables 
dbcc checkident(z_tables,reseed,0)
delete from dbo.UserAddNew
dbcc checkident(UserAddNew,reseed,0)
delete from dbo.pur_temp 
dbcc checkident(pur_temp,reseed,0)
delete from dbo.sal_temp
dbcc checkident(sal_temp,reseed,0)

delete from  dbo.Delivery_box
dbcc checkident(Delivery_box,reseed,0)
 update ZZproperties set  Current_shift = 0
update TREE set  Current_shift = 0
delete from dbo.JopTime
dbcc checkident(JopTime,reseed,0)
delete from dbo.serial
dbcc checkident(serial,reseed,0)
delete from dbo.Sizee
dbcc checkident(Sizee,reseed,0)
Delete from SalaryIsAdd
Delete from constraint_invoice
dbcc checkident(constraint_invoice,reseed,0)

if isnull(@Type,0) <> 55
BEGIN
    delete from dbo.ItemCode
    dbcc checkident(ItemCode,reseed,0)
	delete from  item_Request
	dbcc checkident(item_Request,reseed,0)
	delete from  dbo.item_Requ
	dbcc checkident(item_Requ,reseed,0)
	delete from cust 
	dbcc checkident(cust,reseed,0)
	delete from Tree 
	dbcc checkident(tree,reseed,0)
	delete from  EMP
	delete from dbo.UserPermition
	dbcc checkident(UserPermition,reseed,0)
	delete from dbo.Z_delegate
	dbcc checkident(Z_delegate,reseed,0)
	delete from dbo.Z_Title
	dbcc checkident(Z_Title,reseed,0)
	delete from dbo.Z_way
	dbcc checkident(Z_way,reseed,0)
	Delete from dbo.MyProduct 
	dbcc checkident(MyProduct,reseed,0)
	Delete from dbo.MyBuilderHeader 
	dbcc checkident(MyBuilderHeader,reseed,0)
	Delete from dbo.CostCenterDetails
	dbcc checkident(CostCenterDetails,reseed,0)
	Delete from dbo.z_CostCenter
END
delete from dbo.PaperCome
dbcc checkident(PaperCome,reseed,0)
delete from dbo.PaperOut
dbcc checkident(PaperOut,reseed,0)
delete from dbo.Tree_Account
dbcc checkident(Tree_Account,reseed,0)

Delete from constraint_details
Dbcc checkident(constraint_details,reseed,0)




Delete from dbo.ItemTicket 
dbcc checkident(ItemTicket,reseed,0)


delete from dbo.ItemAmortization_details
dbcc checkident(ItemAmortization_details,reseed,0)
delete from dbo.ItemAmortization_invoice
delete from dbo.ItemBarcode
dbcc checkident(ItemBarcode,reseed,0)

delete from dbo.ItemExpire
dbcc checkident(ItemExpire,reseed,0)
delete from dbo.ItemMaking_Details
dbcc checkident(ItemMaking_Details,reseed,0)
delete from dbo.ItemMaking_Invoice 
delete from dbo.Store_details
dbcc checkident(Store_details,reseed,0)
delete from dbo.store_Invoice
delete from Item_store 
dbcc checkident(Item_store,reseed,0)



delete from  empTimeInOut
dbcc checkident(empTimeInOut,reseed,0)

delete from Talbia_Details 
dbcc checkident(Talbia_Details,reseed,0)
delete from Talbia_Invoice
delete from PurTransfer
dbcc checkident([PurTransfer],reseed,0)
delete from Pur_Details 
dbcc checkident(Pur_Details,reseed,0)
delete from Pur_Invoice
delete from RPur_Details


dbcc checkident(RPur_Details,reseed,0)
delete from RPur_Invoice
delete from Sal_Details
dbcc checkident(sal_Details,reseed,0)
delete from Sal_Deleted
dbcc checkident(Sal_Deleted,reseed,0)
delete from Sal_Invoice
delete from RSal_Details
dbcc checkident(Rsal_Details,reseed,0)
delete from RSal_Invoice

dbcc checkident(Rsal_Details,reseed,0)
delete from RSal_Invoice


    delete from dbo.zzz_workMatrail
    dbcc checkident(zzz_workMatrail,reseed,0) 
    
    delete from  dbo.zzz_UnWorkdirect  
    dbcc checkident(zzz_UnWorkdirect,reseed,0)
    
    delete from dbo.zzz_WorkProduct
    dbcc checkident(zzz_WorkProduct,reseed,0)
    
    delete from dbo.zzz_StepOfWork
    dbcc checkident(zzz_StepOfWork,reseed,0)
    
     delete from dbo.zzz_StepOfWork
    dbcc checkident(zzz_StepOfWork,reseed,0)
    
     delete from dbo.zzz_WorkMain
      
IF @Type =100
 BEGIN
    delete from item
    dbcc checkident(item,reseed,0)
    
    delete from dbo.Z_TypeItem1
    dbcc checkident(Z_TypeItem1,reseed,0)
    delete from dbo.Z_TypeItem2
    dbcc checkident(Z_TypeItem2,reseed,0)
    
    delete from dbo.Z_TypeItem3
    dbcc checkident(Z_TypeItem3,reseed,0)
    
    delete from dbo.Z_BigUnit
    dbcc checkident(Z_BigUnit,reseed,0)
    
    
    delete from dbo.Z_MiddellUnit
    dbcc checkident(Z_MiddellUnit,reseed,0)
    
    delete from dbo.Z_SmallUnit
    dbcc checkident(Z_SmallUnit,reseed,0)
    
    
    -----------------------------------------

    
    delete from dbo.zzz_Step
    dbcc checkident(zzz_Step,reseed,0) 
    
    delete from dbo.zzz_DirectEx
    dbcc checkident(zzz_DirectEx,reseed,0) 
    
    delete from dbo.zzz_UnDirectEx
    dbcc checkident(zzz_UnDirectEx,reseed,0)
    
 
  END
ELSE
    BEGIN
    update Item set CurrentBalance0 =0,CurrentBalance1 =0,CurrentBalance2 =0,net_balance=0,cost =0
END
if isnull(@Type,0) <> 55
BEGIN
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate ,top_main  )values('الاصول',0,'1','0',0,null,0,0,GETDATE(),1)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate ,issub ,top_main )values('اثاث',1,'111','23',0,null,0,0,GETDATE(),0,1)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate ,issub ,top_main )values('اراضى',1,'112','23',0,null,0,0,GETDATE(),0,1)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate  ,issub,top_main )values('سيارات',1,'113','23',0,null,0,0,GETDATE(),0,1)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate  ,issub,top_main )values('النقدية',1,'121','24',0,null,0,0,GETDATE(),0,1)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate ,issub ,top_main )values('العملاء',1,'122','24',0,null,0,0,GETDATE(),0,1)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate ,issub,top_main  )values('البنك',1,'123','24',0,null,0,0,GETDATE(),0,1)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate ,top_main  )values('بضاعة',1,'124','24',0,null,0,0,GETDATE(),1)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate ,top_main  )values('الالتزامات وحقوق الملكية',0,'2','0',0,null,0,0,GETDATE(),2)



insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate  ,issub,top_main )values('الموردين',1,'211','11',1,null,0,0,GETDATE(),0,2)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate ,top_main  )values('الالتزامات',0,'21','9',1,null,0,0,GETDATE(),2)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate  ,issub,top_main )values('رأس المال',1,'221','25',1,null,0,0,GETDATE(),0,2)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate ,issub ,top_main )values('الايرادات',3,'4','0',1,null,0,0,GETDATE(),0,4)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate ,top_main  )values('مبيعات',3,'41','13',1,null,0,0,GETDATE(),4)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate ,top_main  )values('مردودات مشتريات',3,'42','13',1,null,0,0,GETDATE(),4)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate  ,issub,top_main )values('ايرادات اخرى',3,'43','13',1,null,0,0,GETDATE(),0,4)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate  ,issub,top_main )values('المصروفات',3,'3','0',0,null,0,0,GETDATE(),0,3)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate ,top_main  )values('مشتريات',3,'31','17',0,null,0,0,GETDATE(),3)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate ,top_main  )values('مردودات مبيعات',3,'32','17',0,null,0,0,GETDATE(),3)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate  ,top_main )values('الارباح والخسائر',1,'222','25',1,null,0,0,GETDATE(),2)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate  ,issub,top_main )values('أوراق قبـض',1,'125','24',0,null,0,0,GETDATE(),0,1)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate  ,issub,top_main )values('أوراق دفـــع',1,'212','11',1,null,0,0,GETDATE(),0,2)

insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate ,top_main  )values('الاصول الثابتة',null,'11','1',0,null,0,0,GETDATE(),1)
insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate ,top_main  )values('الاصول المتداولة',null,'12','1',0,null,0,0,GETDATE(),1)

insert into Tree(aname,IsShow ,idd,type ,acc_type,nots,Begin_balance,IsCustomer,pdate ,top_main  )values('حقوق الملكية',0,'22','9',1,null,0,0,GETDATE(),2)

update Tree set id_main =id where id_main is null
Insert into cust (id_account,iscustomer,aname,CustomerType)values(5,0,'نقــــدى',2)

delete from dbo.Z_Stores
insert into Z_Stores(aname)values('المخزن الرئيسي')
insert into tree (aname,type,nots,pdate,IsShow,Begin_balance,id_main,visa,IsSub,IDD,top_main,MainName,TaxesCard,CurrencyPrice)values('الدرج','5','','2023-9-21',2,0,5,'False','True','1211',1,'النقدية','',0)
insert into tree (aname,type,nots,pdate,IsShow,Begin_balance,id_main,visa,IsSub,IDD,top_main,MainName,TaxesCard,CurrencyPrice)values('خزينه اخرى','5','','2023-9-21',2,0,5,'False','True','1212',1,'النقدية','',0)

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'V001', N'Export', N'تصدير للخارج', N'T1')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'V002', N'Export to free areas and other areas', N'تصدير مناطق حرة وأخرى', N'T1')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'V003', N'Exempted od or service', N'سلعة أو خدمة معفاة', N'T1')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'V004', N'A non-taxable od or service', N'سلعة أو خدمة غير خاضعة للضريبة', N'T1')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'V005', N'Exemptions for diplomats, consulates and embassies', N'إعفاءات دبلوماسين والقنصليات والسفارات', N'T1')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'V006', N'Defence and National security Exemptions', N'إعفاءات الدفاع والأمن القومى', N'T1')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'V007', N'Agreements exemptions', N'إعفاءات اتفاقيات', N'T1')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'V008', N'Special Exemptios and other reasons', N'إعفاءات خاصة و أخرى', N'T1')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'V009', N'General Item sales', N'سلع عامة', N'T1')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'V010', N'Other Rates', N'نسب ضريبة أخرى', N'T1')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'Tbl01', N'Table tax (percentage)', N'ضريبه الجدول (نسبيه)', N'T2')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'Tbl02', N'Table tax (Fixed Amount)', N'ضريبه الجدول (النوعية)', N'T3')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'W001', N'Contracting', N'المقاولات', N'T4')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'W002', N'Supplies', N'التوريدات', N'T4')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'W003', N'Purachases', N'المشتريات', N'T4')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'W004', N'Services', N'الخدمات', N'T4')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES (N'W005', N'Sumspaid by the cooperative societies for car transportation to their members', N'المبالغالتي تدفعها الجميعات التعاونية للنقل بالسيارات لاعضائها', N'T4')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'W006', N'Commissionagency & brokerage', N'الوكالةبالعمولة والسمسرة', N'T4')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES (N'W007', N'Discounts& grants & additional exceptional incentives granted by smoke &cement companies', N'الخصوماتوالمنح والحوافز الاستثنائية ةالاضافية التي تمنحها شركات الدخان والاسمنت ', N'T4')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'W008', N'Alldiscounts & grants & commissions granted by petroleum &telecommunications & other companies', N'جميعالخصومات والمنح والعمولات  التيتمنحها  شركات البترول والاتصالات ...وغيرها من الشركات المخاطبة بنظام الخصم', N'T4')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'W009', N'Supporting export subsidies', N'مساندة دعم الصادرات التي يمنحها صندوق تنمية الصادرات ', N'T4')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'W010', N'Professional fees', N'اتعاب مهنية', N'T4')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'W011', N'Commission & brokerage _A_57', N'العمولة والسمسرة _م_57', N'T4')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'W012', N'Hospitals collecting from doctors', N'تحصيل المستشفيات من الاطباء', N'T4')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'W013', N'Royalties', N'الاتاوات', N'T4')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'W014', N'Customs clearance', N'تخليص جمركي ', N'T4')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES (N'W015', N'Exemption', N'أعفاء', N'T4')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'W016', N'advance payments', N'دفعات مقدمه', N'T4')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES (N'ST01', N'Stamping tax (percentage)', N'ضريبه الدمغه (نسبيه)', N'T5')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES (N'ST02', N'Stamping Tax (amount)', N'ضريبه الدمغه (قطعيه بمقدار ثابت)', N'T6')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'Ent01', N'Entertainment tax (rate)', N'ضريبة الملاهى (نسبة)', N'T7')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'Ent02', N'Entertainment tax (amount)', N'ضريبة الملاهى (قطعية)', N'T7')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'RD01', N'Resource development fee (rate)', N'رسم تنميه الموارد (نسبة)', N'T8')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'RD02', N'Resource development fee (amount)', N'رسم تنميه الموارد (قطعية)', N'T8')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'SC01', N'Service charges (rate)', N'رسم خدمة (نسبة)', N'T9')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'SC02', N'Service charges (amount)', N'رسم خدمة (قطعية)', N'T9')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'Mn01', N'Municipality Fees (rate)', N'رسم المحليات (نسبة)', N'T10')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'Mn02', N'Municipality Fees (amount)', N'رسم المحليات (قطعية)', N'T10')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'MI01', N'Medical insurance fee (rate)', N'رسم التامين الصحى (نسبة)', N'T11')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'MI02', N'Medical insurance fee (amount)', N'رسم التامين الصحى (قطعية)', N'T11')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'OF01', N'Other fees (rate)', N'رسوم أخرى (نسبة)', N'T12')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'OF02', N'Other fees (amount)', N'رسوم أخرى (قطعية)', N'T12')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'ST03', N'Stamping tax (percentage)', N'ضريبه الدمغه (نسبيه)', N'T13')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES (N'ST04', N'Stamping Tax (amount)', N'ضريبه الدمغه (قطعيه بمقدار ثابت)', N'T14')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'Ent03', N'Entertainment tax (rate)', N'ضريبة الملاهى (نسبة)', N'T15')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'Ent04', N'Entertainment tax (amount)', N'ضريبة الملاهى (قطعية)', N'T15')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'RD03', N'Resource development fee (rate)', N'رسم تنميه الموارد (نسبة)', N'T16')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'RD04', N'Resource development fee (amount)', N'رسم تنميه الموارد (قطعية)', N'T16')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'SC03', N'Service charges (rate)', N'رسم خدمة (نسبة)', N'T17')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'SC04', N'Service charges (amount)', N'رسم خدمة (قطعية)', N'T17')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'Mn03', N'Municipality Fees (rate)', N'رسم المحليات (نسبة)', N'T18')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'Mn04', N'Municipality Fees (amount)', N'رسم المحليات (قطعية)', N'T18')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'MI03', N'Medical insurance fee (rate)', N'رسم التامين الصحى (نسبة)', N'T19')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'MI04', N'Medical insurance fee (amount)', N'رسم التامين الصحى (قطعية)', N'T19')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'OF03', N'Other fees (rate)', N'رسوم أخرى (نسبة)', N'T20')

--INSERT [dbo].[TaxSubtypes] ( [Code], [Desc_en], [Desc_ar], [TaxtypeReference]) VALUES ( N'OF04', N'Other fees (amount)', N'رسوم أخرى (قطعية)', N'T20')



--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T1', N'Value added tax', N'ضريبه القيمه المضافه')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T2', N'Table tax (percentage)', N'ضريبه الجدول (نسبيه)')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T3', N'Table tax (Fixed Amount)', N'ضريبه الجدول (قطعيه)')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T4', N'Withholding tax (WHT)', N'الخصم تحت حساب الضريبه')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T5', N'Stamping tax (percentage)', N'ضريبه الدمغه (نسبيه)')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T6', N'Stamping Tax (amount)', N'ضريبه الدمغه (قطعيه بمقدار ثابت )')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T7', N'Entertainment tax', N'ضريبة الملاهى')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T8', N'Resource development fee', N'رسم تنميه الموارد')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T9', N'Table tax (percentage)', N'رسم خدمة')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T10', N'Municipality Fees', N'رسم المحليات')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T11', N'Medical insurance fee', N'رسم التامين الصحى')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T12', N'Other fees', N'رسوم أخري')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T13', N'Stamping tax (percentage)', N'ضريبه الدمغه (نسبيه)')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T14', N'Stamping Tax (amount)', N'ضريبه الدمغه (قطعيه بمقدار ثابت )')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T15', N'Entertainment tax', N'ضريبة الملاهى')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T16', N'Resource development fee', N'رسم تنميه الموارد')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T17', N'Table tax (percentage)', N'رسم خدمة')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T18', N'Municipality Fees', N'رسم المحليات')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T19', N'Medical insurance fee', N'رسم التامين الصحى')

--INSERT [dbo].[TaxTypes] ( [Code], [Desc_en], [Desc_ar]) VALUES ( N'T20', N'Other fees', N'رسوم أخرى')


--INSERT [dbo].[Currncy] ( [code], [Desc_en], [rate], [RegistrationTaxFlag]) VALUES ( N'EGP', N'Egyptian Pound', 1, N'376887036')



--INSERT [dbo].[Z_Stores] ( [aname], [Name], [TaxNumber], [RegistrationNumber], [Phone1], [buildingNumber], [postalCode], [room], [Address], [floor], [BranchID], [RegionCity], [Governate], [Street], [landmark], [additionalInformation], [BankName], [AccountNo], [IBANNumber], [BankAddress], [ClientId], [ClientSecret], [ActivityCode], [TokenPin], [documentTypeVersion], [testtype], [ClientIdPOS], [ClientSecretPOS], [SerialDevice], [SystemVersion], [documentTypeVersionPOS], [RowCode], [sh_tree], [BarAddConstraint], [BarSubItem8], [GeneralAccount]) VALUES ( N'المخزن الرئيسى', N'المنصور للحلويات والصناعات الغدائيه المتكامله', N'24066662', N'376887036', N'رىرى', N'10', N'456456', N'1', N'كفر حجازى', N'56756', N'0', N'الجرايده', N'كفر الشيخ', N'عين شمس', N'تانتان', N'بلابلابلابل', N'', N'', N'', N'', N'a642c170-af9d-4011-9db9-7b7e4fc6e4e0', N'a2d1a897-5597-47e9-bb33-c48528f625da', N'1073', N'24066662', N'1.0', N'تجريبي', N'', N'', N'', N'', N'', N'BRN000106', NULL, NULL, NULL, NULL)


END