

CREATE  trigger [dbo].[DeleteFromTableS]
on [dbo].[constraint_invoice]
for delete
AS
BEGIN
   Declare @id_PaperCome bigint=0
   Select @id_PaperCome=id_PaperCome from deleted 
   If @id_PaperCome>0  delete from PaperCome where id_PaperCome=@id_PaperCome
   

   Declare @id_PaperOut bigint=0
   Select @id_PaperOut=id_PaperOut from deleted 
   If @id_PaperOut>0  delete from PaperOut where id_PaperOut=@id_PaperOut
  
   Declare @id_Product bigint=0
   Select @id_Product=id_Product from deleted 
   If @id_Product>0  delete from MyProduct where id_Product=@id_Product
   
   Declare @id_Contract bigint=0
   Select @id_Contract=id_Contract from deleted 
   If @id_Contract>0  delete from Contract where id_Contract=@id_Contract

   Declare @id_ItemTicket bigint=0
   Select @id_ItemTicket=id_ItemTicket from deleted 
   If @id_ItemTicket>0  delete from ItemTicket where id_order=@id_ItemTicket
   
   --Declare @id_Installment bigint=0
   --Select @id_Installment=id_Installment from deleted 
   --If @id_Installment>0  delete from dbo.paper_InstallmentInvoice where id_Installment=@id_Installment



END