
ALTER  trigger [dbo].[delete_Tree_Account]
on [dbo].[constraint_details]
for delete
AS
BEGIN
declare @id_constraint bigint
declare @id_debt bigint
declare @id_credit bigint

select @id_debt=id_debt  from deleted 
select @id_credit=id_credit  from deleted 

select @id_constraint=id_constraint from deleted 
delete from dbo.Tree_Account where id_constraint=@id_constraint
delete from dbo.constraint_invoice  where id_constraint=@id_constraint

END