
CREATE PROC [dbo].[DeleteConstraint]

@ID_Trans bigint,
@Trans int,
@idAccount bigint

as

DECLARE @id_cash bigint
DECLARE @pdate DATE
DECLARE @Total DECIMAL(18,2)
DECLARE @id_constraint BIGINT 
 

SELECT @id_cash=id from TREE where aname='النقدية'

IF ISNULL(@TRANS,0) =0   -------مشتريات
BEGIN
SELECT @Total=Total FROM PUR_INVOICE where id_PUR=@ID_Trans
SELECT @pdate =pdate FROM PUR_INVOICE where id_PUR=@ID_Trans

     DELETE from constraint_invoice where isnull(id_pur,0)=@ID_Trans and isnull(id_pur,0)>0
     UPDATE pur_Invoice set AmountPaid=Total,TypePaied=0 where id_pur=@ID_Trans
     SELECT @idAccount=id from TREE where aname='مشتريات'
     INSERT into constraint_invoice(id_pur,des,pdate,total) values(@ID_Trans,' شـراء بضاعة نقدى ... فاتورة رقم '+CONVERT (nvarchar ,@ID_Trans),@pdate,@Total)
	 INSERT into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values(@@IDENTITY,@Total,@Total,@idAccount,@id_cash,'مشتريات نقدية','نقدية')
END
IF ISNULL(@TRANS,0) =1   -------مردودات مشتريات
BEGIN
SELECT @Total=Total FROM RPUR_INVOICE where id_RPUR=@ID_Trans
SELECT @pdate =pdate FROM RPUR_INVOICE where id_RPUR=@ID_Trans

     DELETE from constraint_invoice where isnull(id_Rpur,0)=@ID_Trans and isnull(id_Rpur,0)>0
     UPDATE Rpur_Invoice set AmountPaid=Total,TypePaied=0 where id_Rpur=@ID_Trans
     SELECT @idAccount=id from TREE where aname='مردودات مشتريات'
	 INSERT into constraint_invoice(id_Rpur,des,pdate,total) values(@ID_Trans,' مردودات مشتريات... فاتورة رقم'+CONVERT (nvarchar ,@ID_Trans),@pdate,@Total)
	 INSERT into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )values(@@IDENTITY,@Total,@Total,@idAccount,@id_cash,'مردودات مشتريات','نقدية')
END
IF ISNULL(@TRANS,0) =2   -------مبيعات
BEGIN
SELECT @Total=Total FROM SAL_INVOICE where id_sal=@ID_Trans
SELECT @pdate =pdate FROM SAL_INVOICE where id_sal=@ID_Trans

     DELETE from constraint_invoice where isnull(id_sal,0)=@ID_Trans and isnull(id_sal,0)>0
     UPDATE sal_Invoice set AmountPaid=Total,TypePaied=0 where id_sal=@ID_Trans
     SELECT @idAccount=id from TREE where aname='مبيعات'
     INSERT into constraint_invoice(id_sal,des,pdate,total) values(@ID_Trans,'مبيعات نقدى ... فاتورة رقم '+CONVERT (nvarchar ,@ID_Trans),@pdate,@Total)
     INSERT into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )values(@@IDENTITY,@Total,@Total,@idAccount,@id_cash,'مبيعات نقدية','نقدية')
END

IF ISNULL(@TRANS,0) =3   -------مردودات مبيعات
BEGIN
SELECT @Total=Total FROM RSAL_INVOICE where id_Rsal=@ID_Trans
SELECT @pdate =pdate FROM RSAL_INVOICE where id_Rsal=@ID_Trans

     DELETE from constraint_invoice where isnull(id_Rsal,0)=@ID_Trans and isnull(id_Rsal,0)>0
     UPDATE RSAL_Invoice set AmountPaid=Total,TypePaied=0 where id_Rsal=@ID_Trans
     SELECT @idAccount=id from TREE where aname='مردودات مبيعات'
	 INSERT into constraint_invoice(id_RSal,des,pdate,total) values(@ID_Trans,' مردودات مبيعات نقدى ... فاتورة رقم '+CONVERT (nvarchar ,@ID_Trans),@pdate,@Total)
	 INSERT into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name ) values(@@IDENTITY,@Total,@Total,@idAccount,@id_cash,'مردودات مبيعات','نقدية')
END
IF ISNULL(@TRANS,0) =4 OR ISNULL(@TRANS,0) =5  OR ISNULL(@TRANS,0) =6 -------استلام نقدية
BEGIN
declare @BeginACC BIGINT
SELECT @BeginACC= id_account from constraint_invoice where id_constraint=@ID_Trans
      IF  isnull(@BeginACC,0)>0 update Tree set Begin_balance=0 where id=@idAccount 
      DELETE from constraint_details  where id_constraint =@ID_Trans 
      DELETE from constraint_invoice where id_constraint=@ID_Trans
END

