 --drop proc [dbo].[GetTransferCost]
 create proc [dbo].[GetTransferCost]
@pdate1 date,
@pdate2 date
as
BEGIN
SELECT        TOP (100) PERCENT dbo.PurTransfer.CustomsNo, dbo.Pur_Invoice.pdate, dbo.Pur_Details.id_pur, dbo.Pur_Invoice.id_pur AS id_pur2, dbo.cust.Aname AS Cust_Name, dbo.cust.Address, dbo.Item.ARname, 
                         ROUND(dbo.Pur_Details.qu, 4) AS qu, ROUND(CONVERT(float, dbo.Pur_Details.total_item), 4) AS total_item, dbo.Pur_Invoice.CurrencyPrice, dbo.Pur_Details.id_item, dbo.Z_TypeItem1.aname AS TypeItem1, 
                         dbo.Z_TypeItem2.aname AS TypeItem2, dbo.Z_TypeItem3.aname AS TypeItem3, dbo.Z_TypeItem4.aname AS TypeItem4, dbo.Z_TypeItem5.aname AS TypeItem5, dbo.Z_TypeItem6.aname AS TypeItem6, 
                         dbo.Z_TypeItem7.aname AS TypeItem7, SUM(dbo.PurTransfer.Expenses_Inside1) AS Expenses_Inside1, SUM(dbo.PurTransfer.Expenses_Inside2) AS Expenses_Inside2, SUM(dbo.PurTransfer.Expenses_Inside3) 
                         AS Expenses_Inside3, SUM(dbo.PurTransfer.Expenses_Inside4) AS Expenses_Inside4, SUM(dbo.PurTransfer.Expenses_Inside5) AS Expenses_Inside5, SUM(dbo.PurTransfer.Expenses_Inside6) AS Expenses_Inside6, 
                         SUM(dbo.PurTransfer.Expenses_Inside7) AS Expenses_Inside7, SUM(dbo.PurTransfer.Expenses_Inside8) AS Expenses_Inside8, SUM(dbo.PurTransfer.Expenses_Inside9) AS Expenses_Inside9, dbo.Pur_Invoice.Total, 
                         SUM(dbo.Pur_Details.tax) AS tax, SUM(dbo.PurTransfer.ast) AS ast
FROM            dbo.Pur_Details INNER JOIN
                         dbo.Item ON dbo.Pur_Details.id_item = dbo.Item.id_item INNER JOIN
                         dbo.Pur_Invoice ON dbo.Pur_Details.id_pur = dbo.Pur_Invoice.id_pur INNER JOIN
                         dbo.cust ON dbo.Pur_Invoice.id_cust = dbo.cust.id_cust INNER JOIN
                         dbo.PurTransfer ON dbo.Pur_Invoice.id_pur = dbo.PurTransfer.id_pur LEFT OUTER JOIN
                         dbo.Z_TypeItem4 ON dbo.Item.IdTypeItem4 = dbo.Z_TypeItem4.id LEFT OUTER JOIN
                         dbo.Z_TypeItem5 ON dbo.Item.IdTypeItem5 = dbo.Z_TypeItem5.id LEFT OUTER JOIN
                         dbo.Z_TypeItem6 ON dbo.Item.IdTypeItem6 = dbo.Z_TypeItem6.id LEFT OUTER JOIN
                         dbo.Z_TypeItem7 ON dbo.Item.IdTypeItem7 = dbo.Z_TypeItem7.id LEFT OUTER JOIN
                         dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                         dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                         dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id LEFT OUTER JOIN
                         dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                         dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                         dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id
WHERE        (ISNULL(dbo.PurTransfer.IsGood, '0') = 0) AND  Convert(date,Pur_Invoice.pdate) between @pdate1 and @pdate2 
GROUP BY dbo.Pur_Details.id_pur, dbo.Pur_Details.id_item, ROUND(dbo.Pur_Details.qu, 4), ROUND(CONVERT(float, dbo.Pur_Details.total_item), 4), dbo.Item.ARname, dbo.Pur_Invoice.pdate, dbo.cust.Aname, dbo.Z_TypeItem1.aname, 
                         dbo.Z_TypeItem2.aname, dbo.Z_TypeItem3.aname, dbo.Z_TypeItem4.aname, dbo.Z_TypeItem5.aname, dbo.Z_TypeItem6.aname, dbo.Z_TypeItem7.aname, dbo.PurTransfer.CustomsNo, dbo.cust.Address, 
                         dbo.Pur_Invoice.CurrencyPrice, dbo.Pur_Invoice.Total, dbo.Pur_Invoice.id_pur

END

