
create proc [dbo].[ItemComeOut]
@variable BIGINT,
 @CostCenter nvarchar(100)
as

  IF @CostCenter='' SELECT     id_item, InternationalCode, ARname, TypeItem1, TypeItem2, TypeItem3,TypeItem4,TypeItem5,TypeItem6,TypeItem7, balance, Round(SUM(Convert(Float,comee)),2) AS comee, Round(SUM(Convert(Float,outt)),2) AS outt, Round(SUM(Convert(Float,pur)),2) AS pur, Round(SUM(Convert(Float,Rpur)),2) AS Rpur, Round(SUM(Convert(Float,sal)),2) AS sal, Round(SUM(Convert(Float,Rsal)),2) AS Rsal, Round(SUM(Convert(Float,beginn)),2) AS beginn, Round(SUM(Convert(Float,InventoryTo)),2) AS InventoryTo, Round(SUM(Convert(Float,Outside)),2) AS Outside, Round(SUM(Convert(Float,InSide)),2) AS InSide, Round(SUM(Convert(Float,ConvertTo)),2) AS ConvertTo, Round(SUM(Convert(Float,MakingTo)),2) AS MakingTo, Round(SUM(Convert(Float,Amortization)),2) AS Amortization, Round(SUM(Convert(Float,ConvertFrom)),2) AS ConvertFrom, Round(SUM(Convert(Float,InventoryFrom)),2) AS InventoryFrom, Round(SUM(Convert(Float,MakingFrom)),2) AS MakingFrom FROM         dbo.view_ItemComeOut WHERE     (id_store = @variable)GROUP BY id_item, InternationalCode, ARname, TypeItem1, TypeItem2, TypeItem3,TypeItem4,TypeItem5,TypeItem6,TypeItem7, balance
  
  IF @CostCenter<>''SELECT     id_item, InternationalCode, ARname, TypeItem1, TypeItem2, TypeItem3,TypeItem4,TypeItem5,TypeItem6,TypeItem7, balance, Round(SUM(Convert(Float,comee)),2) AS comee, Round(SUM(Convert(Float,outt)),2) AS outt, Round(SUM(Convert(Float,pur)),2) AS pur, Round(SUM(Convert(Float,Rpur)),2) AS Rpur, Round(SUM(Convert(Float,sal)),2) AS sal, Round(SUM(Convert(Float,Rsal)),2) AS Rsal, Round(SUM(Convert(Float,beginn)),2) AS beginn, Round(SUM(Convert(Float,InventoryTo)),2) AS InventoryTo, Round(SUM(Convert(Float,Outside)),2) AS Outside, Round(SUM(Convert(Float,InSide)),2) AS InSide, Round(SUM(Convert(Float,ConvertTo)),2) AS ConvertTo, Round(SUM(Convert(Float,MakingTo)),2) AS MakingTo, Round(SUM(Convert(Float,Amortization)),2) AS Amortization, Round(SUM(Convert(Float,ConvertFrom)),2) AS ConvertFrom, Round(SUM(Convert(Float,InventoryFrom)),2) AS InventoryFrom, Round(SUM(Convert(Float,MakingFrom)),2) AS MakingFrom FROM         dbo.view_ItemComeOut WHERE     (id_store = @variable) and CostCenter = @CostCenter  GROUP BY id_item, InternationalCode, ARname, TypeItem1, TypeItem2, TypeItem3,TypeItem4,TypeItem5,TypeItem6,TypeItem7, balance