CREATE proc [dbo].[TalbiaClear]
@id_Talbia bigint
as
 BEGIN  TRY
  BEGIN TRANSACTION
   delete From Talbia_Details  where id_Talbia=@id_Talbia
   delete From Talbia_invoice where id_Talbia=@id_Talbia
 
    COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
                 ROLLBACK TRANSACTION
                 SELECT ERROR_MESSAGE() 
    END CATCH
