
create proc [dbo].[ItemBigSales]

as
  
BEGIN
DECLARE @VisbleThreeUnit BIT=1 
SELECT @VisbleThreeUnit= VisbleThreeUnit FROM ZZproperties
IF @VisbleThreeUnit=1
  BEGIN
SELECT TOP (100) PERCENT max(pdate) as Day_Recession,sum(outt) as outt,id_item, ARname, InternationalCode, ShortName, BigPr0, RTRIM(LTRIM(STR(CurrentBalance0))) + ' ' + RTRIM(LTRIM(STR(CurrentBalance1))) + ' ' + RTRIM(LTRIM(STR(CurrentBalance2))) AS balance, ROUND(CONVERT(FLOAT,cost),2) AS cost,ROUND(CONVERT(FLOAT,Dioscount_over),2) AS Dioscount_over,ROUND(CONVERT(FLOAT,PurchasePrice),2) AS PurchasePrice, Round(convert(float,cost*net_balance ),2) AS total_cost, Round(convert(float,PurchasePrice*net_balance ),2) AS total_pur,
            LTRIM(RTRIM(STR(convert(float,SUM(CONVERT(int, outt))))) + ' ' + LTRIM(RTRIM(STR(SUM(CONVERT(int, (outt - CONVERT(int, outt)) * CountMiddel + .001))))) + ' ' + LTRIM(RTRIM(STR(SUM(ROUND((outt - (CONVERT(int, outt) + CONVERT(int, (outt - CONVERT(int, outt)) * CountMiddel) / CountMiddel)) * CountSmall + .01, 0)))))) AS out_
            
            , TypeItem1,TypeItem2, TypeItem3,TypeItem4,TypeItem5,TypeItem6,TypeItem7, Round(convert(float,SUM(Profit)),2) AS Profit
FROM    dbo.View_store
WHERE (id_sal > 0)
GROUP BY id_item, ARname, InternationalCode, ShortName, BigPr0, cost,Dioscount_over,PurchasePrice,net_balance, RTRIM(LTRIM(STR(CurrentBalance0))) + ' ' + RTRIM(LTRIM(STR(CurrentBalance1))) + ' ' + RTRIM(LTRIM(STR(CurrentBalance2))), TypeItem1, TypeItem2, 
            TypeItem3,TypeItem4,TypeItem5,TypeItem6,TypeItem7
ORDER BY sum(outt) DESC
	END
ELSE
	 BEGIN
SELECT TOP (100) PERCENT max(pdate) as Day_Recession,sum(outt) as outt,id_item, ARname, InternationalCode, ShortName, BigPr0, net_balance AS balance, ROUND(CONVERT(FLOAT,cost),2) AS cost,ROUND(CONVERT(FLOAT,Dioscount_over),2) AS Dioscount_over,ROUND(CONVERT(FLOAT,PurchasePrice),2) AS PurchasePrice,Round(convert(float,cost*net_balance ),2) AS total_cost, Round(convert(float,PurchasePrice*net_balance ),2) AS total_pur, Round(convert(float,SUM(outt)),2) AS out_, TypeItem1,TypeItem2, TypeItem3,TypeItem4,TypeItem5,TypeItem6,TypeItem7, Round(convert(float,SUM(Profit)),2)  AS Profit
FROM    dbo.View_store
WHERE (id_sal > 0)
GROUP BY id_item, ARname, InternationalCode, ShortName, BigPr0, cost,Dioscount_over,PurchasePrice, net_balance, TypeItem1, TypeItem2, TypeItem3,TypeItem4,TypeItem5,TypeItem6,TypeItem7
ORDER BY sum(outt) DESC

	END
end