
CREATE proc [dbo].[ItemFindByCode]
@variable nvarchar(80)
as
if @variable ='' or @variable ='0'	RETURN '0'
DECLARE @VisbleThreeUnit BIT=1 
SELECT @VisbleThreeUnit= VisbleThreeUnit FROM ZZproperties
IF @VisbleThreeUnit=1
BEGIN
             
           declare @id_item bigint
           select @id_item=id_item from Item WHERE 
                    
                     InternationalCode + '  ' + ARname = @variable 
                    
EXECUTE ItemClacBalance @id_item
          
SELECT     TOP (100) PERCENT dbo.Item.ARname, dbo.Item.id_item, dbo.Item.ENname, dbo.Item.cost,dbo.Item.CountMetr, dbo.Item.InternationalCode, dbo.Item.ShortName, dbo.ItemCode.code, 
                      dbo.Item.PurchasePrice, dbo.Item.Dioscount_main, dbo.Item.TYPE, dbo.Item.Tax, dbo.Item.Minimum, dbo.Item.BigPr0, dbo.Item.BigPr1, dbo.Item.BigPr2, 
                      dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.CountMiddel, dbo.Item.CountSmall, dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, 
                      dbo.Item.MoreCheck, dbo.Item.CurrentBalance2, dbo.Item.Dioscount_over, LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance0, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance1, 0)))) + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance2, 0)))) AS Balance, 
                      dbo.Item.Day_Recession, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, dbo.Item.SmallPr0, dbo.Item.SmallPr1, dbo.Item.SmallPr2, dbo.Item.IsExpire, 
                      dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, dbo.Z_TypeItem3.aname AS TypeItem3, dbo.Z_BigUnit.aname AS BigUnit, 
                      dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, 0 AS LastDiscount, 0 AS LastPrice, dbo.Item.MaxSalDiscount, dbo.Item.MinSalPr, 
                      dbo.Item.net_balance, dbo.Item.Deleted, dbo.Item.FindBadil, ISNULL(dbo.Item.default_sal, 0) AS default_sal, dbo.Item.Ticket
FROM         dbo.Item LEFT OUTER JOIN
                      dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                      dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                      dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN
                      dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                      dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                      dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id LEFT OUTER JOIN
                      dbo.ItemCode ON dbo.Item.id_item = dbo.ItemCode.id_item
WHERE     InternationalCode + '  ' + ARname = @variable 
GROUP BY dbo.Item.id_item, dbo.Item.ARname, dbo.Item.PurchasePrice, dbo.Item.Dioscount_main, dbo.Item.TYPE, dbo.Item.Tax, dbo.Item.Minimum, dbo.Item.BigPr0, 
                      dbo.Item.BigPr1, dbo.Item.BigPr2, dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.CountMiddel, dbo.Item.CountSmall, dbo.ItemCode.code, 
                      dbo.Item.ShortName, dbo.Item.InternationalCode, dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, dbo.Item.CurrentBalance2, dbo.Item.ENname, dbo.Item.cost,dbo.Item.CountMetr, 
                      dbo.Item.Dioscount_over, LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance0, 0)))) + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance1, 0)))) 
                      + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance2, 0)))), dbo.Item.Day_Recession, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, dbo.Item.SmallPr0, 
                      dbo.Item.SmallPr1, dbo.Item.SmallPr2, dbo.Z_TypeItem1.aname, dbo.Z_TypeItem2.aname, dbo.Z_TypeItem3.aname, dbo.Z_BigUnit.aname, dbo.Z_MiddellUnit.aname,
                       dbo.Z_SmallUnit.aname, dbo.Item.MaxSalDiscount, dbo.Item.MinSalPr, dbo.Item.net_balance, dbo.Item.MoreCheck, dbo.Item.IsExpire, dbo.Item.FindBadil, 
                      dbo.Item.Deleted, ISNULL(dbo.Item.default_sal, 0) , dbo.Item.Ticket
ORDER BY dbo.Item.ARname
END
ELSE
BEGIN
SELECT     TOP (100) PERCENT dbo.Item.ARname, dbo.Item.MoreCheck, dbo.Item.id_item, dbo.Item.IsExpire, dbo.Item.ENname, dbo.Item.cost,dbo.Item.CountMetr, dbo.Item.InternationalCode, 
                      dbo.Item.ShortName, dbo.ItemCode.code, dbo.Item.PurchasePrice, dbo.Item.Dioscount_main, dbo.Item.TYPE, dbo.Item.Tax, dbo.Item.Minimum, dbo.Item.BigPr0, 
                      dbo.Item.BigPr1, dbo.Item.BigPr2, dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.CountMiddel, dbo.Item.CountSmall, 
                      dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, dbo.Item.CurrentBalance2, dbo.Item.Dioscount_over, ROUND(dbo.Item.net_balance, 4) AS Balance, 
                      dbo.Item.Day_Recession, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, dbo.Item.SmallPr0, dbo.Item.SmallPr1, dbo.Item.SmallPr2, dbo.Item.net_balance, 
                      dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, dbo.Z_TypeItem3.aname AS TypeItem3, dbo.Z_BigUnit.aname AS BigUnit, 
                      dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, 0 AS LastDiscount, 0 AS LastPrice, dbo.Item.MaxSalDiscount, dbo.Item.MinSalPr, 
                      dbo.Item.FindBadil, dbo.Item.Deleted, ISNULL(dbo.Item.default_sal, 0) AS default_sal, dbo.Item.Ticket
FROM         dbo.Item LEFT OUTER JOIN
                      dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                      dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                      dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN
                      dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                      dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                      dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id LEFT OUTER JOIN
                      dbo.ItemCode ON dbo.Item.id_item = dbo.ItemCode.id_item
WHERE     InternationalCode + '  ' + ARname = @variable 
GROUP BY dbo.Item.id_item, dbo.Item.ARname, dbo.Item.PurchasePrice, dbo.Item.Dioscount_main, dbo.Item.TYPE, dbo.Item.Tax, dbo.Item.Minimum, dbo.Item.BigPr0, 
                      dbo.Item.BigPr1, dbo.Item.BigPr2, dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.CountMiddel, dbo.Item.CountSmall, dbo.ItemCode.code, 
                      dbo.Item.ShortName, dbo.Item.InternationalCode, dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, dbo.Item.CurrentBalance2, dbo.Item.ENname, dbo.Item.cost,dbo.Item.CountMetr, 
                      dbo.Item.Dioscount_over, dbo.Item.Day_Recession, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, dbo.Item.SmallPr0, dbo.Item.SmallPr1, dbo.Item.SmallPr2, 
                      dbo.Z_TypeItem1.aname, dbo.Z_TypeItem2.aname, dbo.Z_TypeItem3.aname, dbo.Z_BigUnit.aname, dbo.Z_MiddellUnit.aname, dbo.Z_SmallUnit.aname, 
                      dbo.Item.net_balance, dbo.Item.MaxSalDiscount, dbo.Item.MinSalPr, dbo.Item.MoreCheck, dbo.Item.IsExpire, ROUND(dbo.Item.net_balance, 4), dbo.Item.FindBadil, 
                      dbo.Item.Deleted,ISNULL(dbo.Item.default_sal, 0) , dbo.Item.Ticket
ORDER BY dbo.Item.ARname
END