

create PROCEDURE [dbo].[ItemsInSide]

@id_InSide bigint
as 
if @id_InSide=-9
Begin
           DECLARE @VisbleThreeUnit BIT=1
           IF @VisbleThreeUnit=0    SELECT     TOP (100) PERCENT dbo.Item_store.idBill AS idBill,dbo.Item_store.notes,dbo.Item_store.id_InSide AS id_bill, dbo.Z_Stores.aname AS StoreName, dbo.Item_store.pdate, dbo.Item_store.CostCenter, dbo.Item.id_item, dbo.Item.ARname, dbo.Item.InternationalCode, dbo.Item.ShortName, dbo.Item.ENname, dbo.Item.IdTypeItem1, dbo.Item.IdTypeItem2, dbo.Item.IdTypeItem3, dbo.Item.IdBigUnit, dbo.Item.IdMiddellUnit, dbo.Item.IdSmallUnit, dbo.Item.Dioscount_over, dbo.Item.Day_Recession, dbo.Item.Minimum, net_balance  AS Balance, dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.Tax, dbo.Item.CountMiddel, dbo.Item.CountSmall, Item.BigPr0, dbo.Item.BigPr1, dbo.Item.BigPr2, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, dbo.Item.SmallPr0, dbo.Item.SmallPr1, dbo.Item.SmallPr2, dbo.Item.Balance AS Expr1, dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, dbo.Item.CurrentBalance2, dbo.Item.TYPE, dbo.Item.Deleted, dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, dbo.Z_TypeItem3.aname AS TypeItem3, dbo.Z_BigUnit.aname AS BigUnit, dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, dbo.Item_store.come_big, dbo.Item_store.come_Middel, dbo.Item_store.come_Small, dbo.Item_store.out_big, dbo.Item_store.out_Middel, dbo.Item_store.out_Small, MONTH(dbo.Item_store.date_expire) AS mm, RIGHT(YEAR(dbo.Item_store.date_expire), 2) AS yy,  dbo.Item_store.id, dbo.Item_store.LOT, dbo.Item_store.total_item AS cost, dbo.Item_store.discount AS Dioscount_main, Item_store.pr  AS PurchasePrice FROM         dbo.Item INNER JOIN dbo.Item_store ON dbo.Item.id_item = dbo.Item_store.id_item INNER JOIN dbo.Z_Stores ON dbo.Item_store.id_store = dbo.Z_Stores.id AND dbo.Item_store.id_store = dbo.Z_Stores.id LEFT OUTER JOIN dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id WHERE     (dbo.Item_store.id_InSide > 0) ORDER BY dbo.Item_store.id
           IF @VisbleThreeUnit=1    SELECT     TOP (100) PERCENT dbo.Item_store.idBill AS idBill,dbo.Item_store.notes,dbo.Item_store.id_InSide AS id_bill, dbo.Z_Stores.aname AS StoreName, dbo.Item_store.pdate, dbo.Item_store.CostCenter, dbo.Item.id_item, dbo.Item.ARname, dbo.Item.InternationalCode, dbo.Item.ShortName, dbo.Item.ENname, dbo.Item.IdTypeItem1, dbo.Item.IdTypeItem2, dbo.Item.IdTypeItem3, dbo.Item.IdBigUnit, dbo.Item.IdMiddellUnit, dbo.Item.IdSmallUnit, dbo.Item.Dioscount_over, dbo.Item.Day_Recession, dbo.Item.Minimum, LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance2, 0)))) + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance1, 0)))) + ' ' + LTRIM(RTRIM(STR(ISNULL(dbo.Item.CurrentBalance0, 0)))) AS Balance, dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.Tax, dbo.Item.CountMiddel, dbo.Item.CountSmall, Item.BigPr0, dbo.Item.BigPr1, dbo.Item.BigPr2, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, dbo.Item.SmallPr0, dbo.Item.SmallPr1, dbo.Item.SmallPr2, dbo.Item.Balance AS Expr1, dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, dbo.Item.CurrentBalance2, dbo.Item.TYPE, dbo.Item.Deleted, dbo.Z_TypeItem1.aname AS TypeItem1, dbo.Z_TypeItem2.aname AS TypeItem2, dbo.Z_TypeItem3.aname AS TypeItem3, dbo.Z_BigUnit.aname AS BigUnit, dbo.Z_MiddellUnit.aname AS MiddellUnit, dbo.Z_SmallUnit.aname AS SmallUnit, dbo.Item_store.come_big, dbo.Item_store.come_Middel, dbo.Item_store.come_Small, dbo.Item_store.out_big, dbo.Item_store.out_Middel, dbo.Item_store.LOT, dbo.Item_store.out_Small, MONTH(dbo.Item_store.date_expire) AS mm, RIGHT(YEAR(dbo.Item_store.date_expire), 2) AS yy,  dbo.Item_store.id, dbo.Item_store.LOT, dbo.Item_store.total_item AS cost, dbo.Item_store.discount AS Dioscount_main, Item_store.pr  AS PurchasePrice FROM         dbo.Item INNER JOIN dbo.Item_store ON dbo.Item.id_item = dbo.Item_store.id_item INNER JOIN dbo.Z_Stores ON dbo.Item_store.id_store = dbo.Z_Stores.id AND dbo.Item_store.id_store = dbo.Z_Stores.id LEFT OUTER JOIN dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id WHERE     (dbo.Item_store.id_InSide > 0) ORDER BY dbo.Item_store.id

end
else
BEGIN
SELECT     TOP (100) PERCENT dbo.Item.id_item, dbo.Item.ARname, dbo.Item.InternationalCode, dbo.Item.ShortName, dbo.Item.ENname, dbo.Item.IdTypeItem1, 
                      dbo.Item.IdTypeItem2, dbo.Item.IdTypeItem3, dbo.Item.IdBigUnit, dbo.Item.IdMiddellUnit, dbo.Item.IdSmallUnit, dbo.Item.Dioscount_over, dbo.Item.Day_Recession, 
                      dbo.Item.Minimum, dbo.Item.Discount0, dbo.Item.Discount1, dbo.Item.Discount2, dbo.Item.Tax, dbo.Item.CountMiddel, dbo.Item.CountSmall, Item.BigPr0, 
                      dbo.Item.BigPr1, dbo.Item.BigPr2, dbo.Item.MIDPr0, dbo.Item.MIDPr1, dbo.Item.MIDPr2, dbo.Item.SmallPr0, dbo.Item.SmallPr1, dbo.Item.SmallPr2, dbo.Item.Balance, 
                      dbo.Item.CurrentBalance0, dbo.Item.CurrentBalance1, dbo.Item.CurrentBalance2, dbo.Item.TYPE, dbo.Item.Deleted, dbo.Z_TypeItem1.aname AS TypeItem1, 
                      dbo.Z_TypeItem2.aname AS TypeItem2, dbo.Z_TypeItem3.aname AS TypeItem3, dbo.Z_BigUnit.aname AS BigUnit, dbo.Z_MiddellUnit.aname AS MiddellUnit, 
                      dbo.Z_SmallUnit.aname AS SmallUnit, dbo.Item_store.come_big AS InSideBalance0, dbo.Item_store.come_Middel AS InSideBalance1, 
                      dbo.Item_store.idBill AS idBill,dbo.Item_store.come_Small AS InSideBalance2, dbo.Item_store.id_InSide, MONTH(dbo.Item_store.date_expire) AS mm, RIGHT(YEAR(dbo.Item_store.date_expire), 2) 
                      AS yy, dbo.Item_store.id, dbo.Item_store.LOT , dbo.Item_store.total_item, dbo.Item_store.total_item AS cost,dbo.Item_store.notes, dbo.Item_store.discount, Item_store.pr, dbo.Item_store.CostCenter
FROM         dbo.Item INNER JOIN
                      dbo.Item_store ON dbo.Item.id_item = dbo.Item_store.id_item LEFT OUTER JOIN
                      dbo.Z_BigUnit ON dbo.Item.IdBigUnit = dbo.Z_BigUnit.id LEFT OUTER JOIN
                      dbo.Z_MiddellUnit ON dbo.Item.IdMiddellUnit = dbo.Z_MiddellUnit.id LEFT OUTER JOIN
                      dbo.Z_SmallUnit ON dbo.Item.IdSmallUnit = dbo.Z_SmallUnit.id LEFT OUTER JOIN
                      dbo.Z_TypeItem1 ON dbo.Item.IdTypeItem1 = dbo.Z_TypeItem1.id LEFT OUTER JOIN
                      dbo.Z_TypeItem2 ON dbo.Item.IdTypeItem2 = dbo.Z_TypeItem2.id LEFT OUTER JOIN
                      dbo.Z_TypeItem3 ON dbo.Item.IdTypeItem3 = dbo.Z_TypeItem3.id
WHERE     (dbo.Item_store.id_InSide = @id_InSide)   
ORDER BY dbo.Item_store.id
end              