

CREATE proc [dbo].[CustSave]
        @ID_CUST bigint,
        @Code  nVARCHAR (30),
        @Aname nvarchar(100),
        @Address  nVARCHAR (100),
        @email  nVARCHAR (50),
        @Mobile  nVARCHAR (50),
        @Phone  nVARCHAR (50),
        @CostCenter nVARCHAR (50),
        @DelegateName  nVARCHAR (50),
        @delegatephone  nVARCHAR (50),
        @date_create datetime,      
        @active  bit,
        @IsCustomer smallint,  
        @normalPR smallint, 
        @nots  nVARCHAR (100),
        @way  nVARCHAR (100),
        @sT  nVARCHAR (40),
        @TaxesCard  nVARCHAR (40),
        @str_price  nVARCHAR (100),
        @Title  nVARCHAR (50),
        @delegateSal nVARCHAR (100),           
        @BeginDedt float,
        @Begincredit  float,
        @BeginBalance  float,
        @MaxDayOfCredit  int,
        @MainAccount nVARCHAR (100),
		@CustomerType  SmallInt,
        @CurrencyPrice  float
as 
begin
      DECLARE @PDATE DATE
      SET @PDATE=DATEADD(DAY,-1,@date_create)

if @Begincredit>0 set @BeginBalance=@BeginBalance*-1
DECLARE @Type INT = -1;
DECLARE @idmain INT = -1;
DECLARE @level int 
SELECT @Type = id ,@level=isnull(level,0)+1 FROM TREE where aname=@MainAccount
IF @IsCustomer <=1 select @idmain = id from TREE where id_Trans =400 OR aname='العملاء' order by id_Trans desc
IF @IsCustomer >1 	select @idmain = id from TREE where id_Trans =401 OR aname='الموردين' order by id_Trans desc

IF @Type=0 SET @Type=@idmain
 
---------------------------------       
      DECLARE @count bigint = -1;
      SELECT @count = COUNT(*)FROM cust where ID_CUST=@ID_CUST
      IF (@count > 0)
BEGIN------------------------UPDATE   
-------------------------NameExsit in update	
		DECLARE @NameExsit INT = -1;
		SELECT @NameExsit = COUNT(*)FROM cust where aname=@aname AND ID_CUST<>@ID_CUST
		IF (@NameExsit > 0)
		BEGIN
				select'عفوا الاســــم موجود مسبقا لا يمكن اضافتة'   
				RETURN '0'
		END
-------------------------CodeExsit in update	
		DECLARE @CodeExsit INT = -1;
		SELECT @CodeExsit = COUNT(*)FROM cust where Code=@Code AND ID_CUST<>@ID_CUST AND Code IS NOT NULL AND Code <>'' and IsCustomer=@IsCustomer
		IF isnull(@CodeExsit,0)> 0
		BEGIN
				select'عفوا الكـــود مسجل مسبقا لا يمكن اضافتة'   
				RETURN '1'
		END
		   declare @idAccount bigint
		   select @idAccount=id_account from cust where id_cust =@ID_CUST 
       ---tree
           update TREE SET level= @level,CurrencyPrice= @CurrencyPrice,idd= @Code,IsSub= 1, IsShow =2, id_main=@idmain ,Type=@Type ,Begin_balance=@BeginBalance ,aname=@aname ,PDATE=@PDATE where id=@idAccount
	update cust set 
	Aname=@Aname,Code=@Code,Address=@Address,Phone=@Phone,Mobile=@Mobile,
	nots=@nots,delegateSal=@delegateSal,way=@way,sT=@sT,TaxesCard=@TaxesCard,str_price=@str_price,Title=@Title,MaxDayOfCredit=@MaxDayOfCredit,active=@active,date_create=@date_create,
	Email=@Email,DelegateName=@DelegateName,normalPR=@normalPR,delegatephone=@delegatephone,MainAccount=@MainAccount,CostCenter=@CostCenter ,CustomerType=@CustomerType
	where ID_CUST=@ID_CUST 
	END
ELSE------------ADDNEW
begin
	DECLARE @countNAME bigint = -1;
	SELECT @countNAME = COUNT(*)FROM cust where aname=@aname
	IF (@countNAME > 0)
		    BEGIN
			select'عفوا الاســــم موجود مسبقا لا يمكن اضافتة'   
	RETURN '2'
	END
		DECLARE @countCode INT = -1;
	    SELECT @countCode = COUNT(*)FROM cust where Code=@Code AND Code IS NOT NULL AND Code <>''and IsCustomer=@IsCustomer
	    IF (@countCode > 0)
		    BEGIN
			select'عفوا الكـــود مسجل مسبقا لا يمكن اضافتة'   
	    RETURN '3'
	    END
      --------tree 
        DECLARE @Namee INT = 0;
		SELECT @Namee = COUNT(*)FROM tree where aname=@aname
		IF (@Namee = 0)
		BEGIN    
            insert into TREE(Aname,type,Begin_balance,acc_type,IsCustomer,pdate,id_main,IsShow,IsSub,idd,CurrencyPrice,level )
      values

            (@Aname,@Type,@BeginBalance,@Type,@IsCustomer,@PDATE,@idmain ,2,1,@Code,@CurrencyPrice,@level)
       	     DECLARE  @id_account BIGINT
	         select @id_account =ID from Tree where aname =@Aname   ---@@IDENTITY
	     END
   insert into cust(Aname,Code,Address,Phone,Mobile,nots,way,sT,TaxesCard,str_price ,Title,MaxDayOfCredit,delegateSal,
   date_create,Email,DelegateName,delegatephone,CostCenter,IsCustomer,normalPR,id_account,MainAccount,CustomerType)
   values
   (@Aname,@Code,@Address,@Phone,@Mobile,@nots,@way,@sT,@TaxesCard,@str_price,@Title,@MaxDayOfCredit,@delegateSal,
   @date_create,@Email,@DelegateName,@delegatephone,@CostCenter,@IsCustomer,@normalPR,@id_account,@MainAccount,@CustomerType)
END
END
