
 
CREATE proc [dbo].[AmortizationSave]
        @id_order bigint,
        @id_store bigint,
        @Pdate datetime,
		@notes nVARCHAR (200),
		@user_name nVARCHAR (50),
		@CostCenter nVARCHAR (100),
        @Type_Amortization AS Type_Amortization readonly  
as
 begin
  		IF (@id_order <= 0)
		BEGIN
				select'عفوا  الفاتورة رقم صفر  لا يمكن اضافتها'   
				RETURN '0'
		END
       delete from ItemAmortization_details where isnull(id_order,0)=@id_order and isnull(id_order,0)>0
       delete from ItemAmortization_invoice where isnull(id_order,0)=@id_order and isnull(id_order,0)>0
       delete from item_store where isnull(id_Amortization,0)=@id_order and isnull(id_Amortization,0)>0
  ---------------------------------     
insert into ItemAmortization_invoice
            (id_order,id_store,Pdate,notes,user_name,CostCenter)
values
	        (@id_order,@id_store,@Pdate,@notes,@user_name,@CostCenter)
----------------------------------------------------------------	        
declare @id_item bigint
declare @unit tinyint
declare @cost float
declare @QU float
declare @QU_big float
declare @QU_Middel float
declare @QU_Small float      
declare @mm int 
declare @yy int 
declare @date_expire date

declare Amortization_cursor cursor for
 select id_item,unit,cost,qu,QU_big,QU_Middel,QU_Small,mm,yy,date_expire from @Type_Amortization

open Amortization_cursor
     fetch next from Amortization_cursor into
           @id_item,@unit,@cost,@qu,@QU_big,@QU_Middel,@QU_Small,@mm,@yy ,@date_expire
 while @@FETCH_STATUS =0
begin   
----------insert ItemAmortization_details----------------------------------------
     insert into ItemAmortization_details 
                 (id_Order,id_item,unit,cost,qu,mm,yy)
      values
                 (@id_order,@id_item,@unit,@cost,@qu,@mm,@yy)
----------insert item_store----------------------------------------
  insert into
          item_store(id_Amortization,ID_item,id_store,OUT_big,OUT_Middel,OUT_Small,pdate,pr,CostCenter,date_expire)
values
         (                @id_order,@ID_item,@id_store,@QU_big,@QU_Middel,@QU_Small ,@pdate,@cost,@CostCenter,@date_expire)
 
      fetch next from Amortization_cursor into
           @id_item,@unit,@cost,@qu,@QU_big,@QU_Middel,@QU_Small ,@mm,@yy,@date_expire

END
close Amortization_cursor
deallocate Amortization_cursor

END
