

create proc [dbo].[ItemSave] 
        @id_item bigint, @InternationalCode  nVARCHAR (50),@shortname  nVARCHAR (50), @ARname nvarchar(80),@ENname  nVARCHAR (80), 
        @IdTypeItem1  bigint,@IdTypeItem2  bigint,@IdTypeItem3  bigint,@IdTypeItem4  bigint,@IdTypeItem5  bigint,@IdTypeItem6  bigint,@IdTypeItem7  bigint,
        @idBigUnit  bigint,@idMiddellUnit  bigint,@idSmallUnit  bigint,
        @PurchasePrice  float,@Dioscount_main  float,@Dioscount_over  float,@Day_Recession  INT, @Minimum  float,@CountMetr  float,
        @Discount0  float,@Discount1  float, @Discount2  float,
        @CountMiddel  float, @CountSmall  float, 
        @BigPr0  float,@PublicPr  float,@BigPr1 float, @BigPr2  float,@BigPr3  float,@BigPr4  float,
        @MIDPr0  float,@MIDPr1  float,@MIDPr2  float,@MIDPr3  float,@MIDPr4  float,
        @SmallPr0  float,@SmallPr1  float, @SmallPr2  float,@SmallPr3  float, @SmallPr4  float,
        @BeginBalance0  float,@BeginBalance1 float,@BeginBalance2  float,
        @CurrentBalance0  float,@CurrentBalance1  float,@CurrentBalance2  float,@MaxSalDiscount float,@MinSalPr float,@commission float,@locationn nvarchar(150),
        @type tinyint, @Typetax tinyint,@TypeInSal tinyint,@TypeInPur tinyint, @TypeTable tinyint,@default_sal tinyint,@MaxQu float,@IsExpire bit,@IsImported bit,@MoreCheck bit,@Ticket int,@id_ven bigint,@PathItemPic  nvarchar(300),@notes nvarchar(500),@user_name nvarchar(250),@StoreName nvarchar(250)
        
AS 
BEGIN
  --BEGIN  TRY
  -- BEGIN TRANSACTION
  
IF @CountMiddel <=0 SET @CountMiddel =1
IF @CountSmall  <=0 SET @CountSmall =1

-----------------------تشابة الكود مع الاسم المختصر
IF LOWER(@ARname)= LOWER(@ShortName)or  LOWER(@arname)= LOWER(@InternationalCode )
 BEGIN	
		        select' عفـــوا الاســــم  متشابة مع الكـــود او الاســم المختصر '   
			     RETURN '0'
 END
IF  @InternationalCode<>'0'and @InternationalCode<>''AND @ShortName<>'0'and @ShortName<>'' AND LOWER(@InternationalCode)= LOWER(@ShortName)
 BEGIN	
		        select' عفـــوا الكود  متشابة مع الاســم المختصر '   
			     RETURN '0'
 END
----------------------اسم مختصر بالكود او كود بالاسم المختصر
IF  @InternationalCode<>'0'and @InternationalCode<>''		
     BEGIN
		        DECLARE @ShortNameINCode INT =0;
		         SELECT @ShortNameINCode = COUNT(*)FROM item where
		         ShortName IS NOT NULL and
		         ShortName <>'' and
		         ShortName <>'0' and
		         ShortName =@InternationalCode 
		                
		        IF (@ShortNameINCode > 0 )
		          BEGIN	
		          		select' عفـــوا الكود مسجل من قبل لاســم مختصر '   
			          	RETURN '0'
		          END
      END
---------------------الاســم المختصر مسجل من قبل-----------
IF  @ShortName<>'0'and @ShortName<>''
   BEGIN
		      DECLARE @CodeINShortName INT =0;
		      SELECT @CodeINShortName = COUNT(*)FROM item where
		      	 InternationalCode IS NOT NULL and
		         InternationalCode <>'' and
		         InternationalCode <>'0' and
		         InternationalCode=@ShortName  
		         IF (@CodeINShortName > 0 )
					BEGIN
						    select' عفـــوا الاســم المختصر مسجل من قبل لكود صنف'   
							RETURN '0'
					END
    END			
------------------------------------UPDATE
DECLARE @count bigint =0;
SELECT @count = COUNT(*)FROM item where ID_item=@id_item
IF (@count > 0)
   BEGIN-------------------------NameExsit in update	
		DECLARE @NameExsit INT =0;
		SELECT @NameExsit = COUNT(*)FROM Item where ARname=@arname AND id_item<>@id_item
		IF (@NameExsit > 0)
		    BEGIN
				select'عفوا هذا الصنـــف موجود مسبقا لا يمكن تعديلة'   
				RETURN '0'
	         END
-------------------------CodeExsit in update	
		DECLARE @CodeExsit INT = 0;
		 SELECT @CodeExsit = COUNT(*)FROM item where InternationalCode=@InternationalCode AND ID_item<>@id_item AND @InternationalCode IS NOT NULL AND InternationalCode <>''
		  IF (@CodeExsit > 0and @InternationalCode<>'0'and @InternationalCode<>'')
		    BEGIN
				select'عفوا هذا الكـــود مسجل مسبقا لا يمكن تعديلة'   
				RETURN '0'
		    END

    update item set
    DateEdit=getdate(), 
    ShortName =@shortname ,InternationalCode =@InternationalCode ,ARname=@ARname,ENname=@ENname,
	IdTypeItem1=@IdTypeItem1,IdTypeItem2=@IdTypeItem2,IdTypeItem3=@IdTypeItem3,IdTypeItem4=@IdTypeItem4,IdTypeItem5=@IdTypeItem5,IdTypeItem6=@IdTypeItem6,IdTypeItem7=@IdTypeItem7,
	idBigUnit=@idBigUnit,idMiddellUnit=@idMiddellUnit,idsmallUnit=@idsmallUnit,
	PurchasePrice=@PurchasePrice,Dioscount_main=@Dioscount_main,Dioscount_over=@Dioscount_over,
	Day_Recession=@Day_Recession,Minimum=@Minimum,CountMetr=@CountMetr,
	Discount0=@Discount0,Discount1=@Discount1,Discount2=@Discount2,
	CountMiddel=@CountMiddel,CountSmall=@CountSmall,
	BigPr0=@BigPr0,PublicPr=@PublicPr,BigPr1=@BigPr1,BigPr2=@BigPr2,BigPr3=@BigPr3,BigPr4=@BigPr4,
	MIDPr0=@MIDPr0,MIDPr1=@MIDPr1,MIDPr2=@MIDPr2,MIDPr3=@MIDPr3,MIDPr4=@MIDPr4,
    SmallPr0=@SmallPr0, SmallPr1=@SmallPr1, SmallPr2=@SmallPr2,SmallPr3=@SmallPr3,SmallPr4=@SmallPr4,
    BeginBalance0=@BeginBalance0,BeginBalance1=@BeginBalance1,BeginBalance2=@BeginBalance2,
	CurrentBalance0=@CurrentBalance0,CurrentBalance1=@CurrentBalance1,CurrentBalance2=@CurrentBalance2,MaxSalDiscount=@MaxSalDiscount,MinSalPr=@MinSalPr,commission=@commission,locationn=@locationn,
    TYPE=@type ,Typetax=@Typetax,TypeInPur=@TypeInPur,TypeInSal=@TypeInSal,TypeTable=@TypeTable,default_sal=@default_sal,MaxQu=@MaxQu,IsExpire=@IsExpire,IsImported=@IsImported,MoreCheck=@MoreCheck,Ticket=@Ticket,id_ven=@id_ven,IdItemMaster=2,PathItemPic=@PathItemPic,notes=@notes,user_name=@user_name,StoreName=@StoreName
	where ID_item=@ID_item
	 	select'تمــت عمليــة التعــديل بنجــــــــاح للصنـف'   
	    RETURN '0'
	    END
ELSE------------ADDNEW  اســم الصنـــف موجود
  BEGIN
	DECLARE @Name_Exsit1 INT = 0;
	  SELECT @Name_Exsit1 = COUNT(ID_ITEM)FROM item where arname=@arname OR ShortName=@arname OR InternationalCode=@arname 
		IF (@Name_Exsit1 > 0)
			 BEGIN       
			   select' ?? عفوا  اسم الصنف  مكرر و لا يمــــكن اضافتة '   
			   return '0'
		     END
-------- ------------------الكـــود مسجل مسبقا 
		DECLARE @CodeExsit1 INT =0;
		 SELECT @CodeExsit1 = COUNT(*)FROM item where InternationalCode=@InternationalCode AND @InternationalCode IS NOT NULL AND InternationalCode <>''
		  IF (@CodeExsit1 > 0and @InternationalCode<>'0'and @InternationalCode<>'')
		    BEGIN
				select'عفوا الكـــود مسجل مسبقا لا يمكن اضافتة'   
				RETURN '0'
		    END

----------------INSERT	
		insert into item(
		ShortName,InternationalCode,ARname,ENname,
		IdTypeItem1,IdTypeItem2,IdTypeItem3,IdTypeItem4,IdTypeItem5,IdTypeItem6,IdTypeItem7,
		idBigUnit,idMiddellUnit,idsmallUnit,
		PurchasePrice,cost,Dioscount_main,Dioscount_over,
		Day_Recession,Minimum,CountMetr,
		Discount0,Discount1,Discount2,
		CountMiddel,CountSmall,
		BigPr0,PublicPr,BigPr1,BigPr2,BigPr3,BigPr4,
		MIDPr0,MIDPr1,MIDPr2,MIDPr3,MIDPr4,
		SmallPr0,SmallPr1,SmallPr2,SmallPr3,SmallPr4,
		BeginBalance0,BeginBalance1,BeginBalance2,
		CurrentBalance0,CurrentBalance1,CurrentBalance2,TYPE,Typetax,TypeInPur,TypeInSal,TypeTable,default_sal,MaxQu,IsExpire,IsImported,MoreCheck,Ticket,id_ven,IdItemMaster,PathItemPic,notes,user_name,StoreName,MaxSalDiscount ,MinSalPr ,commission,locationn)
		
		values(@shortname,@InternationalCode,@ARname,@ENname,
		@IdTypeItem1,@IdTypeItem2,@IdTypeItem3,@IdTypeItem4,@IdTypeItem5,@IdTypeItem6,@IdTypeItem7,
		@idBigUnit,@idMiddellUnit,@idsmallUnit,	
		@PurchasePrice,@PurchasePrice,@Dioscount_main,@Dioscount_over,	
		@Day_Recession,@Minimum,@CountMetr,
		@Discount0,@Discount1,@Discount2,
		@CountMiddel,@CountSmall,	
		@BigPr0,@PublicPr,@BigPr1,@BigPr2,@BigPr3,@BigPr4,
		@MIDPr0,@MIDPr1,@MIDPr2,@MIDPr3,@MIDPr4,
		@SmallPr0, @SmallPr1, @SmallPr2,@SmallPr3, @SmallPr4,
		@BeginBalance0,@BeginBalance1,@BeginBalance2,
		@CurrentBalance0,@CurrentBalance1,@CurrentBalance2,@type,@Typetax,@TypeInPur,@TypeInSal,@TypeTable,@default_sal,@MaxQu, @IsExpire,@IsImported,@MoreCheck,@Ticket,@id_ven,1,@PathItemPic,@notes,@user_name,@StoreName,@MaxSalDiscount ,@MinSalPr,@commission,@locationn)
	    
	select'تمــت عمليــة الحفـــــظ بنجــــــــاح لصنـف جديد'   
	RETURN '0'
  END
  -------------------------------------------
   --COMMIT TRANSACTION
   -- END TRY
   --   BEGIN CATCH
   --              ROLLBACK TRANSACTION
   --              SELECT ERROR_MESSAGE() 
   --   END CATCH
END