
 create proc [dbo].[PurSaveOneRow]
        @id_Purchases bigint,
        @ID_pur bigint,
        @ID_CUST bigint,
        @id_store bigint,
        @Pdate datetime,
        @id_bill nVARCHAR (20),
        @AmountPaid float,
        @CashDiscount float,
        @TypePaied tinyint,
        @Total float,       
		@user_name nVARCHAR (50),
		@notes nVARCHAR (500),
        @Type_Pur AS Type_Pur readonly,
        @custName nvarchar(100),
        @CashName nvarchar(100),
        @CostCenter nvarchar(100),
        @delegateName nvarchar(100),
        @Expense float,
        @Transfer float,
        @commission float,
        @CurrencyPrice float,
        @DesExpense nVARCHAR (50),   
        @id_item bigint
        , @unit tinyint
        , @mm tinyint
        , @yy tinyint
        , @QU float
        , @bones float        
        , @PR float
        , @Discount float
        , @PricePharmacist float
        , @tax float
        , @total_item float
        , @NetCost float
        , @come_big float
        , @come_Middel float
        , @come_Small float
        , @date_expire date=NULL
        , @id_Rpur bigint
        , @TalbiaNum bigint
        , @LOT nvarchar(80)
        ,@c_count float
        ,@PurName nVARCHAR (250)
        ,@IsRequest bit
		

as
 begin
  BEGIN  TRY
  BEGIN TRANSACTION
 		IF (@ID_pur <= 0)
		BEGIN
				select'عفوا  الفاتورة رقم صفر  لا يمكن اضافتها'   
				RETURN '0'
		END
		if isnull(@notes,'')='' set @notes =@custName
delete from constraint_invoice where isnull(id_pur,0)=@ID_pur and isnull(id_pur,0)>0
DECLARE @id_PurName bigint
SELECT @id_PurName=isnull(id,0) from TREE where aname=@PurName
if isnull(@id_PurName,0)>0 set @id_Purchases =@id_PurName


declare @id_man bigint
select @id_man=isnull(id,0) from TREE where aname=@custName

declare @id_cash bigint
select @id_cash=isnull(id,0) from TREE where aname=@CashName
if isnull(@id_cash,0) <=0 SELECT @id_cash=isnull(id,0),@CashName=aname from TREE where id_Trans =500 or  aname=N'النقدية'order by id_Trans desc


------------update pur_invoice
DECLARE @ID bigint
select @ID = id_pur from  Pur_Invoice where id_pur =@id_pur 
IF @ID>0
   BEGIN 
        update Pur_Invoice set TalbiaNum=@TalbiaNum, CurrencyPrice=@CurrencyPrice, commission=@commission,delegateName=@delegateName,Transfer=@Transfer,  ID_CUST=@ID_CUST,id_store=@id_store, id_bill=@id_bill,AmountPaid=@AmountPaid,CashDiscount=@CashDiscount,TypePaied=@TypePaied,Total=@Total,PDATE=@PDATE,user_name=@user_name,notes=@notes,CashName=@CashName,Expense=@Expense,DesExpense=@DesExpense,CostCenter=@CostCenter,PurName=@PurName where id_pur =@id_pur 
     END
ELSE
   BEGIN
        insert into Pur_Invoice(id_pur,ID_CUST,id_store, id_bill,AmountPaid,CashDiscount,TypePaied,Total,PDATE,user_name,notes,CashName,CostCenter,Expense ,DesExpense,Transfer,commission,delegateName,CurrencyPrice,TalbiaNum,PurName)values  (@id_pur,@ID_CUST,@id_store , @id_bill,@AmountPaid,@CashDiscount,@TypePaied,@Total,@PDATE,@user_name,@notes,@CashName,@CostCenter,@Expense ,@DesExpense ,@Transfer,@commission,@delegateName,@CurrencyPrice,@TalbiaNum,@PurName)
  END 
---------- -----نوع الدفع شبكة
  if @TypePaied =2 
  BEGIN 
   DECLARE @id_visa BIGINT
   SELECT @id_visa= ID FROM Tree WHERE  VISA=1
   DECLARE @bank_name nvarchar(100)
   SELECT @bank_name= aname FROM Tree WHERE  VISA=1
-------لم يتم دفع على الشبكة
        IF @AmountPaid =0
        BEGIN
           insert into constraint_invoice (id_pur,des,pdate,total,idBill,CurrencyPrice,CashDiscount) values(@id_pur,'مشتريات الشبكة  '+@custName+'  فاتورة رقم '+CONVERT (nvarchar ,@id_pur)+@id_bill+@notes ,@pdate,@Total ,@id_bill,@CurrencyPrice,@CashDiscount)
           insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )values(@@IDENTITY,@Total,@Total,@id_visa,@id_purchases,@bank_name,'مشتريات' )
        END
----------لو دفع اكثر على الشبكة      
ELSE
 BEGIN
    Declare @ID_const0 bigint
    IF @AmountPaid > @Total
		BEGIN 
		Insert into constraint_invoice (id_pur,des,pdate,Total,idBill,CurrencyPrice,CashDiscount) values(@id_pur,' مشتريات بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_pur)+@id_bill+@notes,@pdate,@AmountPaid,@id_bill,@CurrencyPrice,@CashDiscount)    
		SET  @ID_const0=@@IDENTITY
		insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )values(@ID_const0,@AmountPaid,@Total,@id_cash,@id_purchases,@CashName,'مشتريات')
        insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )  values (@ID_const0,0,@AmountPaid-@Total ,0,@id_visa,'',@bank_name )

     END
     IF @AmountPaid < @Total
     BEGIN
       Declare @ID_const2 bigint
        Insert into constraint_invoice (id_pur,des,pdate,Total,idBill,CurrencyPrice,CashDiscount) values(@id_pur,' مشتريات بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_pur)+@id_bill+@notes,@pdate,@AmountPaid,@id_bill,@CurrencyPrice,@CashDiscount)    
		SET  @ID_const2=@@IDENTITY  
            Insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ) values(@ID_const2,@Total-@AmountPaid,@Total,@id_visa,@id_purchases ,@bank_name ,'مشتريات' )
            insert into constraint_details  (id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ) values  (@ID_const2,@AmountPaid,0,@id_cash,0,@CashName,'')
      END
    END
   END 
  ------------------------------------------------------------------
ELSE
BEGIN 
-----نوع الدفع نقدى
  if @TypePaied =0  
	   BEGIN
		  insert into constraint_invoice(id_pur,des,pdate,total,idBill,CurrencyPrice,CashDiscount) values(@id_pur,' شـراء بضاعة نقدى ... فاتورة رقم '+CONVERT (nvarchar ,@id_pur)+@id_bill+@notes,@pdate,@Total,@id_bill,@CurrencyPrice,@CashDiscount)
		   Declare @IDEN bigint=@@IDENTITY
		  insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values(@IDEN,@Total,@Total,@id_Purchases,@id_cash,'مشتريات',@CashName)
		  if @id_man>0 insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values(@IDEN,@Total,@Total,@id_man,@id_man ,@custName,@custName )

		END
  ELSE
      BEGIN
----------لم يتم دفع على الفاتور
           if @AmountPaid =0
           BEGIN
                 insert into constraint_invoice(id_pur,des,pdate,total,idBill,CurrencyPrice,CashDiscount) values (@id_pur,' شـراء بضاعة آجل ... فاتورة رقم '+CONVERT (nvarchar ,@id_pur)+@id_bill+@notes,@pdate,@Total ,@id_bill,@CurrencyPrice,@CashDiscount)
                 insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name ) values (@@IDENTITY,@Total,@Total,@id_Purchases,@id_man,'مشتريات',@custName)
            END
            ELSE
----------لو دفع اكثر على الفاتورة
                BEGIN
                    declare @ID_const bigint
                     IF @AmountPaid >= @Total
                      BEGIN 
              Declare @NetTotal float=@AmountPaid
             IF @AmountPaid = @Total SET @NetTotal= @AmountPaid + @Total

                      insert into constraint_invoice(id_pur,des,pdate,Total,idBill,CurrencyPrice,CashDiscount)values(@id_pur,' شـراء بضاعة بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_pur)+@id_bill+@notes,@pdate,@NetTotal,@id_bill,@CurrencyPrice,@CashDiscount)
            
                       SET  @ID_const=@@IDENTITY
                       insert into constraint_details (id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values (@ID_const,@Total,@AmountPaid,@id_Purchases,@id_cash,'مشتريات',@CashName)
                      --------------
                      IF @AmountPaid > @Total
                          BEGIN
                            insert into constraint_details  (id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ) values (@ID_const,0,@AmountPaid-@Total ,0,@id_man,'',@custName)
                          END
                       ELSE
                        BEGIN
                         insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )  values (@ID_const,@Total ,@Total,@id_man,@id_man,@custName,@custName)
                     
                       END

                      END
                    ELSE
                        BEGIN
 ----------لو دفع اقل من الفاتورة
                    insert into constraint_invoice (id_pur,des,pdate,Total,idBill,CurrencyPrice,CashDiscount) values (@id_pur,'  فاتورة مشتريات رقم '+CONVERT (nvarchar ,@id_pur)+@id_bill+@notes,@pdate,@Total+@AmountPaid ,@id_bill,@CurrencyPrice,@CashDiscount)
                     SET  @ID_const=@@IDENTITY
                     --insert into constraint_details (id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name ) values(@ID_const,@Total,@AmountPaid,@id_Purchases,@id_cash,'مشتريات',@CashName)
                     --insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values (@ID_const,0,@Total-@AmountPaid,0,@id_man,@custName,@custName)
                     insert into constraint_details (id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name ) values(@ID_const,@Total,@AmountPaid,@id_Purchases,@id_cash,'مشتريات',@CashName)
                     insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values (@ID_const,@AmountPaid,@Total,@id_man,@id_man,@custName,@custName)
         
				   END
                   END 
             END
       END      
	
  --------------insert pur_details  
insert into Pur_Details (ID_pur,unit,id_item,mm,yy,qu,bones,pr,Discount,PricePharmacist,tax,total_item,id_Rpur,LOT,id_store,NetTotalItem,c_count,IsRequest) values(@ID_pur,@unit,@id_item,@mm,@yy,@qu,@bones,@pr,@Discount,@PricePharmacist,@tax,@total_item,@id_Rpur,@LOT,@id_store,@NetCost,@c_count,@IsRequest)
insert into Pur_temp (ID_pur,unit,id_item,mm,yy,qu,bones,pr,Discount,PricePharmacist,tax,total_item,id_Rpur,LOT,id_store,pdate,user_name) values(@ID_pur,@unit,@id_item,@mm,@yy,@qu,@bones,@pr,@Discount,@PricePharmacist,@tax,@total_item,@id_Rpur,@LOT,@id_store,@pdate,@user_name )
DELETE from item_Request where id_item=@id_item
 
Declare @Taxes decimal(18,3)=0
IF @tax<>0 set @Taxes=@come_big * @tax

insert into item_store(ID_pur,ID_item,id_store,come_big,come_Middel,come_Small,pdate,pr,Discount,total_item ,NetCost ,date_expire,LOT,id_cust,CostCenter,bones,idBill,tax ,c_count ) values(@ID_pur,@ID_item,@ID_Store,@come_big,@come_Middel,@come_Small ,@pdate,@PR ,@Discount,isnull(@NetCost,0) ,isnull(@NetCost,0),@date_expire,@LOT,@ID_CUST ,@CostCenter,@bones ,@id_bill ,@tax,@c_count)

 COMMIT TRANSACTION
 END TRY
    BEGIN CATCH
                 ROLLBACK TRANSACTION
                 SELECT ERROR_MESSAGE() 
    END CATCH
END