CREATE proc [dbo].[RSalSave]
        @id_RSalchases bigint,
        @ID_RSal bigint,
        @ID_CUST bigint,
        @id_store bigint,
        @Pdate datetime,
        @id_bill nVARCHAR (20),
        @AmountPaid float,
        @CashDiscount float,
        @TypePaied tinyint,
        @Total float,
        @TotalTax float,     
		@user_name nVARCHAR (50),
		@notes nVARCHAR (500),
        @Type_RSal AS Type_RSal readonly,
        @custName nvarchar(100),
        @delegateName nvarchar(100),
        @CostCenter nvarchar(100),
        @CashName nvarchar(100),
        @Current_shift bigint
as
 begin
  BEGIN  TRY
  BEGIN TRANSACTION
 		IF (@ID_Rsal <= 0)
		BEGIN
				select'عفوا  الفاتورة رقم صفر  لا يمكن اضافتها'   
				RETURN '0'
		END
       delete from RSal_Details where isnull(id_RSal,0)=@ID_RSal and isnull(id_RSal,0)>0
       delete from RSal_Invoice where isnull(id_RSal,0)=@ID_RSal and isnull(id_RSal,0)>0
       delete from item_store where isnull(id_RSal,0)=@ID_RSal and isnull(id_RSal,0)>0
       delete from constraint_invoice where isnull(id_RSal,0)=@ID_RSal and isnull(id_RSal,0)>0
------------insert RSal_invoice
insert into RSal_Invoice
            (id_RSal,ID_CUST,id_store, id_bill,AmountPaid,CashDiscount,TypePaied,Total,PDATE,user_name,notes,delegateName,CostCenter,CashName,id_shift,TotalTax)
	values
	        (@id_RSal,@ID_CUST,@id_store , @id_bill,@AmountPaid,@CashDiscount,@TypePaied,@Total,@PDATE,@user_name,@notes,@delegateName,@CostCenter,@CashName,@Current_shift,@TotalTax)
------------insert constraint_days
declare @id_man bigint
select @id_man=isnull(id,0) from TREE where aname=@custName

declare @id_cash bigint
select @id_cash=isnull(id,0) from TREE where aname=@CashName
if isnull(@id_cash,0) <=0 SELECT @id_cash=isnull(id,0),@CashName=aname from TREE where id_Trans =500 or  aname=N'النقدية'order by id_Trans desc


---------- -----نوع الدفع شبكة
  if @TypePaied =2 
  BEGIN 
   DECLARE @id_visa BIGINT
   SELECT @id_visa= ID FROM Tree WHERE  VISA=1
   DECLARE @bank_name nvarchar(100)
   SELECT @bank_name= aname FROM Tree WHERE  VISA=1
-------لم يتم دفع على الشبكة
        IF @AmountPaid =0
        BEGIN
           insert into constraint_invoice (id_Rsal,des,pdate,total,CostCenter,idBill,CashDiscount) values(@id_Rsal,'مرتجعات بيع الشبكة  '+@custName+'  فاتورة رقم '+CONVERT (nvarchar ,@id_Rsal),@pdate,@Total ,@CostCenter,@id_bill,@CashDiscount)
           insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )values(@@IDENTITY,@Total,@Total,@id_visa,@id_Rsalchases,@bank_name,'مرتجعات بيع شبكة' )
        END
----------لو دفع اكثر على الشبكة      
ELSE
 BEGIN
    Declare @ID_const0 bigint
    IF @AmountPaid > @Total
		BEGIN 
		Insert into constraint_invoice (id_Rsal,des,pdate,Total,CostCenter,idBill,CashDiscount) values(@id_Rsal,' مرتجعات بيع بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_Rsal),@pdate,@AmountPaid,@CostCenter,@id_bill,@CashDiscount)    
		SET  @ID_const0=@@IDENTITY
		insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )values(@ID_const0,@AmountPaid,@Total,@id_cash,@id_Rsalchases,@CashName,'مرتجعات بيع شبكة')
        insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )  values (@ID_const0,0,@AmountPaid-@Total ,0,@id_visa,'',@bank_name )

     END
     IF @AmountPaid < @Total
     BEGIN
       Declare @ID_const2 bigint
        Insert into constraint_invoice (id_Rsal,des,pdate,Total,CostCenter,idBill,CashDiscount) values(@id_Rsal,' مرتجعات بيع بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_Rsal),@pdate,@AmountPaid,@CostCenter,@id_bill,@CashDiscount)    
		SET  @ID_const2=@@IDENTITY  
            Insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ) values(@ID_const2,@Total-@AmountPaid,@Total,@id_visa,@id_Rsalchases ,@bank_name ,'مرتجعات بيع شبكة' )
            insert into constraint_details  (id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ) values  (@ID_const2,@AmountPaid,0,@id_cash,0,@CashName,'')
      END
    END
   END 
  ------------------------------------------------------------------
ELSE
BEGIN 
---------------نوع الدفع نقدى
  if @TypePaied =0  
	   BEGIN
	   	  insert into constraint_invoice(id_RSal,des,pdate,total,CostCenter,idBill,CashDiscount) values(@id_RSal,' مردودات مبيعات نقدى ... فاتورة رقم '+CONVERT (nvarchar ,@id_RSal),@pdate,@Total,@CostCenter,@id_bill,@CashDiscount)
	      Declare @IDEN bigint=@@IDENTITY
		  insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name ) values(@IDEN,@Total,@Total,@id_RSalchases,@id_cash,'مردودات مبيعات',@CashName)
		  if @id_man>0insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name ) values(@IDEN,@Total,@Total,@id_man,@id_man ,@custName,@custName)
		END
  ELSE
      BEGIN
----------لم يتم دفع على الفاتور
           if @AmountPaid =0
           BEGIN
                 insert into constraint_invoice(id_RSal,des,pdate,total,CostCenter,idBill,CashDiscount) values(@id_RSal,'مردودات مبيعات  ... فاتورة رقم '+CONVERT (nvarchar ,@id_RSal),@pdate,@Total ,@CostCenter,@id_bill,@CashDiscount)
                  --------------
                 insert into constraint_details
                              (id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )
	              values
	            (@@IDENTITY,@Total,@Total,@id_RSalchases,@id_man,'مردودات مبيعات',@custName )
            END
         ----------لو دفع اكثر على الفاتورة
            ELSE
                BEGIN
                    declare @ID_const bigint
                     IF @AmountPaid >= @Total
                      BEGIN 
              Declare @NetTotal float=@AmountPaid
             IF @AmountPaid = @Total SET @NetTotal= @AmountPaid + @Total

                     insert into constraint_invoice(id_RSal,des,pdate,Total,CostCenter,idBill,CashDiscount) values (@id_RSal,' مردودات مبيعات بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_RSal)+ @notes,@pdate,@NetTotal,@CostCenter,@id_bill,@CashDiscount)
                       SET  @ID_const=@@IDENTITY
                       insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values(@ID_const,@Total,@AmountPaid,@id_RSalchases,@id_cash,'مردودات مبيعات',@CashName)
                        IF @AmountPaid > @Total
                          BEGIN
                               insert into constraint_details (id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ) values (@ID_const,0,@AmountPaid-@Total ,0,@id_man,'',@custName )
                          END
                       ELSE
                        BEGIN
                         insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )  values (@ID_const,@Total ,@Total,@id_man,@id_man,@custName,@custName)
                     
                       END
                          END
                    ELSE
                        BEGIN
                     --------------الموردين
                    insert into constraint_invoice (id_RSal,des,pdate,Total,CostCenter,idBill,CashDiscount)  values (@id_RSal,'مردودات مبيعات بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_RSal),@pdate,@Total,@CostCenter,@id_bill,@CashDiscount)
                     SET  @ID_const=@@IDENTITY
                     insert into constraint_details  (id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name ) values (@ID_const,@Total,@Total-@AmountPaid,@id_RSalchases,@id_man,'مردودات مبيعات',@custName )
                     --------------النقدية
                     insert into constraint_details (id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )   values   (@ID_const,0,@AmountPaid,0,@id_cash,'',@CashName)
                   END
                   END 
             END
    END 
     -----------ض ق م------------------------------------
     	IF isnull(@TotalTax,0)>0 
		BEGIN
		declare @IdNEW bigint
		select @IdNEW=  id_constraint from constraint_invoice where isnull(ID_RSal,0)=@ID_RSal  and isnull(ID_RSal,0)>0
		declare @IdTax bigint
		declare @TaxName nvarchar(120)
		select @IdTax=id,@TaxName=aname  from TREE where isnull(id_Trans,0)=100
		if isnull(@IdTax,0)>0
		   BEGIN
		       insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values(@IdNEW,Round(ISNULL(@TotalTax,0),2),0,@IdTax,0 ,@TaxName,'' )
               UPDATE constraint_details SET debt =ISNULL(debt,0)- Round(ISNULL(@TotalTax,0),2) WHERE id_debt =@id_RSalchases  And id_constraint =@IdNEW
		       UPDATE tree_account SET debt =ISNULL(debt,0)- Round(ISNULL(@TotalTax,0),2) WHERE id_Account =@id_RSalchases  And id_constraint =@IdNEW

		   END  
		 END 
	
        declare @id_item bigint
        declare @unit tinyint
        declare @mm tinyint
        declare @yy tinyint
        declare @QU float
        declare @bones float        
        declare @PR float
        declare @Discount float
        declare @total_item float
        declare @come_big float
        declare @come_Middel float
        declare @come_Small float
        declare @date_expire date
        DECLARE @tax int 
        DECLARE @CostByDate float
        DECLARE @c_count float
  --------------insert RSal_details

declare RSal_cursor cursor for
 select id_item,unit,mm,yy,qu,bones,pr,Discount,total_item,come_big,come_Middel,come_Small,date_expire,tax,CostByDate,c_count from @Type_RSal

open RSal_cursor
     fetch next from RSal_cursor into
                  @id_item,@unit,@mm,@yy,@qu,@bones,@pr,@Discount,@total_item,@come_big,@come_Middel,@come_Small,@date_expire,@tax,@CostByDate,@c_count

while @@FETCH_STATUS =0
begin 
         ------------------calc profit
        declare @cost float
        declare @CountMiddel float
        declare @CountSmall float
          
        select @cost=cost, @CountMiddel=CountMiddel,  @CountSmall=CountSmall from item where id_item=@id_item                  
   
                   IF @CountMiddel <=0 SET @CountMiddel =1
                    IF @CountSmall  <=0 SET @CountSmall =1
                   IF @CostByDate>0 SET @cost =@CostByDate
                   declare @profit float=0
                    ---BIG
                     if @total_item>0 and @come_big>0 set @profit =@total_item-(@cost * @come_big)                  
                    ---MID
                     if @total_item>0 and @come_Middel>0 set @profit =(@profit+@total_item) -((@cost/@CountMiddel) * @come_Middel)                 
                    ---SMALL
                     if @total_item>0 and @come_Small >0 set @profit =(@profit+@total_item) -((@cost/@CountSmall ) * @come_Small)             
                     set @profit =ROUND (@profit,2)
                     if @profit <>0 SET @profit=@profit*-1

   ---=====================================================================
     insert into RSal_Details 
                 (ID_RSal,unit,id_item,mm,yy,qu,bones,pr,Discount,total_item,Profit ,tax,c_count)
      values
                 (@ID_RSal,@unit,@id_item,@mm,@yy,@qu,@bones,@pr,@Discount,@total_item,@profit,@tax,@c_count )
     ----------insert item_store----------------------------------------
                        
                   insert into item_store(ID_RSal,ID_item,id_store,come_big,come_Middel,come_Small,pdate,pr,Discount,total_item,NetCost  ,date_expire,id_cust,CostCenter,Profit,id_shift,tax )
                        values
                   (@ID_RSal,@ID_item,@ID_Store,@come_big,@come_Middel,@come_Small ,@pdate,@PR ,@Discount,@total_item,@total_item+@profit,@date_expire ,@id_cust,@CostCenter,@profit,@Current_shift,@tax )

   --------------------------
      fetch next from RSal_cursor into
                  @id_item,@unit,@mm,@yy,@QU,@bones,@pr,@Discount,@total_item,@come_big,@come_Middel,@come_Small,@date_expire,@tax,@CostByDate,@c_count

END
close RSal_cursor
deallocate RSal_cursor
declare @totalProfit float
select @totalProfit =SUM(profit)from RSal_Details where id_Rsal =@ID_Rsal
update RSal_Invoice set Profit =@totalProfit-@CashDiscount  where id_Rsal =@ID_Rsal
 COMMIT TRANSACTION
 END TRY
    BEGIN CATCH
                 ROLLBACK TRANSACTION
                 SELECT ERROR_MESSAGE() 
    END CATCH
END