
create proc [dbo].[SalSave]
        @id_salchases bigint,
        @ID_sal bigint,
        @ID_CUST bigint,
        @id_store bigint,
        @Pdate datetime,
        @id_bill bigint,
        @AmountPaid float,
        @CashDiscount float,
        @TypePaied tinyint,
        @Total float,       
		@user_name nVARCHAR (100),
		@notes nVARCHAR (500),
		@GenralTax float,
		@TableTax float,
        @Type_sal AS Type_sal readonly,
        @custName nvarchar(100),
        @delegateName nvarchar(100), 
        @CostCenter nvarchar(100),
        @CashName nvarchar(100) ,
        @OtherPrice nvarchar(100) ,
        @Expense float,
        @ServiceValue int,
        @TaxValue int,
        @Tax_Ast int,
        @DesExpense nVARCHAR (50),
        @Current_shift bigint ,
        @Transfer float,
		@CurrencyPrice float
as
 begin
 BEGIN  TRY
  BEGIN TRANSACTION
		IF isnull(@ID_sal,0) <= 0
		BEGIN
				SELECT'عفوا  الفاتورة رقم صفر  لا يمكن اضافتها'   
				RETURN '0'
		END
       delete from sal_Details where isnull(id_sal,0)=@ID_sal and isnull(id_sal,0)>0
       delete from sal_Invoice where isnull(id_sal,0)=@ID_sal and isnull(id_sal,0)>0
       delete from item_store where isnull(id_sal,0)=@ID_sal and isnull(id_sal,0)>0
       delete from constraint_invoice where isnull(id_sal,0)=@ID_sal and isnull(id_sal,0)>0
   declare  @TotalTax float=@GenralTax+@TableTax
------------insert sal_invoice
insert into sal_Invoice
            (id_sal,ID_CUST,id_store, id_bill,AmountPaid,CashDiscount,TypePaied,Total,PDATE,user_name,delegateName,CostCenter,notes,CashName,OtherPrice,Expense ,DesExpense,ServiceValue ,TaxValue,id_shIFt,TotalTax,TableTax,Tax_Ast,Transfer,CurrencyPrice)
	values
	        (@id_sal,@ID_CUST,@id_store , @id_bill,@AmountPaid,@CashDiscount,@TypePaied,@Total,@PDATE,@user_name,@delegateName,@CostCenter,@notes,@CashName,@OtherPrice,@Expense ,@DesExpense,@ServiceValue ,@TaxValue,@Current_shift,@GenralTax,@TableTax,@Tax_Ast,@Transfer,@CurrencyPrice)
------------insert constraint_days
DECLARE @id_man bigint
SELECT @id_man=isnull(id,0) from TREE where aname=@custName

DECLARE @id_cash bigint=0
SELECT @id_cash=isnull(id,0) from TREE where aname=@CashName
if isnull(@id_cash,0) <=0 SELECT @id_cash=isnull(id,0),@CashName=aname from TREE where id_Trans =500 or  aname=N'النقدية'order by id_Trans desc


---------- -----نوع الدفع شبكة
  IF @TypePaied =2 
  BEGIN 
   DECLARE @id_visa BIGINT
    DECLARE @bank_name nvarchar(100)  
   SELECT @id_visa= ID,@bank_name= aname FROM Tree WHERE  VISA=1


-------لم يتم دفع على الشبكة
        IF @AmountPaid =0
        BEGIN
           insert into constraint_invoice (id_sal,des,pdate,total,CostCenter,idBill,CurrencyPrice,CashDiscount) values(@id_sal,'مبيعات الشبكة  '+@custName+'  فاتورة رقم '+CONVERT (nvarchar ,@id_sal),@pdate,@Total,@CostCenter ,@id_bill,@CurrencyPrice,@CashDiscount)
           insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,nots )values(@@IDENTITY,@Total ,@Total,@id_salchases,@id_visa,'مبيعات',@bank_name,@notes )
        END
----------لو دفع اكثر على الشبكة      
ELSE
 BEGIN
    DECLARE @ID_const0 bigint
    IF @AmountPaid > @Total
		BEGIN 
		Insert into constraint_invoice (id_sal,des,pdate,Total,CostCenter,idBill,CurrencyPrice,CashDiscount) values(@id_sal,' مبيعات بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_sal),@pdate,@AmountPaid,@CostCenter,@id_bill,@CurrencyPrice,@CashDiscount)    
		SET  @ID_const0=@@IDENTITY
		insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,nots )values(@ID_const0,@Total,@AmountPaid,@id_salchases,@id_cash,'مبيعات',@CashName,@notes)
        insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,nots )  values (@ID_const0,@AmountPaid-@Total ,0,@id_visa,0,@bank_name ,'',@notes)

     END
     IF @AmountPaid < @Total
     BEGIN
       DECLARE @ID_const2 bigint
        Insert into constraint_invoice (id_sal,des,pdate,Total,CostCenter,idBill,CurrencyPrice,CashDiscount) values(@id_sal,' مبيعات بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_sal),@pdate,@AmountPaid,@CostCenter,@id_bill,@CurrencyPrice,@CashDiscount)
		SET  @ID_const2=@@IDENTITY  
            Insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,nots ) values(@ID_const2,@Total,@Total-@AmountPaid,@id_salchases,@id_visa ,'مبيعات',@bank_name ,@notes )
            insert into constraint_details  (id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,nots ) values  (@ID_const2,0,@AmountPaid,0,@id_cash,'',@CashName,@notes)
      END
    END
   END 
  ------------------------------------------------------------------
ELSE
BEGIN 
  IF @TypePaied =0 
	   BEGIN
		  insert into constraint_invoice(id_sal,des,pdate,total,CostCenter,idBill,CurrencyPrice,CashDiscount) values(@id_sal,'مبيعات نقدى ... فاتورة رقم '+CONVERT (nvarchar ,@id_sal),@pdate,@Total,@CostCenter,@id_bill,@CurrencyPrice,@CashDiscount)
		  DECLARE @IDEN bigint=@@IDENTITY
		  insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,nots )values(@IDEN,@Total,@Total,@id_salchases,@id_cash,'مبيعات',@CashName,@notes)
         IF @id_man>0 insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,nots )values(@IDEN,@Total,@Total,@id_man ,@id_man,@custName,@custName,@notes )
		END
  ELSE
      BEGIN
   -------لم يتم دفع على الفاتور
        IF @AmountPaid =0
        BEGIN
           insert into constraint_invoice (id_sal,des,pdate,total,CostCenter,idBill,CurrencyPrice,CashDiscount) values(@id_sal,'مبيعات آجل ... فاتورة رقم '+CONVERT (nvarchar ,@id_sal),@pdate,@Total,@CostCenter ,@id_bill,@CurrencyPrice,@CashDiscount)
           insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ,nots)values(@@IDENTITY,@Total,@Total,@id_salchases,@id_man,'مبيعات',@custName,@notes )

        END
----------لو دفع اكثر على الفاتورة      
        ELSE
        BEGIN
        DECLARE @ID_const bigint
           IF @AmountPaid >= @Total
             BEGIN 
             DECLARE @NetTotal float=@AmountPaid
             IF @AmountPaid = @Total SET @NetTotal= @AmountPaid + @Total
             Insert into constraint_invoice (id_sal,des,pdate,Total,CostCenter,idBill,CurrencyPrice,CashDiscount) values(@id_sal,' مبيعات بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_sal),@pdate,@NetTotal,@CostCenter,@id_bill,@CurrencyPrice,@CashDiscount)  
             SET  @ID_const=@@IDENTITY
                             insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,nots )values(@ID_const,@Total,@AmountPaid,@id_salchases,@id_cash,'مبيعات',@CashName,@notes)

             IF @AmountPaid > @Total
                 BEGIN
                 insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,nots )  values (@ID_const,@AmountPaid-@Total ,0,@id_man,0,@custName,'',@notes)
                 END
             ELSE
                  BEGIN
                  insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,nots )  values (@ID_const,@Total ,@Total,@id_man,@id_man,@custName,@custName,@notes)
                  END
             END
           ELSE
           BEGIN
 ----------لو دفع اقل من الفاتورة
            Insert into constraint_invoice(id_sal,des,pdate,Total,CostCenter,idBill,CurrencyPrice,CashDiscount)  values (@id_sal,' مبيعات بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_sal),@pdate,@Total+@AmountPaid,@CostCenter,@id_bill,@CurrencyPrice,@CashDiscount)
            SET  @ID_const=@@IDENTITY
            --Insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ,nots) values(@ID_const,@Total,@AmountPaid,@id_salchases,@id_cash,'مبيعات',@CashName ,@notes)
            --insert into constraint_details  (id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ,nots) values  (@ID_const,0,@Total-@AmountPaid,0,@id_man,'',@custName,@notes)
            
            Insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ) values(@ID_const,@Total,@AmountPaid,@id_salchases,@id_cash,'مبيعات',@CashName )
            insert into constraint_details  (id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ) values  (@ID_const,@AmountPaid,@Total,@id_man,@id_man,@custName,@custName)

           END
          END 
        END
END  
 	--------ض ق م--------------------------------------- 
         	IF isnull(@GenralTax,0)>0 
		BEGIN
		DECLARE @IdNEW bigint
		SELECT @IdNEW=  id_constraint from constraint_invoice where isnull(ID_Sal,0)=@ID_Sal  and isnull(ID_Sal,0)>0
		DECLARE @IdTax bigint
		DECLARE @TaxName nvarchar(120)
		SELECT @IdTax=id,@TaxName=aname  from TREE where isnull(id_Trans,0)=100

		if isnull(@IdTax,0)>0
		   BEGIN
		        insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values(@IdNEW,0,ROUND(isnull(@GenralTax,0),2),0,@IdTax ,'',@TaxName )
                 UPDATE constraint_details SET credit =isnull(credit,0)- ROUND(isnull(@GenralTax,0),2) WHERE id_credit =@id_Salchases  And id_constraint =@IdNEW
                 UPDATE tree_account SET credit =isnull(credit,0)- ROUND(isnull(@GenralTax,0),2) WHERE id_Account =@id_Salchases  And id_constraint =@IdNEW
           END      
		END  
			--------ض جدول--------------------------------------- 
         	IF isnull(@TableTax,0)>0 
		BEGIN
		
		SELECT @IdNEW=  id_constraint from constraint_invoice where isnull(ID_Sal,0)=@ID_Sal  and isnull(ID_Sal,0)>0
		SELECT @IdTax=id,@TaxName=aname  from TREE where isnull(id_Trans,0)=103

		if isnull(@IdTax,0)>0
		   BEGIN
		        insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values(@IdNEW,0,@TableTax,0,@IdTax ,'',@TaxName )
                 UPDATE constraint_details SET credit =isnull(credit,0)- isnull(@TableTax,0) WHERE id_credit =@id_Salchases  And id_constraint =@IdNEW
                 UPDATE tree_account SET credit =isnull(credit,0)- isnull(@TableTax,0) WHERE id_Account =@id_Salchases  And id_constraint =@IdNEW
           END      
		END  
-----------ا ت ص----------------------------------------------
     	DECLARE @IdTax2 bigint
		DECLARE @TaxName2 nvarchar(120)    
        SELECT @IdTax2=isnull(id,0),@TaxName2=aname  from TREE where isnull(id_Trans,0)=102
		IF isnull(@Tax_Ast,0) >0 AND  isnull(@IdTax2,0)>0 
		BEGIN
		   DECLARE @IdNEW2 bigint
		   SELECT @IdNEW2=  id_constraint from constraint_invoice where isnull(id_sal,0)=@id_sal and isnull(id_sal,0)>0				
		   DECLARE @TotalTax2 float=((isnull(@Total,0)+isnull(@CashDiscount ,0)-isnull(@TotalTax,0))/100)*@Tax_Ast

		   insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values(@IdNEW2,@TotalTax2,0,@IdTax2,0 ,@TaxName2,'' )
		 
		   UPDATE constraint_details SET debt  = isnull(debt,0)- isnull(@TotalTax2,0) WHERE id_debt =@id_man   And id_constraint =@IdNEW2
           UPDATE tree_account SET debt  = isnull(debt,0)- isnull(@TotalTax2,0) WHERE id_Account =@id_man  And id_constraint =@IdNEW2
          --------------------
         SELECT @IdNEW2=  id_constraint from constraint_invoice where isnull(id_sal,0)=@id_sal and isnull(id_sal,0)>0				

           DECLARE @ba float=0
           SELECT @ba= sum(debt-credit) from constraint_details   WHERE id_debt =@id_man   And id_constraint =@IdNEW2		   		  
           if 	isnull(@ba,0)=0
            BEGIN
          		   UPDATE constraint_details SET debt  =@Total - @TotalTax2,credit=@Total - @TotalTax2,credit_name=@custName WHERE id_debt =@id_man   And id_constraint =@IdNEW2
                   UPDATE tree_account SET debt  = @Total - @TotalTax2,credit=@Total - @TotalTax2 WHERE id_Account =@id_man  And id_constraint =@IdNEW2
          END
		END

	---------------------------------------------------------------

        DECLARE @id_item bigint
        DECLARE @unit tinyint

        DECLARE @QU float
        DECLARE @bones float
        DECLARE @QuSend float        
        DECLARE @PR float
        DECLARE @Discount float
        DECLARE @total_item float
        DECLARE @out_big float
        DECLARE @out_Middel float
        DECLARE @out_Small float
        DECLARE @LOT nvarchar(80)
     
        DECLARE @RongExpire bit 
           DECLARE @mm nvarchar(4)
        DECLARE @yy tinyint    
        DECLARE @date_expire date
        DECLARE @StoreNameDetails nvarchar(180)
        
        DECLARE @CostByDate float
        DECLARE @tax int 
        DECLARE @c_count float 
        DECLARE @des  nvarchar(300)
  --------------insert sal_details
   
DECLARE sal_cursor cursor for
 SELECT id_item,unit,qu,bones,QuSend,pr,Discount,total_item,out_big,out_Middel,out_Small,LOT,RongExpire,mm,yy,date_expire,StoreNameDetails,CostByDate,tax,c_count,des from @Type_sal ORDER BY id

open sal_cursor
     fetch next from sal_cursor into
                  @id_item,@unit,@qu,@bones,@QuSend,@pr,@Discount,@total_item,@out_big,@out_Middel,@out_Small,@LOT,@RongExpire,@mm,@yy,@date_expire,@StoreNameDetails,@CostByDate,@tax,@c_count,@des

while @@FETCH_STATUS =0
begin 

----------insert item_store----------------------------------------
DECLARE @cost float
DECLARE @CountMiddel float
DECLARE @CountSmall float
SELECT @cost=cost, @CountMiddel=CountMiddel,  @CountSmall=CountSmall from item where id_item=@id_item                  
IF @CountMiddel <=0 SET @CountMiddel =1
IF @CountSmall  <=0 SET @CountSmall =1
IF @CostByDate>0 SET @cost =@CostByDate
IF isnull(@CurrencyPrice,0)=0 SET @CurrencyPrice =1
DECLARE @profit float=0
IF  @out_big>0 set @profit =(@total_item*@CurrencyPrice) - (@cost * @out_big)                 
IF  @out_Middel>0 set @profit =(@profit+(@total_item*@CurrencyPrice)) -((@cost/@CountMiddel) * @out_Middel)                 
IF  @out_Small >0 set @profit =(@profit+(@total_item*@CurrencyPrice)) -((@cost/@CountSmall ) * @out_Small)             
set @profit =ROUND (@profit,3)
IF @profit<0 AND @profit>-.3 SET @profit=0
--------------------------------------------------------
DECLARE @IdStoreDetails  BIGINT=0
SELECT @IdStoreDetails= ID FROM Z_Stores WHERE aname =@StoreNameDetails
IF @IdStoreDetails=0 set @IdStoreDetails= @id_store

                    insert into sal_Details 
                 (ID_sal,unit,id_item,qu,bones,QuSend,pr,Discount,total_item,mm,yy,profit,LOT,RongExpire,id_store,tax,c_count,des)
      values
                 (@ID_sal,@unit,@id_item,@qu,@bones,@QuSend,@pr,@Discount,@total_item,@mm,@yy,@profit,@LOT,@RongExpire,@IdStoreDetails,@tax,@c_count,@des)
    ----------------------------------
                   insert into item_store(ID_sal,ID_item,id_store,out_big,out_Middel,out_Small,pdate,pr,Discount,total_item,NetCost ,Profit,LOT,id_cust,CostCenter,bones,id_shift,date_expire,c_count,tax)
                        values
                   (@ID_sal,@ID_item,@IdStoreDetails,@out_big,@out_Middel,@out_Small ,@pdate,@PR ,@Discount,@total_item+((@total_item * ISNULL (@tax,0) / 100)),(@total_item+((@total_item * ISNULL (@tax,0) / 100))-@profit)*-1,@profit,@LOT,@id_cust,@CostCenter,@bones,@Current_shift,@date_expire,@c_count,@tax)

   --------------------------
      fetch next from sal_cursor into
                  @id_item,@unit,@QU,@bones,@QuSend,@pr,@Discount,@total_item,@out_big,@out_Middel,@out_Small,@LOT,@RongExpire,@mm,@yy,@date_expire,@StoreNameDetails,@CostByDate,@tax,@c_count,@des
END
close sal_cursor
deallocate sal_cursor
DECLARE @totalProfit float
SELECT @totalProfit =SUM(profit)from Sal_Details where id_sal =@ID_sal
update Sal_Invoice set Profit =@totalProfit-@CashDiscount-@Transfer  where id_sal =@ID_sal

 COMMIT TRANSACTION
 END TRY
    BEGIN CATCH
                 ROLLBACK TRANSACTION
                 SELECT ERROR_MESSAGE() 
    END CATCH
END