

 create proc [dbo].[SalSaveOneRow]
        @id_salchases bigint,
        @ID_sal bigint,
        @ID_CUST bigint,
        @id_store bigint,
        @Pdate datetime,
        @id_bill bigint,
        @AmountPaid float,
        @CashDiscount float,
        @TypePaied tinyint,
        @Total float,       
		@user_name nVARCHAR (100),
		@notes nVARCHAR (500),
        @custName nvarchar(100),
        @delegateName nvarchar(100),
        @CostCenter nvarchar(100),
        @CashName nvarchar(100) ,
        @OtherPrice nvarchar(100) ,
        @Expense float,
        
        @DesExpense nVARCHAR (50)
        , @id_item bigint
        , @unit tinyint
        , @QU float
        , @bones float        
        , @PR float
        , @Discount float
        , @total_item float
        , @NetCost float
        , @out_big float
        , @out_Middel float
        , @out_Small float
        , @LOT nvarchar(80)
        , @RongExpire bit
        , @date_expire date=NULL
         , @mm tinyint
        , @yy tinyint
        ,@Current_shift bigint
        ,@tax int 
        ,@c_count float
        ,@CurrencyPrice float
as
 begin
 BEGIN  TRY
  BEGIN TRANSACTION
  	IF isnull(@ID_sal,0) <= 0
		BEGIN
				select'عفوا  الفاتورة رقم صفر  لا يمكن اضافتها'   
				RETURN '0'
		END
delete from constraint_invoice where isnull(id_sal,0)=@ID_sal and isnull(id_sal,0)>0
------------insert sal_invoice
DECLARE @ID bigint
select @ID = id_sal from  sal_Invoice where isnull(id_sal,0)=@ID_sal and isnull(id_sal,0)>0
IF @ID>0
   BEGIN 
        update sal_Invoice set CurrencyPrice=@CurrencyPrice,id_shift=@Current_shift,id_sal=@id_sal,ID_CUST=@ID_CUST,id_store=@id_store, id_bill=@id_bill,AmountPaid=@AmountPaid,CashDiscount=@CashDiscount,TypePaied=@TypePaied,Total=@Total,PDATE=@PDATE,delegateName=@delegateName,CostCenter=@CostCenter,notes=@notes,CashName=@CashName,OtherPrice=@OtherPrice,Expense=@Expense ,DesExpense=@DesExpense  where id_sal =@id_sal
     END
ELSE
   BEGIN
         insert into sal_Invoice (id_sal,ID_CUST,id_store, id_bill,AmountPaid,CashDiscount,TypePaied,Total,PDATE,user_name,delegateName,CostCenter,notes,CashName,OtherPrice,Expense ,DesExpense,id_shift,CurrencyPrice)values(@id_sal,@ID_CUST,@id_store , @id_bill,@AmountPaid,@CashDiscount,@TypePaied,@Total,@PDATE,@user_name,@delegateName,@CostCenter,@notes,@CashName,@OtherPrice,@Expense ,@DesExpense,@Current_shift,@CurrencyPrice)
END
------------insert constraint_days
declare @id_man bigint
select @id_man=id from TREE where aname=@custName

declare @id_cash bigint=0
select @id_cash=isnull(id,0) from TREE where aname=@CashName
if isnull(@id_cash,0) <=0 SELECT @id_cash=isnull(id,0),@CashName=aname from TREE where id_Trans =500 or  aname=N'النقدية'order by id_Trans desc


---------- -----نوع الدفع شبكة
  if @TypePaied =2 
  BEGIN 
   DECLARE @id_visa BIGINT
   SELECT @id_visa= ID FROM Tree WHERE  VISA=1
   DECLARE @bank_name nvarchar(100)
   SELECT @bank_name= aname FROM Tree WHERE  VISA=1
-------لم يتم دفع على الشبكة
        IF @AmountPaid =0
        BEGIN
           insert into constraint_invoice (id_sal,des,pdate,total,idBill,CostCenter,CurrencyPrice,CashDiscount) values(@id_sal,'مبيعات الشبكة  '+@custName+'  فاتورة رقم '+CONVERT (nvarchar ,@id_sal)+@notes,@pdate,@Total ,@id_bill,@CostCenter,@CurrencyPrice,@CashDiscount )
           insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,nots )values(@@IDENTITY,@Total,@Total,@id_salchases,@id_visa,'مبيعات',@bank_name ,@notes)
        END
----------لو دفع اكثر على الشبكة      
ELSE
 BEGIN
    Declare @ID_const0 bigint
    IF @AmountPaid > @Total
		BEGIN 
		Insert into constraint_invoice (id_sal,des,pdate,Total,idBill,CostCenter,CurrencyPrice,CashDiscount) values(@id_sal,' مبيعات بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_sal)+@notes,@pdate,@AmountPaid,@id_bill,@CostCenter ,@CurrencyPrice,@CashDiscount)
		SET  @ID_const0=@@IDENTITY
		insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ,nots)values(@ID_const0,@Total,@AmountPaid,@id_salchases,@id_cash,'مبيعات',@CashName,@notes)
        insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ,nots)  values (@ID_const0,@AmountPaid-@Total ,0,@id_visa,0,@bank_name ,'',@notes)
     END
     IF @AmountPaid < @Total
     BEGIN
       Declare @ID_const2 bigint
        Insert into constraint_invoice (id_sal,des,pdate,Total,idBill,CostCenter) values(@id_sal,' مبيعات بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_sal)+@notes,@pdate,@AmountPaid,@id_bill,@CostCenter)    
		SET  @ID_const2=@@IDENTITY  
            Insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,nots ) values(@ID_const2,@Total,@Total-@AmountPaid,@id_salchases,@id_visa ,'مبيعات',@bank_name ,@notes )
            insert into constraint_details  (id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ,nots) values  (@ID_const2,0,@AmountPaid,0,@id_cash,'',@CashName,@notes)
      END
    END
   END 
  ------------------------------------------------------------------
ELSE
BEGIN 
  if @TypePaied =0 
	   BEGIN
		  insert into constraint_invoice(id_sal,des,pdate,total,idBill,CostCenter,CurrencyPrice,CashDiscount) values(@id_sal,'مبيعات نقدى ... فاتورة رقم '+CONVERT (nvarchar ,@id_sal)+@notes,@pdate,@Total,@id_bill,@CostCenter,@CurrencyPrice,@CashDiscount)
		  Declare @IDEN bigint=@@IDENTITY
		  insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,nots )values(@IDEN,@Total,@Total,@id_salchases,@id_cash,'مبيعات',@CashName,@notes)
         if @id_man>0 insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,nots )values(@IDEN,@Total,@Total,@id_man ,@id_man,@custName,@custName,@notes )
		END
  ELSE
      BEGIN
   -------لم يتم دفع على الفاتور
        IF @AmountPaid =0
        BEGIN
           insert into constraint_invoice (id_sal,des,pdate,total,idBill,CostCenter,CurrencyPrice,CashDiscount) values(@id_sal,'مبيعات آجل ... فاتورة رقم '+CONVERT (nvarchar ,@id_sal)+@notes,@pdate,@Total ,@id_bill,@CostCenter,@CurrencyPrice,@CashDiscount)
           insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,nots )values(@@IDENTITY,@Total,@Total,@id_salchases,@id_man,'مبيعات',@custName,@notes )

        END
----------لو دفع اكثر على الفاتورة      
        ELSE
        BEGIN
        Declare @ID_const bigint
           IF @AmountPaid >= @Total
             BEGIN 
             Declare @NetTotal float=@AmountPaid
             IF @AmountPaid = @Total SET @NetTotal= @AmountPaid + @Total
             Insert into constraint_invoice (id_sal,des,pdate,Total,idBill,CostCenter,CurrencyPrice,CashDiscount) values(@id_sal,' مبيعات بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_sal)+@notes,@pdate,@NetTotal,@id_bill,@CostCenter,@CurrencyPrice,@CashDiscount)    
             SET  @ID_const=@@IDENTITY
                             insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,nots )values(@ID_const,@Total,@AmountPaid,@id_salchases,@id_cash,'مبيعات',@CashName,@notes)

             IF @AmountPaid > @Total
                 BEGIN
                 insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,nots )  values (@ID_const,@AmountPaid-@Total ,0,@id_man,0,@custName,'',@notes)
                 END
             ELSE
                  BEGIN
                  insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ,nots)  values (@ID_const,@Total ,@Total,@id_man,@id_man,@custName,@custName,@notes)
                  END
             END
           ELSE
           BEGIN
 ----------لو دفع اقل من الفاتورة
            Insert into constraint_invoice(id_sal,des,pdate,Total,idBill,CostCenter,CurrencyPrice,CashDiscount)  values (@id_sal,+' فاتورة مبيعات رقم '+CONVERT (nvarchar ,@id_sal)+@notes,@pdate,@Total+@AmountPaid,@id_bill,@CostCenter,@CurrencyPrice,@CashDiscount)        
            SET  @ID_const=@@IDENTITY
    --        Insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ,nots) values(@ID_const,@Total,@AmountPaid,@id_salchases,@id_cash,'مبيعات',@CashName,@notes )
			 --insert into constraint_details  (id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ,nots) values  (@ID_const,0,@Total-@AmountPaid,0,@id_man,'',@custName,@notes)
            Insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ) values(@ID_const,@Total,@AmountPaid,@id_salchases,@id_cash,'مبيعات',@CashName )
            insert into constraint_details  (id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ) values  (@ID_const,@AmountPaid,@Total,@id_man,@id_man,@custName,@custName)
     
           END
          END 
        END
END         

     ----------insert item_store----------------------------------------
     ----------------calc profit
      declare @cost float
      select @cost=cost from item where id_item=@id_item
                   declare @CountMiddel float
                   select @CountMiddel=CountMiddel from Item where id_item=@id_item
                   IF @CountMiddel <=0 SET @CountMiddel =1

                   declare @CountSmall float
                   select @CountSmall=CountSmall from Item where id_item=@id_item
                   IF @CountSmall  <=0 SET @CountSmall =1

                   declare @profit float=0
                    ---BIG
                     if  @out_big>0 set @profit =@NetCost-(@cost * @out_big)                  
                    ---MID
                     if  @out_Middel>0 set @profit =(@profit+@NetCost) -((@cost/@CountMiddel) * @out_Middel)                 
                    ---SMALL
                     if  @out_Small >0 set @profit =(@profit+@NetCost) -((@cost/@CountSmall ) * @out_Small)             
                     set @profit =ROUND (@profit,3)
--------------------------------------------------------
insert into sal_Details (ID_sal,unit,id_item,qu,qusend,bones,pr,Discount,total_item,mm,yy,profit,LOT,RongExpire,id_store,tax,c_count)values(@ID_sal,@unit,@id_item,@qu,@qu,@bones,@pr,@Discount,@total_item,@mm,@yy,@profit,@LOT,@RongExpire,@id_store,@tax,@c_count)
insert into sal_temp (ID_sal,unit,id_item,qu,bones,pr,Discount,total_item,expire_date,profit,LOT,RongExpire,id_store,tax,pdate,user_name)values(@ID_sal,@unit,@id_item,@qu,@bones,@pr,@Discount,@total_item,@date_expire,@profit,@LOT,@RongExpire,@id_store,@tax,@pdate,@user_name )

insert into item_store(ID_sal,ID_item,id_store,out_big,out_Middel,out_Small,pdate,pr,Discount,total_item,NetCost ,Profit,LOT,id_cust,CostCenter,bones ,id_shift,date_expire,c_count,tax) values(@ID_sal,@ID_item,@ID_Store,@out_big,@out_Middel,@out_Small ,@pdate,@PR ,@Discount,@NetCost,(@NetCost-@profit)*-1,@profit,@LOT,@id_cust,@CostCenter,@bones ,@Current_shift,@date_expire,@c_count ,@tax)

   --------------------------
declare @totalProfit float
select @totalProfit =SUM(profit)from Sal_Details where id_sal =@ID_sal
update Sal_Invoice set Profit =@totalProfit-@CashDiscount  where id_sal =@ID_sal
 COMMIT TRANSACTION
 END TRY
    BEGIN CATCH
                 ROLLBACK TRANSACTION
                 SELECT ERROR_MESSAGE() 
    END CATCH

END