

 create proc [dbo].[TalbiaSave]
        @id_Talbia bigint,
        @ID_CUST bigint,
        @id_store bigint,
        @Pdate datetime,
        @CashDiscount float,
        @Transfer float,
        @Total float,       
		@user_name nVARCHAR (50),
		@notes nVARCHAR (500),
		@CurrencyPrice float,
        @Type_Talbia AS Type_Talbia readonly

as
 begin
  BEGIN  TRY
  BEGIN TRANSACTION
 		IF (@id_Talbia <= 0)
		BEGIN
				select'عفوا  الفاتورة رقم صفر  لا يمكن اضافتها'   
				RETURN '0'
		END
       delete from Talbia_Details where isnull(id_Talbia,0)=@id_Talbia and isnull(id_Talbia,0)>0
       delete from Talbia_Invoice where isnull(id_Talbia,0)=@id_Talbia and isnull(id_Talbia,0)>0
------------insert Talbia_invoice
insert into Talbia_Invoice
            (id_Talbia,ID_CUST,id_store,CashDiscount,Total,PDATE,user_name,Transfer,CurrencyPrice,notes)
	values
	        (@id_Talbia,@ID_CUST,@id_store ,@CashDiscount,@Total,@PDATE,@user_name,@Transfer,@CurrencyPrice,@notes )
     
	-----------------------------------------------
        declare @id_item bigint
        declare @unit tinyint
        declare @mm tinyint
        declare @yy tinyint
        declare @QU float
        declare @bones float        
        declare @PR float
        declare @Discount float
        declare @PricePharmacist float
        declare @tax float
        declare @total_item float
        declare @LOT nvarchar(120)
        declare @des nvarchar(120)
  --------------insert Talbia_details
   
declare Talbia_cursor cursor for
 select id_item,unit,mm,yy,qu,bones,pr,Discount,PricePharmacist,tax,total_item,LOT,des from @Type_Talbia

open Talbia_cursor
     fetch next from Talbia_cursor into
                  @id_item,@unit,@mm,@yy,@qu,@bones,@pr,@Discount,@PricePharmacist,@tax,@total_item,@LOT,@des

while @@FETCH_STATUS =0
begin   
     insert into Talbia_Details 
                 (id_Talbia,unit,id_item,mm,yy,qu,bones,pr,Discount,PricePharmacist,tax,total_item,LOT,des)
      values
                 (@id_Talbia,@unit,@id_item,@mm,@yy,@qu,@bones,@pr,@Discount,@PricePharmacist,@tax,@total_item,@LOT,@des)

   --------------------------
      fetch next from Talbia_cursor into
                  @id_item,@unit,@mm,@yy,@QU,@bones,@pr,@Discount,@PricePharmacist,@tax,@total_item,@LOT,@des

END
close Talbia_cursor
deallocate Talbia_cursor
 COMMIT TRANSACTION
 END TRY
    BEGIN CATCH
                 ROLLBACK TRANSACTION
                 SELECT ERROR_MESSAGE() 
    END CATCH
END