create trigger [dbo].[insert_Tree_Account]
on [dbo].[constraint_details]
for insert
AS
BEGIN
declare @id_debt bigint
declare @id_credit bigint

declare @debt decimal(18, 2)
declare @credit decimal(18, 2)


declare @id_constraint bigint

declare @pdate datetime
declare @des nvarchar(150)
declare @CostCenter nvarchar(150)
declare @delegateSal nvarchar(150)
declare @user_name nvarchar(50)
declare @id_pur bigint
declare @id_Rpur bigint
declare @id_sal bigint
declare @id_Rsal bigint
declare @visa bit
declare @id_PurExpenses bigint
declare @id_CostCenterSal bigint
declare @id_CashCome bigint
declare @id_CashOut bigint
declare @debt_name nvarchar(120)
declare @credit_name nvarchar(120)
declare @idBill nvarchar(100)
declare @Action_Type int
declare @id_account bigint
declare @CurrencyPrice float
declare @CashDiscount float
declare @nots nvarchar(320)
--------------------------------------------------

select @id_constraint=id_constraint, @credit=credit,@debt=debt,@id_credit=id_credit,@id_debt=id_debt from inserted

select @debt_name=debt_name from inserted where debt >0
select @credit_name=credit_name from inserted where credit  >0


select @CurrencyPrice=CurrencyPrice,@CashDiscount=CashDiscount, @idBill=idBill,@pdate=pdate,@id_pur=id_pur,@id_Rpur=id_Rpur,@id_sal =id_sal,@user_name=user_name,@CostCenter=CostCenter,@delegateSal=delegateSal,@des=des,
@id_Rsal=id_Rsal,@id_CashCome=id_CashCome,@id_CashOut=id_CashOut,@visa=visa,@id_PurExpenses=id_PurExpenses ,
@id_CostCenterSal=id_CostCenterSal,@Action_Type=Action_Type from constraint_invoice where id_constraint=@id_constraint

select @nots=nots from inserted
declare @DesDetails nvarchar(150)=@des
	 if isnull(@id_pur,0)+isnull(@id_Rpur,0)+isnull(@id_sal,0)+isnull(@id_Rsal,0)=0
		 BEGIN	    
	        IF LEN(ISNULL( @nots,'') )>3 SET @DesDetails= @nots 
		 END


declare @id_shift bigint=0
if @des<>'الرصيــد  الافتتــاحى' select @id_shift=  isnull(max(id),0) from Delivery_box 

update constraint_invoice set id_shift=@id_shift,debt_name =@debt_name ,credit_name =@credit_name  where id_constraint=@id_constraint
if @debt is  null  set @debt=0
if @credit is  null  set @credit =0
if ISNULL(@id_debt,0) = ISNULL(@id_CREDIT,0)
	BEGIN
	   Declare @balance_ decimal(18, 2)
	   Select @balance_=isnull(SUM(debt-credit),0) from Tree_Account  where id_Account =@id_credit and pdate<=@pdate 
	   INSERT INTO Tree_Account (id_Account ,debt,credit,id_constraint,pdate,des,CostCenter,delegateSal,user_name,id_pur,id_Rpur,id_sal,id_Rsal,balance,id_CashCome,id_CashOut,visa,id_PurExpenses,id_shift,debt_name,credit_name,id_CostCenterSal,Action_Type,idBill,CurrencyPrice,CashDiscount,nots)VALUES(@id_debt,@debt,@credit,@id_constraint,@pdate,@DesDetails,@CostCenter,@delegateSal,@user_name,@id_pur,@id_Rpur,@id_sal,@id_Rsal,@balance_,@id_CashCome,@id_CashOut,@visa,@id_PurExpenses,@id_shift,@debt_name,@credit_name,@id_CostCenterSal,@Action_Type,@idBill,@CurrencyPrice,@CashDiscount,@nots )	    
	END
ELSE
   BEGIN
    IF ISNULL(@id_debt,0) >0
    BEGIN
		declare @balance_debt decimal(18, 2)
		select @balance_debt=isnull(SUM(debt-credit),0) from Tree_Account  where id_Account =@id_debt and pdate<=@pdate 
		set @balance_debt=isnull(@balance_debt,0) + @debt
        INSERT INTO Tree_Account(id_Account ,debt,credit,id_constraint,pdate,des,CostCenter,delegateSal,user_name,id_pur,id_Rpur,id_sal,id_Rsal,balance,id_CashCome,id_CashOut,visa,id_PurExpenses,id_shift,debt_name,credit_name,id_CostCenterSal,Action_Type ,idBill,CurrencyPrice,CashDiscount,nots)VALUES (@id_debt,@debt,0,@id_constraint,@pdate,@DesDetails,@CostCenter,@delegateSal,@user_name,@id_pur,@id_Rpur,@id_sal,@id_Rsal,@balance_debt,@id_CashCome,@id_CashOut,@visa,@id_PurExpenses,@id_shift,@debt_name,@credit_name,@id_CostCenterSal,@Action_Type,@idBill,@CurrencyPrice,@CashDiscount,@nots)
    END
    
    IF ISNULL(@id_credit,0)  >0
    BEGIN
      	Declare @balance_credit decimal(18, 2)
		Select @balance_credit=isnull(SUM(debt-credit),0) from Tree_Account  where id_Account =@id_credit and pdate<=@pdate 
		Set @balance_credit=  isnull(@balance_credit,0) - @credit 
        INSERT INTO Tree_Account (id_Account ,debt,credit,id_constraint,pdate,des,CostCenter,delegateSal,user_name,id_pur,id_Rpur,id_sal,id_Rsal,balance,id_CashCome ,id_CashOut,visa ,id_PurExpenses,id_shift,debt_name,credit_name ,id_CostCenterSal,Action_Type,idBill,CurrencyPrice,CashDiscount,nots)VALUES (@id_credit,0,@credit,@id_constraint,@pdate,@DesDetails,@CostCenter,@delegateSal,@user_name,@id_pur,@id_Rpur,@id_sal,@id_Rsal,@balance_credit,@id_CashCome ,@id_CashOut,@visa,@id_PurExpenses,@id_shift,@debt_name,@credit_name,@id_CostCenterSal,@Action_Type,@idBill,@CurrencyPrice,@CashDiscount,@nots)
    END
    
END
END