
create proc [dbo].[PurSave]
        @id_Purchases bigint,
        @ID_pur bigint,
        @ID_CUST bigint,
        @id_store bigint,
        @Pdate datetime,
        @id_bill nVARCHAR (20),
        @AmountPaid float,
        @CashDiscount float,
        @TypePaied tinyint,
        @Total float,
        @TotalTax float, 
        @Tax_Ast INT,
		@user_name nVARCHAR (50),
		@notes nVARCHAR (500),
        @Type_Pur AS Type_Pur readonly,
        @custName nvarchar(100),
        @CashName nvarchar(100),
        @CostCenter nvarchar(100),
        @delegateName nvarchar(100), 
        @Expense float,
        @Transfer float,
        @commission float,
        @CurrencyPrice float,
        @DesExpense nVARCHAR (150),
        @DisName nVARCHAR (350),
        @Current_shift bigint,
        @TalbiaNum bigint,
        @PurName nVARCHAR (250)
as
 BEGIN
  BEGIN  TRY
  BEGIN TRANSACTION
 		IF (@ID_pur <= 0)
		BEGIN
				SELECT'عفوا  الفاتورة رقم صفر  لا يمكن اضافتها'   
				RETURN '0'
		END
		if isnull(@notes,'')='' set @notes =@custName
       delete from Pur_Details where isnull(id_pur,0)=@ID_pur and isnull(id_pur,0)>0
       delete from item_store where isnull(id_pur,0)=@ID_pur and isnull(id_pur,0)>0
       delete from constraint_invoice where isnull(id_pur,0)=@ID_pur and isnull(id_pur,0)>0
DECLARE @id_PurName bigint
SELECT @id_PurName=isnull(id,0) from TREE where aname=@PurName
if isnull(@id_PurName,0)>0 set @id_Purchases =@id_PurName


DECLARE @id_man bigint
SELECT @id_man=isnull(id,0) from TREE where aname=@custName

DECLARE @id_cash bigint=0
SELECT @id_cash=isnull(id,0) from TREE where aname=@CashName
if isnull(@id_cash,0) <=0 SELECT @id_cash=isnull(id,0),@CashName=aname from TREE where id_Trans =500 or  aname=N'النقدية'order by id_Trans desc
----------test
DECLARE @ID bigint
select @ID = id_pur from  Pur_Invoice where id_pur =@id_pur 
IF @ID>0
   BEGIN 
        update Pur_Invoice set TotalTax=@TotalTax, Tax_Ast=@Tax_Ast,DisName=@DisName,TalbiaNum=@TalbiaNum, CurrencyPrice=@CurrencyPrice, commission=@commission,delegateName=@delegateName,Transfer=@Transfer,  ID_CUST=@ID_CUST,id_store=@id_store, id_bill=@id_bill,AmountPaid=@AmountPaid,CashDiscount=@CashDiscount,TypePaied=@TypePaied,Total=@Total,PDATE=@PDATE,user_name=@user_name,notes=@notes,CashName=@CashName,Expense=@Expense,DesExpense=@DesExpense,CostCenter=@CostCenter,PurName=@PurName where id_pur =@id_pur 
     END
ELSE
   BEGIN
       insert into Pur_Invoice  (id_pur,ID_CUST,id_store, id_bill,AmountPaid,CashDiscount,TypePaied,Total,PDATE,user_name,notes,CashName,CostCenter,Expense ,DesExpense,Transfer,commission,CurrencyPrice,id_shift,delegateName,TotalTax,TalbiaNum,Tax_Ast,DisName,PurName)values   (@id_pur,@ID_CUST,@id_store , @id_bill,@AmountPaid,@CashDiscount,@TypePaied,@Total,@PDATE,@user_name,@notes,@CashName,@CostCenter,@Expense ,@DesExpense,@Transfer,@commission ,@CurrencyPrice ,@Current_shift,@delegateName,@TotalTax,@TalbiaNum,@Tax_Ast,@DisName,@PurName)
   END 
----------test


------------insert pur_invoice
---------- -----نوع الدفع شبكة
  if @TypePaied =2 
  BEGIN 
   DECLARE @id_visa BIGINT
    DECLARE @bank_name nvarchar(100)
   SELECT @id_visa= ID,@bank_name= aname FROM Tree WHERE  VISA=1
-------لم يتم دفع على الشبكة
        IF @AmountPaid =0
        BEGIN
           insert into constraint_invoice (id_pur,des,pdate,total,CostCenter,idBill,CurrencyPrice,CashDiscount) values(@id_pur,N'مشتريات الشبكة  '+@custName+'  فاتورة رقم '+CONVERT (nvarchar ,@id_pur),@pdate,@Total ,@CostCenter,@id_bill,@CurrencyPrice,@CashDiscount)
           insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )values(@@IDENTITY,@Total,@Total,@id_visa,@id_purchases,@bank_name,'مشتريات' )
        END
----------لو دفع اكثر على الشبكة      
ELSE
 BEGIN
    Declare @ID_const0 bigint
    IF @AmountPaid > @Total
		BEGIN 
		Insert into constraint_invoice (id_pur,des,pdate,Total,CostCenter,idBill,CurrencyPrice,CashDiscount) values(@id_pur,N' مشتريات بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_pur),@pdate,@AmountPaid,@CostCenter,@id_bill,@CurrencyPrice,@CashDiscount)    
		SET  @ID_const0=@@IDENTITY
		insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )values(@ID_const0,@AmountPaid,@Total,@id_cash,@id_purchases,@CashName,'مشتريات')
        insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )  values (@ID_const0,0,@AmountPaid-@Total ,0,@id_visa,'',@bank_name )

     END
     IF @AmountPaid < @Total
     BEGIN
       Declare @ID_const2 bigint
        Insert into constraint_invoice (id_pur,des,pdate,Total,CostCenter,idBill,CurrencyPrice,CashDiscount) values(@id_pur,N' مشتريات بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_pur),@pdate,@AmountPaid,@CostCenter,@id_bill,@CurrencyPrice,@CashDiscount)    
		SET  @ID_const2=@@IDENTITY  
            Insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ) values(@ID_const2,@Total-@AmountPaid,@Total,@id_visa,@id_purchases ,@bank_name ,'مشتريات' )
            insert into constraint_details  (id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ) values  (@ID_const2,@AmountPaid,0,@id_cash,0,@CashName,'')
      END
    END
   END 
  ------------------------------------------------------------------
ELSE
BEGIN 
-----نوع الدفع نقدى
  if @TypePaied =0  
	   BEGIN
		  insert into constraint_invoice(id_pur,des,pdate,total,CostCenter,idBill,CurrencyPrice,CashDiscount) values(@id_pur,N' شـراء بضاعة نقدى ... فاتورة رقم '+CONVERT (nvarchar ,@id_pur),@pdate,@Total,@CostCenter,@id_bill,@CurrencyPrice,@CashDiscount)
		   Declare @IDEN bigint=@@IDENTITY
		  insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values(@IDEN,@Total,@Total,@id_Purchases,@id_cash,'مشتريات',@CashName)
		  if @id_man>0 insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values(@IDEN,@Total,@Total,@id_man,@id_man ,@custName,@custName )

		END
  ELSE
      BEGIN
----------لم يتم دفع على الفاتور
           if @AmountPaid =0
           BEGIN
                 insert into constraint_invoice(id_pur,des,pdate,total,CostCenter,idBill,CurrencyPrice,CashDiscount) values (@id_pur,N' شـراء بضاعة آجل ... فاتورة رقم '+CONVERT (nvarchar ,@id_pur),@pdate,@Total ,@CostCenter,@id_bill,@CurrencyPrice,@CashDiscount)
                 insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name ) values (@@IDENTITY,@Total,@Total,@id_Purchases,@id_man,'مشتريات',@custName)
            END
            ELSE
----------لو دفع اكثر على الفاتورة
                BEGIN
                    declare @ID_const bigint
                     IF @AmountPaid >= @Total
                      BEGIN 
              Declare @NetTotal float=@AmountPaid
             IF @AmountPaid = @Total SET @NetTotal= @AmountPaid + @Total

                      insert into constraint_invoice(id_pur,des,pdate,Total,CostCenter,idBill,CurrencyPrice,CashDiscount)values(@id_pur,N' شـراء بضاعة بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_pur),@pdate,@NetTotal,@CostCenter,@id_bill,@CurrencyPrice,@CashDiscount)
            
                       SET  @ID_const=@@IDENTITY
                       insert into constraint_details (id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values (@ID_const,@Total,@AmountPaid,@id_Purchases,@id_cash,N'مشتريات',@CashName)
                      --------------
                      IF @AmountPaid > @Total
                          BEGIN
                            insert into constraint_details  (id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ) values (@ID_const,0,@AmountPaid-@Total ,0,@id_man,'',@custName)
                          END
                       ELSE
                        BEGIN
                         insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )  values (@ID_const,@Total ,@Total,@id_man,@id_man,@custName,@custName)
                     
                       END

                      END
                    ELSE
                        BEGIN
 ----------لو دفع اقل من الفاتورة
                    insert into constraint_invoice (id_pur,des,pdate,Total,CostCenter,idBill,CurrencyPrice,CashDiscount) values (@id_pur,N' مشتريات بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_pur),@pdate,@Total+@AmountPaid ,@CostCenter,@id_bill,@CurrencyPrice,@CashDiscount)
                     SET  @ID_const=@@IDENTITY
                     --insert into constraint_details (id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name ) values(@ID_const,@Total,@AmountPaid,@id_Purchases,@id_cash,N'مشتريات',@CashName)
                     --insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values (@ID_const,0,@Total-@AmountPaid,0,@id_man,@custName,@custName)
                    insert into constraint_details (id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name ) values(@ID_const,@Total,@AmountPaid,@id_Purchases,@id_cash,'مشتريات',@CashName)
                     insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values (@ID_const,@AmountPaid,@Total,@id_man,@id_man,@custName,@custName)
                
				   END
                   END 
             END
       END      
	-----------------------------------------------
IF isnull(@commission,0)>0 AND isnull(@total,0)>0
BEGIN
	DECLARE @TotalCommission float =round(@commission* @total/100,2)

	declare @idStore bigint
    select @idStore=id from TREE where aname=N'بضاعة'
    
	declare @idDIS bigint
    select @idDIS=id from TREE where aname=@DisName
   
   insert into constraint_invoice (id_pur,des,pdate,Total,CostCenter,idBill,CurrencyPrice,CashDiscount) values (@id_pur,@custName+'  ' +'//  خصم مؤجل مشتريات رقم  '+CONVERT (nvarchar ,@id_pur),@pdate,@TotalCommission ,@CostCenter,@id_bill,@CurrencyPrice,@CashDiscount)
    SET  @ID_const=@@IDENTITY
   insert into constraint_details (id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name ) values(@ID_const,@TotalCommission,@TotalCommission,@idDIS,@idStore,@DisName,'بضاعة')
END
		---- ض ق م-----------------------------------------------------

		IF @TotalTax>0  
		BEGIN
		DECLARE @IdNEW bigint
		
		SELECT @IdNEW=  id_constraint from constraint_invoice where isnull(id_pur,0)=@ID_pur and isnull(id_pur,0)>0
		DECLARE @IdTax bigint
		declare @TaxName nvarchar(120)
		select @IdTax=id,@TaxName=aname  from TREE where isnull(id_Trans,0)=100
		if isnull(@IdTax,0)>0
		   BEGIN
		        insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values(@IdNEW,Round(ISNULL(@TotalTax,0),2),0,@IdTax,0 ,@TaxName,'')
                UPDATE constraint_details SET debt =isnull(debt,0)- Round(ISNULL(@TotalTax,0),2) WHERE id_debt =@id_Purchases  And id_constraint =@IdNEW
                UPDATE tree_account SET debt =isnull(debt,0)- Round(ISNULL(@TotalTax,0),2) WHERE id_Account =@id_Purchases  And id_constraint =@IdNEW

		    END
		END
		------ ا ت ص-----------------------------------------------------
		IF isnull(@Tax_Ast,0) >0 
		 BEGIN
		   DECLARE @IdNEW2 bigint
		   SELECT @IdNEW2=  id_constraint from constraint_invoice where isnull(id_pur,0)=@id_pur and isnull(id_pur,0)>0
		   DECLARE @IdTax2 bigint
		   declare @TaxName2 nvarchar(120)
		   select @IdTax2=isnull(id,0),@TaxName2=aname  from TREE where isnull(id_Trans,0)=101
		   IF isnull(@IdTax2,0)>0
		      BEGIN
			  DECLARE @TotalTax2 float=((isnull(@Total,0)+isnull(@CashDiscount ,0)-isnull(@TotalTax,0))/100)*@Tax_Ast
			  insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values(@IdNEW2,0,@TotalTax2,0,@IdTax2 ,'',@TaxName2 )
	           
			  UPDATE constraint_details SET credit  = isnull(credit,0)- isnull(@TotalTax2,0) WHERE id_credit =@id_man   And id_constraint =@IdNEW2
               UPDATE tree_account SET credit  = isnull(credit,0)- isnull(@TotalTax2,0) WHERE id_Account =@id_man  And id_constraint =@IdNEW2			   
		       END
		END

		-----------------------------------------------------------------
        DECLARE @id_item bigint
        DECLARE @unit tinyint
        DECLARE @mm nvarchar(4)
        DECLARE @yy tinyint
        DECLARE @QU float
        DECLARE @bones float        
        DECLARE @PR float
        DECLARE @Discount float
        DECLARE @PricePharmacist float
        DECLARE @tax float
        DECLARE @total_item float
        DECLARE @come_big float
        DECLARE @come_Middel float
        DECLARE @come_Small float
        DECLARE @date_expire date
        DECLARE @id_Rpur bigint
        DECLARE @LOT nvarchar(80)
        DECLARE @NetTotalItem float
        DECLARE @StoreNameDetails nvarchar(180)
        DECLARE @des  nvarchar(300)
        DECLARE @c_count float
        DECLARE @IsRequest bit
  --------------insert pur_details
   
DECLARE pur_cursor cursor for
 SELECT id_item,unit,mm,yy,qu,bones,pr,Discount,PricePharmacist,tax,total_item,come_big,come_Middel,come_Small,date_expire,id_Rpur,LOT,NetTotalItem,StoreNameDetails,des,c_count,IsRequest from @Type_Pur ORDER BY id

open pur_cursor
     fetch next from pur_cursor into
                  @id_item,@unit,@mm,@yy,@qu,@bones,@pr,@Discount,@PricePharmacist,@tax,@total_item,@come_big,@come_Middel,@come_Small,@date_expire,@id_Rpur,@LOT,@NetTotalItem,@StoreNameDetails,@des,@c_count,@IsRequest

while @@FETCH_STATUS =0
BEGIN
   DECLARE @IdStoreDetails  BIGINT=0
   SELECT @IdStoreDetails= ID FROM Z_Stores WHERE aname =@StoreNameDetails
   if @IdStoreDetails=0 set @IdStoreDetails= @id_store
     insert into Pur_Details 
                 (ID_pur,unit,id_item,mm,yy,qu,bones,pr,Discount,PricePharmacist,tax,total_item,id_Rpur,LOT,id_store,NetTotalItem,des,c_count,IsRequest)
      values
                 (@ID_pur,@unit,@id_item,@mm,@yy,@qu,@bones,@pr,@Discount,@PricePharmacist,@tax,@total_item,@id_Rpur,@LOT,@IdStoreDetails,@NetTotalItem,@des,@c_count,@IsRequest)
     ----------insert item_store----------------------------------------
     
                  
                   insert into item_store(ID_pur,ID_item,id_store,come_big,come_Middel,come_Small,pdate,pr,Discount,total_item ,NetCost,date_expire,LOT,CostCenter,bones,id_cust,id_shift,idBill,tax)
                        values
                   (@ID_pur,@ID_item,@IdStoreDetails,@come_big,@come_Middel,@come_Small ,@pdate,@PR ,@Discount,@NetTotalItem ,@NetTotalItem,@date_expire,@LOT,@CostCenter,@bones,@id_cust ,@Current_shift,@id_bill,@tax)
				
   --------------------------
      fetch next from pur_cursor into
                  @id_item,@unit,@mm,@yy,@QU,@bones,@pr,@Discount,@PricePharmacist,@tax,@total_item,@come_big,@come_Middel,@come_Small,@date_expire,@id_Rpur,@LOT,@NetTotalItem,@StoreNameDetails,@des,@c_count,@IsRequest

END
close pur_cursor
deallocate pur_cursor
 COMMIT TRANSACTION
 END TRY
    BEGIN CATCH
                 ROLLBACK TRANSACTION
                 SELECT ERROR_MESSAGE() 
    END CATCH
END