

 CREATE proc [dbo].[RpurSave]
       @id_Rpurchases bigint,
        @ID_Rpur bigint,
        @ID_CUST bigint,
        @id_store bigint,
        @Pdate datetime,
        @id_bill nVARCHAR (20),
        @AmountPaid float,
        @CashDiscount float,
        @TypePaied tinyint,
        @Total float,  
        @TotalTax float,     
		@user_name nVARCHAR (50),
		@notes nVARCHAR (500),
        @Type_Rpur AS Type_Rpur readonly,
        @custName nvarchar(100),
        @CashName nvarchar(100), 
        @CostCenter nvarchar(100),
        @Current_shift bigint
as
 begin
   BEGIN  TRY
  BEGIN TRANSACTION
 		IF (@ID_Rpur <= 0)
		BEGIN
				select'عفوا  الفاتورة رقم صفر  لا يمكن اضافتها'   
				RETURN '0'
		END
       delete from Rpur_Details where isnull(id_Rpur,0)=@ID_Rpur and isnull(id_Rpur,0)>0
       delete from Rpur_Invoice where isnull(id_Rpur,0)=@ID_Rpur and isnull(id_Rpur,0)>0
       delete from item_store where isnull(id_Rpur,0)=@ID_Rpur and isnull(id_Rpur,0)>0
       delete from constraint_invoice where isnull(id_Rpur,0)=@ID_Rpur and isnull(id_Rpur,0)>0
------------insert Rpur_invoice
insert into Rpur_Invoice
            (id_Rpur,ID_CUST,id_store, id_bill,AmountPaid,CashDiscount,TypePaied,Total,PDATE,user_name,notes,CashName,CostCenter,id_shift,TotalTax)
	values
	        (@id_Rpur,@ID_CUST,@id_store , @id_bill,@AmountPaid,@CashDiscount,@TypePaied,@Total,@PDATE,@user_name,@notes,@CashName,@CostCenter,@Current_shift,@TotalTax)
------------insert constraint_days
DECLARE @id_man bigint=0
select @id_man=id from TREE where aname=@custName

DECLARE @id_cash bigint
select @id_cash=isnull(id,0) from TREE where aname=@CashName
if isnull(@id_cash,0) <=0 SELECT @id_cash=isnull(id,0),@CashName=aname from TREE where id_Trans =500 or  aname=N'النقدية'order by id_Trans desc


---------- -----نوع الدفع شبكة
  if @TypePaied =2 
  BEGIN 
   DECLARE @id_visa BIGINT
   SELECT @id_visa= ID FROM Tree WHERE  VISA=1
   DECLARE @bank_name nvarchar(100)
   SELECT @bank_name= aname FROM Tree WHERE  VISA=1
-------لم يتم دفع على الشبكة
        IF @AmountPaid =0
        BEGIN
           insert into constraint_invoice (id_Rpur,des,pdate,total,CostCenter,idBill,CashDiscount) values(@id_Rpur,'مرتجعات شراء الشبكة  '+@custName+'  فاتورة رقم '+CONVERT (nvarchar ,@id_Rpur),@pdate,@Total ,@CostCenter,@id_bill,@CashDiscount)
           insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )values(@@IDENTITY,@Total,@Total,@id_Rpurchases,@id_visa,'مرتجعات شراء شبكة',@bank_name )
        END
----------لو دفع اكثر على الشبكة      
ELSE
 BEGIN
    DECLARE @ID_const0 bigint
    IF @AmountPaid > @Total
		BEGIN 
		Insert into constraint_invoice (id_Rpur,des,pdate,Total,CostCenter,idBill,CashDiscount) values(@id_Rpur,' مرتجعات شراء بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_Rpur),@pdate,@AmountPaid,@CostCenter,@id_bill,@CashDiscount)    
		SET  @ID_const0=@@IDENTITY
		insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )values(@ID_const0,@Total,@AmountPaid,@id_Rpurchases,@id_cash,'مرتجعات شراء شبكة',@CashName)
        insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )  values (@ID_const0,@AmountPaid-@Total ,0,@id_visa,0,@bank_name ,'')

     END
     IF @AmountPaid < @Total
     BEGIN
       DECLARE @ID_const2 bigint
        Insert into constraint_invoice (id_Rpur,des,pdate,Total,CostCenter,idBill,CashDiscount) values(@id_Rpur,' مرتجعات شراء بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@id_Rpur),@pdate,@AmountPaid,@CostCenter,@id_bill,@CashDiscount)    
		SET  @ID_const2=@@IDENTITY  
            Insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ) values(@ID_const2,@Total,@Total-@AmountPaid,@id_Rpurchases,@id_visa ,'مرتجعات شراء شبكة',@bank_name  )
            insert into constraint_details  (id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ) values  (@ID_const2,0,@AmountPaid,0,@id_cash,'',@CashName)
      END
    END
   END 
  ------------------------------------------------------------------
ELSE
BEGIN
  if @TypePaied =0  -------------نوع الدفع نقدى
	  BEGIN
		 insert into constraint_invoice(id_Rpur,des,pdate,total,CostCenter,idBill,CashDiscount) values(@id_Rpur,' مردودات مشتريات... فاتورة رقم'+CONVERT (nvarchar ,@id_Rpur),@pdate,@Total,@CostCenter,@id_bill,@CashDiscount)
		 DECLARE @IDEN bigint=@@IDENTITY
		 insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )values(@IDEN,@Total,@Total,@id_Rpurchases,@id_cash,'مردودات مشتريات',@CashName)
		if @id_man>0  insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )values(@IDEN,@Total,@Total,@id_man,@id_man ,@custName,@custName)

	 END
  ELSE
      BEGIN
           if @AmountPaid =0----------لم يتم دفع على الفاتور
			   BEGIN
					 insert into constraint_invoice(id_Rpur,des,pdate,total,CostCenter,idBill,CashDiscount)VALUES (@id_Rpur,' مردودات مشتريات... فاتورة رقم '+CONVERT (nvarchar ,@id_Rpur),@pdate,@Total,@CostCenter ,@id_bill,@CashDiscount)

					 insert into constraint_details (id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )  values(@@IDENTITY,@Total,@Total,@id_Rpurchases,@id_man,'مردودات مشتريات',@custName)
				END
            ELSE
                BEGIN   ---تم الدفع على الفاتورة بجزء
                 DECLARE @ID_const bigint
                     IF @AmountPaid >= @Total----------لو دفع اكثر على الفاتورة
             BEGIN 
             DECLARE @NetTotal float=@AmountPaid
             IF @AmountPaid = @Total SET @NetTotal= @AmountPaid + @Total
              insert into constraint_invoice (id_Rpur,des,pdate,Total,CostCenter,idBill,CashDiscount)  values  (@id_Rpur,' مردودات مشتريات بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@ID_Rpur),@pdate,@NetTotal,@CostCenter,@id_bill,@CashDiscount)
                     SET  @ID_const=@@IDENTITY    
                              insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name,nots )values(@ID_const,@Total,@AmountPaid,@id_RPurchases,@id_cash,'مردودات مشتريات',@CashName,@notes)

   IF @AmountPaid > @Total
                 BEGIN
                    insert into constraint_details (id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name ) values (@ID_const,@AmountPaid-@Total ,0,@id_man,0,@custName,'')
                 END
             ELSE
                  BEGIN
                  insert into constraint_details(id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )  values (@ID_const,@Total ,@Total,@id_man,@id_man,@custName,@custName)
                  END
             END
   ---
                      
                     ELSE
                     BEGIN
                      insert into constraint_invoice(id_Rpur,des,pdate,Total,CostCenter,idBill,CashDiscount)values(@id_Rpur,' مردودات مشتريات بقيمة'+ CONVERT(nvarchar, @Total )+'  مدفوع منها'+ CONVERT(nvarchar, @AmountPaid)+' فاتورة رقم '+CONVERT (nvarchar ,@ID_Rpur),@pdate,@Total,@CostCenter,@id_bill,@CashDiscount)
                  
                     SET  @ID_const=@@IDENTITY
                     
                     insert into constraint_details (id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )  values  (@ID_const,@Total,@Total-@AmountPaid,@id_RPurchases,@id_man,'مردودات مشتريات',@custName)
                     --------------النقدية
                     insert into constraint_details   (id_constraint,credit,debt,id_credit,id_debt,credit_name,debt_name )  values    (@ID_const,0,@AmountPaid,0,@id_cash,'',@CashName)
                   END 
                   END 
             END
  END           
 	------ض ق م----------------------------------------- 
       IF isnull(@TotalTax,0)>0 
		BEGIN
		DECLARE @IdNEW bigint
		select @IdNEW=  id_constraint from constraint_invoice where isnull(ID_Rpur,0)=@ID_Rpur   and isnull(ID_Rpur,0)>0
		DECLARE @IdTax bigint
		DECLARE @TaxName nvarchar(120)
		select @IdTax=id,@TaxName=aname  from TREE where isnull(id_Trans,0)=100
		if isnull(@IdTax,0)>0
		   BEGIN
		         insert into constraint_details(id_constraint,debt,credit,id_debt,id_credit,debt_name,credit_name )values(@IdNEW,0,Round(ISNULL(@TotalTax,0),2),0,@IdTax ,'',@TaxName )
                 UPDATE constraint_details SET credit =isnull(credit,0)- Round(ISNULL(@TotalTax,0),2) WHERE id_credit =@id_Rpurchases   And id_constraint =@IdNEW
                 UPDATE tree_account SET credit =isnull(credit,0)- Round(ISNULL(@TotalTax,0),2) WHERE id_Account =@id_Rpurchases  And id_constraint =@IdNEW

		   END      
        END

	-----------------------------------------------
        DECLARE @id_item bigint
        DECLARE @unit tinyint
        DECLARE @mm tinyint
        DECLARE @yy tinyint
        DECLARE @QU float
        DECLARE @bones float        
        DECLARE @PR float
        DECLARE @Discount float
        DECLARE @PricePharmacist float
        DECLARE @tax float
        DECLARE @total_item float
        DECLARE @out_big float
        DECLARE @out_Middel float
        DECLARE @out_small float
        DECLARE @date_expire date
        DECLARE @c_count float 
  --------------insert Rpur_details
   
DECLARE Rpur_cursor cursor for
 select id_item,unit,qu,bones,pr,Discount,PricePharmacist,tax,total_item,come_big,come_Middel,come_Small,mm,yy,date_expire,c_count from @Type_Rpur

open Rpur_cursor
     fetch next from Rpur_cursor into
                  @id_item,@unit,@qu,@bones,@pr,@Discount,@PricePharmacist,@tax,@total_item,@out_big,@out_Middel,@out_small,@mm,@yy,@date_expire,@c_count

while @@FETCH_STATUS =0
begin   
     insert into Rpur_Details 
                 (ID_Rpur,unit,id_item,qu,bones,pr,Discount,PricePharmacist,tax,total_item,mm,yy,c_count)
      values
                 (@ID_Rpur,@unit,@id_item,@qu,@bones,@pr,@Discount,@PricePharmacist,@tax,@total_item,@mm,@yy,@c_count)
     ----------insert item_store

                   
                   insert into item_store(ID_Rpur,ID_item,id_store,out_big,out_Middel,out_Small,pdate,pr,Discount,total_item,NetCost  ,id_cust,CostCenter,date_expire,id_shift,tax,c_count)
                        values
                   (@ID_Rpur,@ID_item,@ID_Store,@out_big,@out_Middel,@out_small ,@pdate,@pr,@Discount,@total_item,@total_item*-1,@id_cust,@CostCenter,@date_expire,@Current_shift,@tax,@c_count)
           

   
   --------------------------
      fetch next from Rpur_cursor into
                  @id_item,@unit,@QU,@bones,@pr,@Discount,@PricePharmacist,@tax,@total_item,@out_big,@out_Middel,@out_small,@mm,@yy,@date_expire,@c_count

END
close Rpur_cursor
deallocate Rpur_cursor
 COMMIT TRANSACTION
 END TRY
    BEGIN CATCH
                 ROLLBACK TRANSACTION
                 SELECT ERROR_MESSAGE() 
    END CATCH
END