

CREATE proc [dbo].[StoreConvertSave]
        @id_order bigint,
        @Pdate datetime,
		@notes nVARCHAR (150),
		@user_name nVARCHAR (50),
		@CostCenter nVARCHAR (100),
        @Type_Convert AS Type_Convert readonly,
        @idBill nVARCHAR (50),
        @WorkNum nVARCHAR (50),
        @id_Select INT
as
 begin
  BEGIN  TRY
  BEGIN TRANSACTION
       delete from Store_details where id_order=@id_order
       delete from Store_invoice where id_order=@id_order
       delete from item_store where id_Convert=@id_order
  ---------------------------------     
insert into Store_invoice
            (id_order,Pdate,notes,user_name,CostCenter,idBill,WorkNum,id_Select)
values
	        (@id_order,@Pdate,@notes,@user_name,@CostCenter,@idBill,@WorkNum,@id_Select)
----------------------------------------------------------------	        
declare @id_item bigint
declare @unit tinyint

declare @id_storeFrom bigint
declare @id_storeTo bigint

declare @storeFrom nvarchar(50)
declare @storeTo nvarchar(50)

declare @QU float
declare @QuGood float
declare @pr float

declare @QU_big float
declare @QU_Middel float
declare @QU_Small float      
declare @LOT nvarchar(100)
declare @date_expire date

 --------------insert Store_details   
declare Convert_cursor cursor for
 select id_item,unit,id_storeFrom,id_storeTo,storeFrom,storeTo,qu,QuGood,pr,QU_big,QU_Middel,QU_Small,LOT,date_expire from @Type_Convert

open Convert_cursor
     fetch next from Convert_cursor into
      @id_item,@unit,@id_storeFrom,@id_storeTo,@storeFrom,@storeTo,@qu,@QuGood,@pr,@QU_big,@QU_Middel,@QU_Small,@LOT,@date_expire
while @@FETCH_STATUS =0
begin 

If @date_expire = '1/1/1999' set @date_expire = null
----------insert Store_details----------------------------------------
     insert into Store_details 
                 (id_Order,id_item,unit,id_storeFrom,id_storeTo,storeFrom,storeTo,qu,QuGood,pr,expire_date,LOT)
      values
                 (@id_order,@id_item,@unit,@id_storeFrom,@id_storeTo,@storeFrom,@storeTo,@qu,@QuGood,@pr,@date_expire,@LOT )
----------insert item_store----------------------------------------
insert into
          item_store(id_Convert,ID_item,id_store,come_big,come_Middel,come_Small,pdate,pr,CostCenter ,LOT)
values
         (@id_order,@ID_item,@id_storeTo,@QU_big,@QU_Middel,@QU_Small ,@pdate,@PR,@CostCenter,@LOT )
 --------------------------

  insert into
          item_store(id_Convert,ID_item,id_store,OUT_big,OUT_Middel,OUT_Small,pdate,pr ,LOT)
values
         (@id_order,@ID_item,@id_storeFrom,@QU_big,@QU_Middel,@QU_Small ,@pdate,@PR, @LOT)
 
      fetch next from Convert_cursor into
      @id_item,@unit,@id_storeFrom,@id_storeTo,@storeFrom,@storeTo,@qu,@QuGood,@pr,@QU_big,@QU_Middel,@QU_Small,@LOT,@date_expire

END
close Convert_cursor
deallocate Convert_cursor
 COMMIT TRANSACTION
 END TRY
    BEGIN CATCH
                 ROLLBACK TRANSACTION
                 SELECT ERROR_MESSAGE() 
    END CATCH
END




